Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, assets cache, dependencies, ios, fastlane, asset cache, web, tests, database, l10n, history, settings, food preferences, onboarding, nutrition input, scan, mlkit, product addition, product page, knowledge panels, robotoff, summary card, analytics, goldens, github, User management, category picker, ranking, generic lib, photo cropping, user lists

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
android:
- packages/smooth_app/android/**/*

assets cache:
- packages/smooth_app/assets/cache/

dependencies:
- packages/smooth_app/pubspec.yaml

ios:
- packages/smooth_app/ios/**/*

fastlane:
- packages/smooth_app/ios/Gemfile.lock
- packages/smooth_app/android/Gemfile.lock

asset cache:
- packages/smooth_app/assets/cache/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart

food preferences:
- packages/smooth_app/lib/widgets/attribute_button.dart

onboarding:
- packages/smooth_app/lib/pages/onboarding/**/*
- packages/smooth_app/assets/onboarding/**/*

nutrition input:
- packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart

scan:
- packages/smooth_app/lib/pages/scan/**/*
- packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
- packages/smooth_app/lib/pages/scan/scan_page.dart
- packages/smooth_app/lib/pages/scan/scanner_overlay.dart
- packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
- packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
- packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
- packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

mlkit:
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

product addition:
- packages/smooth_app/lib/pages/product/add_new_product_page.dart
- packages/smooth_app/lib/pages/product/new_product_page.dart

product page:
- packages/smooth_app/lib/pages/product/**/*

knowledge panels:
- packages/smooth_app/lib/cards/product_cards/knowledge_panels/

robotoff:
- packages/smooth_app/lib/database/robotoff_questions_query.dart
- packages/smooth_app/lib/cards/product_cards/question_card.dart

summary card:
- packages/smooth_app/lib/pages/product/summary_card.dart

analytics:
- packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
- packages/smooth_app/assets/onboarding/analytics.svg

goldens:
- packages/smooth_app/test/pages/goldens

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
- packages/smooth_app/lib/pages/user_management/sign_up_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/pages/user_preferences_settings.dart
- packages/smooth_app/lib/pages/user_preferences_food.dart
- packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
- packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart

#tag picker:

category picker:
- packages/smooth_app/lib/data_models/category_tree_supplier.dart
- packages/smooth_app/example/smooth_category_picker_example.dart
- packages/smooth_app/generic_lib/dialogs/smooth_category_picker.dart
- packages/smooth_app/test/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/lib/data_models/category_query_model.dart
- packages/smooth_app/lib/data_models/query_category_tree_supplier.dart
- packages/smooth_app/lib/data_models/smooth_category.dart

ranking:
- packages/smooth_app/lib/helpers/product_compatibility_helper.dart

generic lib:
- packages/smooth_app/lib/generic_lib

photo cropping:
- packages/smooth_app/lib/pages/image_crop_page.dart

user lists:
- packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
- packages/smooth_app/lib/pages/product/common/product_list_page.dart

fix: issue 3133 backbutton visible now
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
Labels: none

ci: fix: dont release on forks
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  .github/workflows/update-assets.yml
Labels: github

ci: fix: dont release on forks (#3138)
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  .github/workflows/update-assets.yml
Labels: github

fix: Github input env
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
Labels: github

ci: fix: GitHub actions input env (#3140)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
Labels: github

Fix postsubmit action
  .github/workflows/postsubmit.yml
Labels: github

Move to fastlane (gem) files
  packages/app/android/.ruby-version
  packages/app/android/Gemfile
  packages/app/android/Gemfile.lock
  packages/app/ios/.ruby-version
  packages/app/ios/Gemfile
  packages/app/ios/Gemfile.lock
Labels: none

fix: Fix postsubmit action (#3141)
  .github/workflows/postsubmit.yml
Labels: github

Move to fastlane (gem) files (#3142)
  packages/app/android/.ruby-version
  packages/app/android/Gemfile
  packages/app/android/Gemfile.lock
  packages/app/ios/.ruby-version
  packages/app/ios/Gemfile
  packages/app/ios/Gemfile.lock
Labels: none

Fix folders
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

fix: Fix folders in GitHub Actions (#3144)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

Update postsubmit.yml
  .github/workflows/postsubmit.yml
Labels: github

Update ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

fix: building for realz
  packages/app/ios/fastlane/Fastfile
Labels: none

Update ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

Add the product name or barcode on each sub page of the edit mode (#3130)
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: nutrition input, product page

feat: Product edition - animation for the AppBar title (#3120)
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

feat: Nutrition page improvements (#3121)
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/portion_helper.dart
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: nutrition input, product page

feat: Improvement for adding a product to lists (#3126)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: l10n, user lists

Fix brightness on iOS (#3132)
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: product page

Update assets
  packages/smooth_app/assets/onboarding/sample_product_data.json
Labels: onboarding

Change iOS bundle id
  packages/app/ios/Runner.xcodeproj/project.pbxproj
Labels: none

fix: Change iOS bundle id (#3148)
  packages/app/ios/Runner.xcodeproj/project.pbxproj
Labels: none

Migration to Flutter 3.3.x
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: dependencies, tests, onboarding, scan, product addition, product page, github

fix: Migration to Flutter 3.3.x (#3151)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: dependencies, tests, onboarding, scan, product addition, product page, github

fix: New off-dart version
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, nutrition input, product page

fix: Tests
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/test/users/registration_login_test.dart
Labels: tests, product page

Update nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
Labels: product page

Update registration_login_test.dart
  packages/smooth_app/test/users/registration_login_test.dart
Labels: tests

fix : issue backbutton not visible
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product addition, product page

Code review
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/test/users/registration_login_test.dart
Labels: tests, nutrition input, product page

Update README.md
  packages/app/README.md
Labels: none

fix: No osm subdomain
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/pubspec.lock
Labels: none

ci: Github upload fix
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: github

fix: #3018 - temporary work and refactoring
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_operation.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_transient_operation.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
Labels: ios, database, product addition, product page, summary card

fix : secondary button hard to differentiate
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none

ci: Github upload fix (#3154)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: github

Even simpler review
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/pubspec.lock
Labels: nutrition input, product page

fix : issue #2988
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none

formatting issue
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none
