Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, macos, assets cache, background tasks, documentation, dependencies, ios, fastlane, asset cache, web, tests, database, l10n, history, settings, food preferences, onboarding, nutrition input, scan, mlkit, Amazon Appstore, fdroid, Huawei AppGallery, zxing, product addition, product page, knowledge panels, robotoff, hunger games, summary card, analytics, goldens, github, User management, category picker, ranking, generic lib, photo cropping, user lists, product scan carousel, packaging input, basic info input

doc: add mention of openfoodfacts_flutter_lints in README
  README.md
Labels: documentation

quick fix
  packages/smooth_app/fastlane/metadata/en-US/54.txt
  packages/smooth_app/fastlane/metadata/en-US/full_description.txt
  packages/smooth_app/fastlane/metadata/en-US/images/featureGraphic.png
  packages/smooth_app/fastlane/metadata/en-US/images/icon.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/1.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/2.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/3.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/4.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/5.png
  packages/smooth_app/fastlane/metadata/en-US/short_description.txt
  packages/smooth_app/fastlane/metadata/en-US/title.txt
Labels: none

fix: 3953 - using dart format instead of flutter format
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: github

fix: 3953 - explicitly using flutter 3.7.12 as 3.10 is available (#3956)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: github

fix: 3953 - tap dancing back to flutter 3.7
  .github/workflows/presubmit.yml
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test_driver/screenshot_driver.dart
Labels: dependencies, tests, github

Rolling back the matomo tracker upgrade
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, analytics

chore: 3943 - removed unused package from pubspec.yaml (#3944)
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

doc: add mention of openfoodfacts_flutter_lints in README (#3957)
  README.md
Labels: documentation

fix: 3951 - left-aligned icons for KP action buttons (#3952)
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/pubspec.lock
Labels: product page

refact: score card refactoring
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/score_card_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

fix: 3899 - back to the main photo page after cropping from gallery (#3938)
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_pl.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_ro.arb
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
Labels: l10n

fix: 3595 - transient file refactoring and fixes (#3939)
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: background tasks, database, product page

feat: 3880 - added a "get photo" button on the edit packaging component page (#3942)
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input, product page, packaging input

fix: Pubspec.lock
  packages/smooth_app/pubspec.lock
Labels: none

refact: score card refactoring (#3961)
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/score_card_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

chore: upgrade - flutter_svg, camera (#3945)
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_thanks.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, product page

Formatting issue fixed
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

fix: 3865 Insufficient contrast for the error banner (#3940)
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

Update assets
  packages/smooth_app/assets/onboarding/sample_product_data.json
Labels: onboarding

fix: 3964 - text messages instead of circular indicator for crop page + isolate
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/helpers/image_compute_container.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
Labels: l10n

new visuals
  packages/smooth_app/fastlane/metadata/en-US/images/featureGraphic.png
  packages/smooth_app/fastlane/metadata/en-US/images/icon.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/1.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/2.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/3.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/4.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/5.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/6.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/7.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/8.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/9.png
Labels: none

feat: 2910 - refreshed the "no product found" dialog
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan, product page

fix: add fastlane for English, before we can find a more i18n solution for F-Droid (#3960)
  packages/smooth_app/fastlane/metadata/en-US/54.txt
  packages/smooth_app/fastlane/metadata/en-US/full_description.txt
  packages/smooth_app/fastlane/metadata/en-US/images/featureGraphic.png
  packages/smooth_app/fastlane/metadata/en-US/images/icon.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/1.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/2.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/3.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/4.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/5.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/6.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/7.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/8.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/9.png
  packages/smooth_app/fastlane/metadata/en-US/short_description.txt
  packages/smooth_app/fastlane/metadata/en-US/title.txt
Labels: none

feat: 2910 - paddings and localized labels
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: l10n, product page

feat: 2910 - fixed 1 label
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

fix: 3964 - text messages instead of circular indicator for crop page + isolate (#3965)
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/helpers/image_compute_container.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
Labels: l10n

fix: `The Scrollbar's ScrollController has no ScrollPosition attached` (#3808)
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

Apply suggestions from code review
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
Labels: none

feat: 2910 - padding tap dancing
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: product page

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
android:
- packages/smooth_app/android/**/*

macos:
- packages/smooth_app/macos/**/*

assets cache:
- packages/smooth_app/assets/cache/

background tasks:
- packages/smooth_app/lib/background/background_task_manager.dart
- packages/smooth_app/lib/pages/offline_tasks_page.dart

documentation:
- README.md
- packages/smooth_app/android/fastlane/README.md
- packages/smooth_app/README.md
- packages/smooth_app/lib/l10n/README.md

dependencies:
- packages/smooth_app/pubspec.yaml
- packages/data_importer/pubspec.yaml
- packages/scanner/zxing/pubspec.yaml
- packages/scanner/ml_kit/pubspec.yaml
- packages/scanner/shared/pubspec.yaml
- packages/app_store/shared/pubspec.yaml
- packages/app_store/uri_store/pubspec.yaml
- packages/data_importer_shared/pubspec.yaml
- packages/app_store/google_play/pubspec.yaml
- packages/app_store/apple_app_store/pubspec.yaml

ios:
- packages/smooth_app/ios/**/*

fastlane:
- packages/smooth_app/ios/Gemfile.lock
- packages/smooth_app/android/Gemfile.lock

asset cache:
- packages/smooth_app/assets/cache/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*
- packages/smooth_app/test/widget_test.dart
- packages/smooth_app/test/basic_test.dart
- packages/scanner/shared/test/shared_test.dart
- packages/smooth_app/test/cache/cache_test.dart
- packages/smooth_app/integration_test/app_test.dart
- packages/data_importer/test/data_importer_test.dart
- packages/scanner/mlkit/test/scanner_mlkit_test.dart
- packages/smooth_app/test/plural_translation_test.dart
- packages/smooth_app/test/smooth_ui_library/basic_test.dart
- packages/smooth_app/test/utils/string_extensions_test.dart
- packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
- packages/smooth_app/test/pages/user_preferences_page_test.dart
- packages/smooth_app/test/utils/text_input_formatters_tests.dart
- packages/data_importer_shared/test/data_importer_shared_test.dart
- packages/smooth_app/test/tests_utils/mocks.dart
- packages/smooth_app/test/tests_utils/goldens.dart
- packages/smooth_app/test_driver/screenshot_driver.dart
- packages/smooth_app/test/pages/generic_lib/widgets/smooth_error_card_test.dart
- packages/smooth_app/test/smooth_ui_library/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/test/tests_utils/path_provider_mock.dart
- packages/smooth_app/test/smooth_ui_library/animations/smooth_reveal_animation_test.dart

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart

food preferences:
- packages/smooth_app/lib/widgets/attribute_button.dart

onboarding:
- packages/smooth_app/lib/pages/onboarding/**/*
- packages/smooth_app/assets/onboarding/**/*

nutrition input:
- packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart

scan:
- packages/smooth_app/lib/pages/scan/**/*
- packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
- packages/smooth_app/lib/pages/scan/scan_page.dart
- packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

mlkit:
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

Amazon Appstore:
- packages/smooth_app/lib/entrypoints/android/main_amazon_appstore.dart,

fdroid:
- packages/smooth_app/lib/entrypoints/android/main_fdroid.dart,

Huawei AppGallery:
- packages/smooth_app/lib/entrypoints/android/main_huawei_appgallery.dart,

zxing:
- packages/scanner/zxing/**/*

product addition:
- packages/smooth_app/lib/pages/product/add_new_product_page.dart
- packages/smooth_app/lib/pages/product/new_product_page.dart

product page:
- packages/smooth_app/lib/pages/product/**/*

knowledge panels:
- packages/smooth_app/lib/cards/product_cards/knowledge_panels/

robotoff:
- packages/smooth_app/lib/database/robotoff_questions_query.dart
- packages/smooth_app/lib/cards/product_cards/question_card.dart

hunger games:
- packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
- packages/smooth_app/lib/pages/hunger_games/question_card.dart

summary card:
- packages/smooth_app/lib/pages/product/summary_card.dart

analytics:
- packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
- packages/smooth_app/assets/onboarding/analytics.svg
- packages/smooth_app/lib/helpers/analytics_helper.dart

goldens:
- packages/smooth_app/test/pages/goldens
- packages/smooth_app/test/tests_utils/goldens.dart
- packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
- packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
- packages/smooth_app/test/smooth_ui_library/widgets/goldens/smooth_view_finder.png
- packages/smooth_app/test/smooth_ui_library/widgets/goldens/smooth_view_finder-animation.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
- packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
- packages/smooth_app/lib/pages/user_management/sign_up_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/pages/user_preferences_settings.dart
- packages/smooth_app/lib/pages/user_preferences_food.dart
- packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
- packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart

#tag picker:

category picker:
- packages/smooth_app/lib/data_models/category_tree_supplier.dart
- packages/smooth_app/example/smooth_category_picker_example.dart
- packages/smooth_app/generic_lib/dialogs/smooth_category_picker.dart
- packages/smooth_app/test/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/lib/data_models/category_query_model.dart
- packages/smooth_app/lib/data_models/query_category_tree_supplier.dart
- packages/smooth_app/lib/data_models/smooth_category.dart

ranking:
- packages/smooth_app/lib/helpers/product_compatibility_helper.dart

generic lib:
- packages/smooth_app/lib/generic_lib

photo cropping:
- packages/smooth_app/lib/pages/image_crop_page.dart

user lists:
- packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
- packages/smooth_app/lib/pages/product/common/product_list_page.dart

product scan carousel:
- packages/smooth_app/lib/widgets/smooth_product_carousel.dart

packaging input:
- packages/smooth_app/lib/pages/product/edit_new_packagings.dart
- packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart

basic info input:
- packages/smooth_app/lib/pages/product/add_basic_details_page.dart
