Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, assets cache, dependencies, ios, fastlane, asset cache, web, tests, database, l10n, history, settings, food preferences, onboarding, nutrition input, scan, mlkit, product addition, product page, knowledge panels, robotoff, summary card, analytics, goldens, github, User management, category picker, ranking, generic lib, photo cropping, user lists

Fix: iOS camera permission not working
  packages/app/ios/Podfile
Labels: none

Onboarding: ensure the bottom padding is consistent across screens on iOS
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: onboarding

fix: backbutton now visible (#3170)
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

chore: New Crowdin translations
  packages/smooth_app/lib/l10n/app_bg.arb
  packages/smooth_app/lib/l10n/app_cs.arb
Labels: l10n

fix: appbar now differentiable issue #2635 (#3172)
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

Onboarding: ensure the bottom padding is consistent across screens on iOS (#3192)
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: onboarding

fix: iOS camera permission not working (#3191)
  packages/app/ios/Podfile
Labels: none

fix: #3046 - refactored NutritionPage around Nutrient
  packages/app/pubspec.lock
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/portion_helper.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, nutrition input, product page

fix: #3046 - unrelated test fix
  packages/smooth_app/test/users/registration_login_test.dart
Labels: tests

fix: #3188 - colored button for "ignore" in hunger games
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
android:
- packages/smooth_app/android/**/*

assets cache:
- packages/smooth_app/assets/cache/

dependencies:
- packages/smooth_app/pubspec.yaml

ios:
- packages/smooth_app/ios/**/*

fastlane:
- packages/smooth_app/ios/Gemfile.lock
- packages/smooth_app/android/Gemfile.lock

asset cache:
- packages/smooth_app/assets/cache/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart

food preferences:
- packages/smooth_app/lib/widgets/attribute_button.dart

onboarding:
- packages/smooth_app/lib/pages/onboarding/**/*
- packages/smooth_app/assets/onboarding/**/*

nutrition input:
- packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart

scan:
- packages/smooth_app/lib/pages/scan/**/*
- packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
- packages/smooth_app/lib/pages/scan/scan_page.dart
- packages/smooth_app/lib/pages/scan/scanner_overlay.dart
- packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
- packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
- packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
- packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

mlkit:
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

product addition:
- packages/smooth_app/lib/pages/product/add_new_product_page.dart
- packages/smooth_app/lib/pages/product/new_product_page.dart

product page:
- packages/smooth_app/lib/pages/product/**/*

knowledge panels:
- packages/smooth_app/lib/cards/product_cards/knowledge_panels/

robotoff:
- packages/smooth_app/lib/database/robotoff_questions_query.dart
- packages/smooth_app/lib/cards/product_cards/question_card.dart

summary card:
- packages/smooth_app/lib/pages/product/summary_card.dart

analytics:
- packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
- packages/smooth_app/assets/onboarding/analytics.svg

goldens:
- packages/smooth_app/test/pages/goldens

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
- packages/smooth_app/lib/pages/user_management/sign_up_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/pages/user_preferences_settings.dart
- packages/smooth_app/lib/pages/user_preferences_food.dart
- packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
- packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart

#tag picker:

category picker:
- packages/smooth_app/lib/data_models/category_tree_supplier.dart
- packages/smooth_app/example/smooth_category_picker_example.dart
- packages/smooth_app/generic_lib/dialogs/smooth_category_picker.dart
- packages/smooth_app/test/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/lib/data_models/category_query_model.dart
- packages/smooth_app/lib/data_models/query_category_tree_supplier.dart
- packages/smooth_app/lib/data_models/smooth_category.dart

ranking:
- packages/smooth_app/lib/helpers/product_compatibility_helper.dart

generic lib:
- packages/smooth_app/lib/generic_lib

photo cropping:
- packages/smooth_app/lib/pages/image_crop_page.dart

user lists:
- packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
- packages/smooth_app/lib/pages/product/common/product_list_page.dart
