Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, assets cache, dependencies, ios, fastlane, asset cache, web, tests, database, l10n, history, settings, food preferences, onboarding, nutrition input, scan, mlkit, product addition, product page, knowledge panels, robotoff, summary card, analytics, goldens, github, User management, category picker, ranking, generic lib, photo cropping, user lists

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
android:
- packages/smooth_app/android/**/*

assets cache:
- packages/smooth_app/assets/cache/

dependencies:
- packages/smooth_app/pubspec.yaml

ios:
- packages/smooth_app/ios/**/*

fastlane:
- packages/smooth_app/ios/Gemfile.lock
- packages/smooth_app/android/Gemfile.lock

asset cache:
- packages/smooth_app/assets/cache/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart

food preferences:
- packages/smooth_app/lib/widgets/attribute_button.dart

onboarding:
- packages/smooth_app/lib/pages/onboarding/**/*
- packages/smooth_app/assets/onboarding/**/*

nutrition input:
- packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart

scan:
- packages/smooth_app/lib/pages/scan/**/*
- packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
- packages/smooth_app/lib/pages/scan/scan_page.dart
- packages/smooth_app/lib/pages/scan/scanner_overlay.dart
- packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
- packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
- packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
- packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

mlkit:
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

product addition:
- packages/smooth_app/lib/pages/product/add_new_product_page.dart
- packages/smooth_app/lib/pages/product/new_product_page.dart

product page:
- packages/smooth_app/lib/pages/product/**/*

knowledge panels:
- packages/smooth_app/lib/cards/product_cards/knowledge_panels/

robotoff:
- packages/smooth_app/lib/database/robotoff_questions_query.dart
- packages/smooth_app/lib/cards/product_cards/question_card.dart

summary card:
- packages/smooth_app/lib/pages/product/summary_card.dart

analytics:
- packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
- packages/smooth_app/assets/onboarding/analytics.svg

goldens:
- packages/smooth_app/test/pages/goldens

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
- packages/smooth_app/lib/pages/user_management/sign_up_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/pages/user_preferences_settings.dart
- packages/smooth_app/lib/pages/user_preferences_food.dart
- packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
- packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart

#tag picker:

category picker:
- packages/smooth_app/lib/data_models/category_tree_supplier.dart
- packages/smooth_app/example/smooth_category_picker_example.dart
- packages/smooth_app/generic_lib/dialogs/smooth_category_picker.dart
- packages/smooth_app/test/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/lib/data_models/category_query_model.dart
- packages/smooth_app/lib/data_models/query_category_tree_supplier.dart
- packages/smooth_app/lib/data_models/smooth_category.dart

ranking:
- packages/smooth_app/lib/helpers/product_compatibility_helper.dart

generic lib:
- packages/smooth_app/lib/generic_lib

photo cropping:
- packages/smooth_app/lib/pages/image_crop_page.dart

user lists:
- packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
- packages/smooth_app/lib/pages/product/common/product_list_page.dart

chore: migrate to OFF SDK 1.26.0 (#3153)
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/users/registration_login_test.dart
Labels: dependencies, tests, nutrition input, product page

ci: fix: unexpected token
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
Labels: github

chore: openfoodfacts: 1.26.1
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/users/registration_login_test.dart
Labels: dependencies, tests

Update presubmit.yml
  .github/workflows/presubmit.yml
Labels: github

fix: #3018 - temporary work and refactoring
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/data_models/up_to_date_helper.dart
  packages/smooth_app/lib/data_models/up_to_date_operation.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_transient_operation.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: database, product addition, product page, summary card, user lists

fix: use newer api method
  packages/app/pubspec.lock
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
Labels: product page, summary card

ci: fix: unexpected token (#3165)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/presubmit.yml
Labels: github

chore: format
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

chore: use list instead of set when possible
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

chore: add launch.json for vscode
  .vscode/launch.json
Labels: none

chore: New Crowdin translations
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_nl.arb
  packages/smooth_app/lib/l10n/app_ro.arb
Labels: l10n

Updated README.md
  CONTRIBUTING.md
  README.md
Labels: none

refactor: extract QuestionAnswerOptions and QuestionCard
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
Labels: none

feat: hide hunger games behind a dev flag
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: none

Apply suggestions from code review
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
Labels: none

refactor: use constants for colors in question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
Labels: none

feat!: hunger games (#3102)
  packages/app/pubspec.lock
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
Labels: l10n, product page, summary card

fix: backbutton now visible
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

fix: secondary button now differentiable
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none

fix: appbar now differentiable issue #2635
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

fix: #3018 - now working for local changes (label, category, country)
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
Labels: product page

chore: add launch.json for vscode (#3166)
  .vscode/launch.json
Labels: none

fix: #3018 - added interest in barcodes
  packages/smooth_app/lib/data_models/personalized_ranking_model.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product addition, product page, summary card

fix: changes to secondary button issue
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none

changes
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: none

feat: #3065 - using Robotoff question imageUrl if available
  packages/app/ios/Podfile.lock
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
Labels: ios

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: none

feat: #3065 - using Robotoff question imageUrl if available (#3178)
  packages/app/ios/Podfile.lock
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
Labels: ios

Update README.md
  README.md
Labels: none

doc: Updated README.md (#3168)
  CONTRIBUTING.md
  README.md
Labels: none

doc: Make the guide how to run the app more visible
  CONTRIBUTING.md
  README.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

docs: Make the guide how to run the app more visible (#3180)
  CONTRIBUTING.md
  README.md
Labels: none

make links clickable again
  packages/smooth_app/lib/helpers/launch_url_helper.dart
Labels: none

make links clickable again (#3182)
  packages/smooth_app/lib/helpers/launch_url_helper.dart
Labels: none

ci: update the PR template with semantic prefixes
  .github/pull_request_template.yml
Labels: github

ci: update the PR template with semantic prefixes (#3183)
  .github/pull_request_template.yml
Labels: github

Update assets
  packages/smooth_app/assets/onboarding/sample_product_data.json
Labels: onboarding

added golden files and test for contribute page dialogs
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
Labels: tests
