Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, web, tests, database, l10n, history, settings, scan, product page, github, User management

Fix imports
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
Labels: none

Onboarding flow - Preference page (#866)
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page

feat: #870 - new UI for attribute buttons and user preference titles
  packages/smooth_app/assets/data/important.svg
  packages/smooth_app/assets/data/mandatory.svg
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
  packages/smooth_app/lib/widgets/attribute_dialog.dart
  packages/smooth_app/lib/widgets/attribute_helper.dart
Labels: none

labeler-only-on-local-branches (#865)
  .github/workflows/label.yml
Labels: github

feat: Better user management buttons in preferences
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: l10n, User management

Code review
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: none

feat: Better user management buttons in preferences (#872)
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: l10n, User management

Deploying to gh-pages from @ openfoodfacts/smooth-app@174b1f73cc6945e56f87a3ffd249d9979a10a23c 🚀
  helpers_user_management_helper/UserManagementHelper-class.html
  helpers_user_management_helper/UserManagementHelper/credentialsInStorage.html
  helpers_user_management_helper/UserManagementHelper/isPasswordValid.html
  helpers_user_management_helper/UserManagementHelper/isUsernameValid.html
  helpers_user_management_helper/UserManagementHelper/login.html
  helpers_user_management_helper/UserManagementHelper/logout.html
  helpers_user_management_helper/UserManagementHelper/mountCredentials.html
  helpers_user_management_helper/UserManagementHelper/put.html
  helpers_user_management_helper/UserManagementHelper/validateCredentials.html
  index.json
  pages_user_preferences_profile/UserPreferencesProfile/getBody.html
Labels: none

feat: #870 - golden refresh
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: tests

feat: #870 - new UI for attribute buttons and user preference titles (#871)
  packages/smooth_app/assets/data/important.svg
  packages/smooth_app/assets/data/mandatory.svg
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
  packages/smooth_app/lib/widgets/attribute_dialog.dart
  packages/smooth_app/lib/widgets/attribute_helper.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: tests

feat: Working ML-Kit scanner without adding to ContinuousScanModel
  packages/smooth_app/ios/Podfile
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: ios, scan

feature/#886 - added 3 "add" buttons for scores
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: l10n, product page

feat: Fully working ml kit scanner
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: scan

Cleanup
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: scan

CI/CD: Flutter install cache
  .github/workflows/android-release.yml
  .github/workflows/dartdoc.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: github

fix
  .github/workflows/android-release.yml
  .github/workflows/dartdoc.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: github

Update pubspec.yaml
  packages/smooth_app/pubspec.yaml
Labels: none

Update pubspec.yaml
  packages/smooth_ui_library/pubspec.yaml
Labels: none

CI/CD flutter cache (#894)
  .github/workflows/android-release.yml
  .github/workflows/dartdoc.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/pubspec.yaml
Labels: github

fix: Plural translation
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

Deploying to gh-pages from @ openfoodfacts/smooth-app@8af0208a743f6a89cf1cb01d3ca4c02d63fe1e2d 🚀
  cards_data_cards_score_card/CardEvaluation/toString.html
  cards_data_cards_smooth_data_card/SmoothDataCardFormat/toString.html
  data_models_continuous_scan_model/ScannedProductState/toString.html
  data_models_fetched_product/FetchedProductStatus/toString.html
  data_models_product_list/ProductListType/toString.html
  data_models_product_query_model/LoadingStatus/toString.html
  database_keywords_product_query/KeywordsProductQuery/toString.html
  helpers_attributes_card_helper/AttributeEvaluation/toString.html
  helpers_product_compatibility_helper/ProductCompatibility/toString.html
  pages_onboarding_onboarding_flow_navigator/OnboardingPage/toString.html
  pages_page_manager/BottomNavigationTab/toString.html
  pages_product_new_product_page/ProductPageMenuItem/toString.html
  themes_smooth_theme/ColorDestination/toString.html
Labels: none

fix: Plural translation (#896)
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

feature/#886 - added 3 "add" buttons for scores (#889)
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: l10n, product page

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
android:
- packages/smooth_app/android/**/*

ios:
- packages/smooth_app/ios/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart


scan:
- packages/smooth_app/lib/pages/scan/**/*

product page:
- packages/smooth_app/lib/pages/product/**/*

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart
