Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, assets cache, dependencies, ios, fastlane, asset cache, web, tests, database, l10n, history, settings, food preferences, onboarding, nutrition input, scan, mlkit, product addition, product page, knowledge panels, robotoff, summary card, analytics, goldens, github, User management, category picker, ranking, generic lib, photo cropping, user lists

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
android:
- packages/smooth_app/android/**/*

assets cache:
- packages/smooth_app/assets/cache/

dependencies:
- packages/smooth_app/pubspec.yaml

ios:
- packages/smooth_app/ios/**/*

fastlane:
- packages/smooth_app/ios/Gemfile.lock
- packages/smooth_app/android/Gemfile.lock

asset cache:
- packages/smooth_app/assets/cache/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart

food preferences:
- packages/smooth_app/lib/widgets/attribute_button.dart

onboarding:
- packages/smooth_app/lib/pages/onboarding/**/*
- packages/smooth_app/assets/onboarding/**/*

nutrition input:
- packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart

scan:
- packages/smooth_app/lib/pages/scan/**/*
- packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
- packages/smooth_app/lib/pages/scan/scan_page.dart
- packages/smooth_app/lib/pages/scan/scanner_overlay.dart
- packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
- packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
- packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
- packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

mlkit:
- packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart

product addition:
- packages/smooth_app/lib/pages/product/add_new_product_page.dart
- packages/smooth_app/lib/pages/product/new_product_page.dart

product page:
- packages/smooth_app/lib/pages/product/**/*

knowledge panels:
- packages/smooth_app/lib/cards/product_cards/knowledge_panels/

robotoff:
- packages/smooth_app/lib/database/robotoff_questions_query.dart
- packages/smooth_app/lib/cards/product_cards/question_card.dart

summary card:
- packages/smooth_app/lib/pages/product/summary_card.dart

analytics:
- packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
- packages/smooth_app/assets/onboarding/analytics.svg

goldens:
- packages/smooth_app/test/pages/goldens

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
- packages/smooth_app/lib/pages/user_management/sign_up_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/pages/user_preferences_settings.dart
- packages/smooth_app/lib/pages/user_preferences_food.dart
- packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
- packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart

#tag picker:

category picker:
- packages/smooth_app/lib/data_models/category_tree_supplier.dart
- packages/smooth_app/example/smooth_category_picker_example.dart
- packages/smooth_app/generic_lib/dialogs/smooth_category_picker.dart
- packages/smooth_app/test/dialogs/smooth_category_picker_test.dart
- packages/smooth_app/lib/data_models/category_query_model.dart
- packages/smooth_app/lib/data_models/query_category_tree_supplier.dart
- packages/smooth_app/lib/data_models/smooth_category.dart

ranking:
- packages/smooth_app/lib/helpers/product_compatibility_helper.dart

generic lib:
- packages/smooth_app/lib/generic_lib

photo cropping:
- packages/smooth_app/lib/pages/image_crop_page.dart

user lists:
- packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
- packages/smooth_app/lib/pages/product/common/product_list_page.dart

fix: make new crop tool default (#3106)
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: none

chore: New Crowdin translations
  packages/smooth_app/lib/l10n/app_lt.arb
Labels: l10n

fix: Consistent paddings between all Widgets in the product page (#3099)
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product addition, product page

fix: template card size
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
Labels: none

Use the file-based camera mode (or alternative mode) by default on Android. On iOS, it will always be the bytes array mode (or old mode)
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/alternative_camera_mode.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/camera_modes.dart
Labels: l10n, scan

Simplify a bit the logic
  packages/smooth_app/lib/pages/scan/camera_controller.dart
Labels: scan

Force the keyboard with the search field
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

Remove a remaining print
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

feat: On Android, use the file-based camera mode by default (#3114)
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/alternative_camera_mode.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/camera_modes.dart
Labels: l10n, scan

draft: Fallback is full image doesn't exist
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

fix: The search should force the keyboard to be visible (#3115)
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

borderRadius to fakeText in template card
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
Labels: none

Small animation for the AppBar title
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

Code cleanup
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

Nutrition page: use an enum instead of a boolean for the unit + only notify when the value has really changed
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/portion_helper.dart
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: nutrition input, product page

Add an access to the initialValue
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: none

Product list comparison with an action mode + some animations
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: l10n, product page, user lists

fix: Template card size (#3113)
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
Labels: none

fix: pull to refresh exception
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page

Adding a product to a list should be better understandable from the user's perspective
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: l10n, user lists

Change a bit the translation
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

Update packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page

Update packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page

fix: Pull to refresh exception (#3124)
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page

revert: Partial revert of fallback draft
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

chore: New Crowdin translations
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_de.arb
  packages/smooth_app/lib/l10n/app_he.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_tr.arb
  packages/smooth_app/lib/l10n/app_uk.arb
Labels: l10n

feat: Show error when image edit fails
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: l10n, product page

Update packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

AppBar: ensure that a title is always given with the action mode
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: none

Update packages/smooth_app/lib/widgets/smooth_app_bar.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: none

Update packages/smooth_app/lib/widgets/smooth_app_bar.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: none

Inline return
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: none

fix: Fallback to other image qualities
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page

fix: Remove other image sizes?
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page

No InkWell is visible with the instruction tip on edit ingredients
  packages/smooth_app/lib/pages/product/explanation_widget.dart
Labels: product page

refactor: ProductImageData to contain all image links (#3088)
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_grid.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: l10n, product page

No InkWell is visible with the instruction tip on edit ingredients (#3131)
  packages/smooth_app/lib/pages/product/explanation_widget.dart
Labels: product page

feat: Products list improvements (#3122)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: l10n, product page, user lists

Add the product name or barcode on each sub page of the edit mode
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: nutrition input, product page

Fix brightness on iOS
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: product page
