Repository openfoodfacts/smooth-app, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, web, tests, database, l10n, history, settings, scan, product page, github, User management

Added comments
  packages/smooth_app/test/plural_translation_test.dart
Labels: tests

Fix: Unnecessary keeboard openings when not on the page anymore
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

Allow long sentences on scan example onboarding page
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: none

feat: #848 - dev mode - item that switches the QueryType to PROD and DEV
  packages/smooth_app/lib/database/knowledge_panels_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: database

feat: #848 - dev mode - item that switches the QueryType to PROD and DEV (#851)
  packages/smooth_app/lib/database/knowledge_panels_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: database

Deploying to gh-pages from @ openfoodfacts/smooth-app@03be267e56c78d17c2b30a29b2d6dfb093e3bdb3 🚀
  database_knowledge_panels_query/KnowledgePanelsQuery/getKnowledgePanels.html
  database_product_query/ProductQuery-class.html
  database_product_query/ProductQuery/fields.html
  database_product_query/ProductQuery/getCountry.html
  database_product_query/ProductQuery/getLanguage.html
  database_product_query/ProductQuery/getProductList.html
  database_product_query/ProductQuery/getSearchResult.html
  database_product_query/ProductQuery/getUser.html
  database_product_query/ProductQuery/setCountry.html
  database_product_query/ProductQuery/setLanguage.html
  database_product_query/ProductQuery/setQueryType.html
  index.json
  pages_user_preferences_dev_mode/UserPreferencesDevMode-class.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/UserPreferencesDevMode.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/getBody.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/getPreferenceFlagKey.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/getTitle.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/isCollapsedByDefault.html
  pages_user_preferences_dev_mode/UserPreferencesDevMode/userPreferencesFlagProd-constant.html
Labels: none

Allow long sentences on scan example onboarding page (#850)
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: none

Deploying to gh-pages from @ openfoodfacts/smooth-app@37d4fa10d9c76bcbd9acfcf2f143816e47148fb4 🚀
  pages_onboarding_scan_example/ScanExample/build.html
Labels: none

Test: Added plural translation test (#831)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/test/plural_translation_test.dart
Labels: tests, l10n

quick fix for French translation
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

fix: #835 - null check before null check operator
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page

fix: #835 - null check before null check operator (#852)
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page

explanation-of-dev-mode
  README.md
Labels: none

Update README.md
  README.md
Labels: none

add a start for other projects
  packages/smooth_app/lib/database/product_query.dart
Labels: database

Explanation of dev mode (#854)
  README.md
Labels: none

fix: product compatibility score
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/pages/onboarding/sample_product_page.dart
  packages/smooth_app/lib/pages/product/knowledge_panel_product_cards.dart
Labels: product page

fix: product compatibility score
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
Labels: none

fix: product compatibility score
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
Labels: none

fix: product compatibility score (#858)
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
Labels: none

Product Example Page: 3rd page for user onboarding
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/sample_product_page.dart
  packages/smooth_app/lib/pages/product/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: l10n, product page

..
  packages/smooth_app/lib/data_models/product_list.dart
Labels: none

Deploying to gh-pages from @ openfoodfacts/smooth-app@41d45d1c4f4a818a912d44fb38c1d90735ffe823 🚀
  helpers_product_compatibility_helper/getProductCompatibility.html
Labels: none

Update app_en.arb
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

Internationalized string review (#821)
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

Update app_en.arb
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

feat: #849 - added country selector to preferences page
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: none

feat: #849 - refactoring after code review
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: none

feat: #849 - added country selector to preferences page (#861)
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: none

Deploying to gh-pages from @ openfoodfacts/smooth-app@b90bbaf414dd72827a67e048a4c100b9fe254865 🚀
  index.json
  pages_onboarding_country_selector/CountrySelector-class.html
  pages_onboarding_country_selector/CountrySelector/createState.html
  pages_onboarding_country_selector/CountrySelector/initialCountryCode.html
  pages_onboarding_country_selector/CountrySelector/inputDecoration.html
  pages_onboarding_country_selector/CountrySelector/padding.html
  pages_onboarding_welcome_page/WelcomePage/build.html
  pages_user_preferences_profile/UserPreferencesProfile/getBody.html
Labels: none

feat: Automatically login user on startup
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: l10n, User management

Update search_page.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

Fix: Unnecessary keyboard openings when not on the page anymore (#845)
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

Product Example Page: 3rd page for user onboarding (#859)
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/sample_product_page.dart
  packages/smooth_app/lib/pages/product/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: l10n, product page

Split the product example page into eco and nutri page
  packages/smooth_app/assets/onboarding/sample_eco_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_health_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
Labels: l10n

..
  packages/smooth_app/assets/onboarding/sample_eco_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_health_knowledge_panels.json
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
Labels: none

labeler-only-on-local-branches
  .github/workflows/label.yml
Labels: github

Split the product example page into eco and nutri page (#864)
  packages/smooth_app/assets/onboarding/sample_eco_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_health_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
Labels: l10n

Onboarding flow - Preference page
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page

Fix imports
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
Labels: none

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
android:
- packages/smooth_app/android/**/*

ios:
- packages/smooth_app/ios/**/*

web:
- packages/smooth_app/web/**/*

tests:
- packages/smooth_app/test/**/*

database:
- packages/smooth_app/lib/database/**/*

l10n:
- packages/smooth_app/lib/l10n/**/*

history:
- packages/smooth_app/lib/pages/history_page.dart

settings:
- packages/smooth_app/lib/pages/user_preferences_page.dart


scan:
- packages/smooth_app/lib/pages/scan/**/*

product page:
- packages/smooth_app/lib/pages/product/**/*

github:
- .github/**/*

User management:
- packages/smooth_app/lib/pages/user_management/login_page.dart
- packages/smooth_app/lib/pages/user_preferences_page.dart
- packages/smooth_app/lib/helpers/user_management_helper.dart
