Repository openfoodfacts/smooth-app, pull requests merged in 2021-09, with the labels that each got.

#557 Add utilities for mocking app state, golden file tests + UserPreferences test
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/utils/goldens.dart
  packages/smooth_app/test/utils/mocks.dart
Labels: preferences, darkmode, tests, screenshot-generation, accessibility

#569 Added the App Icon to "About this App"
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/pubspec.yaml
Labels: UI / UX

#570 Migrated to sentry_flutter
  packages/smooth_app/lib/main.dart
  packages/smooth_app/pubspec.yaml
Labels: sentry

#568 Added android Gemfile.lock
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  .gitignore
  packages/smooth_app/android/.ruby-version
  packages/smooth_app/android/Gemfile
  packages/smooth_app/android/Gemfile.lock
  packages/smooth_app/ios/.ruby-version
  packages/smooth_app/ios/Gemfile
Labels: fastlane, Android

#577 Refactor ScanPage maintain a single ContinuousScanModel instance
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: scanning

#581 feat: Updated the summary page
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
Labels: product page
