Repository openfoodfacts/smooth-app, pull requests merged in 2021-04, with the labels that each got.

#289 AnimatedCollapseArrow extended
  packages/smooth_app/lib/bottom_sheet_views/user_preferences_view.dart
  packages/smooth_ui_library/lib/animations/smooth_animated_collapse_arrow.dart
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
  packages/smooth_ui_library/lib/widgets/smooth_expandable_card.dart
Labels: UI / UX, animations, preferences

#291 responsive app
  packages/smooth_app/lib/bottom_sheet_views/user_contribution_view.dart
  packages/smooth_app/lib/bottom_sheet_views/user_preferences_view.dart
  packages/smooth_app/lib/cards/product_cards/product_list_preview_helper.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/list_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_list_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/lib/pages/text_search_widget.dart
  packages/smooth_app/lib/views/smooth_product_sneak_peek_view.dart
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/lib/buttons/smooth_main_button.dart
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
  packages/smooth_ui_library/lib/widgets/smooth_listTile.dart
  packages/smooth_ui_library/lib/widgets/smooth_product_image.dart
  packages/smooth_ui_library/lib/widgets/smooth_toggle.dart
  packages/smooth_ui_library/pubspec.yaml
Labels: UI / UX

#303 Food ranking params limitation
  packages/smooth_app/lib/pages/home_page.dart
Labels: UI / UX

#305 Added strings to crowdin
  packages/smooth_app/lib/bottom_sheet_views/group_query_filter_view.dart
  packages/smooth_app/lib/bottom_sheet_views/user_preferences_view.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/pantry_preview.dart
  packages/smooth_app/lib/cards/product_cards/product_list_preview.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_edit.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_thanks.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/choose_page.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_dialog_helper.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_list_page.dart
  packages/smooth_app/lib/pages/pantry/pantry_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_button.dart
  packages/smooth_app/lib/pages/product/common/product_list_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/text_search_widget.dart
  packages/smooth_ui_library/lib/widgets/smooth_toggle.dart
Labels: translations

#311 Search smoothProductImage size fix
  packages/smooth_app/lib/cards/product_cards/product_list_preview_helper.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/pages/text_search_widget.dart
  packages/smooth_app/lib/views/smooth_product_sneak_peek_view.dart
  packages/smooth_ui_library/lib/widgets/smooth_product_image.dart
Labels: UI / UX

#319 Better plural support
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/pubspec.yaml
Labels: translations

#321 feature/#216 - multi select product copy from lists + single product copy
  packages/smooth_app/lib/cards/product_cards/product_list_preview.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/multi_select_product_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_button.dart
  packages/smooth_app/lib/pages/pantry/pantry_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_button.dart
  packages/smooth_app/lib/pages/product/common/product_list_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_app/lib/pages/product_copy_helper.dart
Labels: UI / UX, lists

#356 Minor changes
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/text_search_widget.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/lib/buttons/smooth_simple_button.dart
Labels: UI / UX, analytics

#366 Temporary fastfile fix
  packages/smooth_app/ios/fastlane/Fastfile
Labels: fastlane

#367 Temporary ios version code
  packages/smooth_app/ios/fastlane/Fastfile
Labels: fastlane
