Repository openfoodfacts/smooth-app, pull requests merged in 2021-12, with the labels that each got.

#708 fix: not running Sentry when in debug mode
  packages/smooth_app/lib/main.dart
Labels: sentry

#706 Fix iOS camera crash
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/smooth_app/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: iOS

#710 fix: Removed deprecated SplashScreenDrawable api
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/res/drawable-hdpi/splash.png
  packages/smooth_app/android/app/src/main/res/drawable-night-hdpi/splash.png
  packages/smooth_app/android/app/src/main/res/drawable-night-xxhdpi/splash.png
  packages/smooth_app/android/app/src/main/res/drawable-xxhdpi/splash.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark@3x.png
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/web/index.html
  packages/smooth_app/web/splash/img/dark-1x.png
  packages/smooth_app/web/splash/img/dark-2x.png
  packages/smooth_app/web/splash/img/dark-3x.png
  packages/smooth_app/web/splash/img/dark-4x.png
  packages/smooth_app/web/splash/img/light-1x.png
  packages/smooth_app/web/splash/img/light-2x.png
  packages/smooth_app/web/splash/img/light-3x.png
  packages/smooth_app/web/splash/img/light-4x.png
  packages/smooth_app/web/splash/style.css
Labels: splashscreen

#703 feat: #681 Stateful tabs
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/smooth_bottom_navigation_bar.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/lib/widgets/tab_navigator.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: navigation

#724 fix: Wrong null check in scanner
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
Labels: 30s fix

#730 feat: Use visibility_detector to detect if camera is open
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/widgets/tab_navigator.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: navigation

#734 Updated dependencies
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
Labels: dependencies

#740 fix: #739 vulnerable actions/checkout version
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/web-release.txt
Labels: dependencies, security

#738 Automatic labelling of PRs based on files modified
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github

#742 feat: Implemented basic login
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/lib/database/dao_secured_string.dart
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/lib/widgets/smooth_text_form_field.dart
Labels: settings, User management, Android, database

#746 translation: Added some missing strings + devided strings into sections
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/organization_page.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/product/common/product_list_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/views/bottom_sheet_views/user_contribution_view.dart
Labels: settings, translations, product page, User management, l10n, scan

#743 first screen for new user onboarding
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: onboarding

#749 feat: Login page autofill support
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_text_form_field.dart
Labels: User management, l10n

#750 feat: Allow smoothie password reset
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/lib/widgets/smooth_text_form_field.dart
Labels: iOS, User management, l10n

#774 actualiser capitalization fix
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#779 fix: semantic pr for translations
  .github/workflows/crowdin.yml
Labels: github

#778 fix: #763 - safer use of a distinct widget for attribute importance dialog
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
  packages/smooth_app/lib/widgets/attribute_dialog.dart
  packages/smooth_app/lib/widgets/attribute_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
Labels: preferences

#772 feat: Second onboarding page + navigation capability between pages
  packages/smooth_app/assets/onboarding/ecoscore-a-no-bg.svg
  packages/smooth_app/assets/onboarding/nutriscore-a-no-bg.svg
  packages/smooth_app/assets/onboarding/scan_example.svg
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/pubspec.yaml
Labels: onboarding

#783 feature/#782 - now using the onboarding's country for searches
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/database/barcode_product_query.dart
  packages/smooth_app/lib/database/keywords_product_query.dart
  packages/smooth_app/lib/database/knowledge_panels_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/example/pubspec.yaml
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
Labels: geo-based customization

#786 fix: #771 - now using translated categories; fixed "category filter" label
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: category filter

#789 fix: translated preferences from init
  packages/smooth_app/lib/data_models/product_preferences.dart
Labels: preferences, translations

#793 fix: #788 - same ranking FAB for history and search
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
Labels: personal search, UI / UX

#787 fix: added recent svg files to cache, with color
  packages/smooth_app/assets/cache/activity-walking.svg
  packages/smooth_app/assets/cache/car.svg
  packages/smooth_app/assets/cache/packaging.svg
  packages/smooth_app/assets/cache/public.svg
  packages/smooth_app/assets/cache/transportation.svg
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
Labels: local cache, Knowledge panels, svg

#801 feature/#702 - sign up page
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_text_form_field.dart
Labels: onboarding, User management

#803 fix: #767 - display a progress gauge when downloading full pictures
  packages/smooth_app/lib/pages/product/product_image_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_gauge.dart
Labels: animations, images, image carousel

#807 Added missing translations
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/pubspec.yaml
Labels: settings, translations, product page, User management, l10n

#806 fix: #799 - now handling both svg and png files (for "Label" icons)
  packages/smooth_app/assets/cache/ab-agriculture-biologique.74x90.svg
  packages/smooth_app/assets/cache/bio-europeen.135x90.png
  packages/smooth_app/assets/cache/fairtrade-international.77x90.png
  packages/smooth_app/lib/cards/category_cards/abstract_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/abstract_cache.dart
  packages/smooth_app/lib/cards/category_cards/null_cache.dart
  packages/smooth_app/lib/cards/category_cards/raster_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/raster_cache.dart
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
Labels: Knowledge panels, svg, png
