Repository openfoodfacts/smooth-app, pull requests merged in 2021-03, with the labels that each got.

#254 Test to deploy smoothie to the web
  .github/workflows/web-release.yml
  packages/smooth_app/.gitignore
  packages/smooth_app/.metadata
  packages/smooth_app/README.md
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/smooth_app/MainActivity.kt
  packages/smooth_app/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/smooth_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/smooth_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/smooth_app/test/widget_test.dart
  packages/smooth_app/web/favicon.png
  packages/smooth_app/web/icons/Icon-192.png
  packages/smooth_app/web/icons/Icon-512.png
  packages/smooth_app/web/index.html
  packages/smooth_app/web/manifest.json
Labels: web

#259 web version bump and delayed web
  .github/workflows/web-release.yml
Labels: web

#267 Product Page section expanding animation
  packages/smooth_app/lib/cards/expandables/attribute_list_expandable.dart
  packages/smooth_app/lib/pages/list_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_list_page.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
  packages/smooth_ui_library/lib/widgets/smooth_expandable_card.dart
Labels: UI / UX, animations

#257 [READY FOR REVIEW] IOS Version bump
  .github/workflows/ios-release.yml
  packages/smooth_app/ios/fastlane/Fastfile
  packages/smooth_app/ios/fastlane/Pluginfile
Labels: fastlane

#283 Fixed colorButton
  packages/smooth_app/lib/pages/settings_page.dart
Labels: 30s fix, UI / UX

#284 Darkmode switch
  packages/smooth_app/lib/pages/settings_page.dart
Labels: UI / UX

#282 cleaned navigaton
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/pantry_preview.dart
  packages/smooth_app/lib/cards/product_cards/product_list_preview.dart
  packages/smooth_app/lib/cards/product_cards/product_list_preview_helper.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_edit.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/choose_page.dart
  packages/smooth_app/lib/pages/contribution_page.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_button.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_button.dart
  packages/smooth_app/lib/pages/product/common/product_list_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: navigation

#281 refactored homepage to use SmoothCard instead of Card
  packages/smooth_app/lib/cards/expandables/attribute_list_expandable.dart
  packages/smooth_app/lib/cards/product_cards/product_list_preview.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/list_page.dart
  packages/smooth_app/lib/pages/pantry/common/pantry_list_page.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
  packages/smooth_ui_library/lib/widgets/smooth_expandable_card.dart
Labels: UI / UX
