Repository openfoodfacts/smooth-app, pull requests merged in 2021-07, with the labels that each got.

#432 Fixes #431 by changing the order of the database upgrade
  packages/smooth_app/lib/database/local_database.dart
Labels: db migrations

#408 Dart documentation for Smoothie using GitHub Actions
  .github/workflows/dartdoc.yml
Labels: ci, documentation

#450 add adaptative android app icon
  packages/smooth_app/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/mipmap-anydpi-v26/launcher_icon.xml
  packages/smooth_app/android/app/src/main/res/values/colors.xml
  packages/smooth_app/pubspec.yaml
Labels: icon

#447 Add presubmit CI setup and scripts using GItHub actions
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  analysis_options.yaml
  ci/pub_upgrade.sh
  ci/testing.sh
  packages/smooth_app/analysis_options.yaml
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_shopping.dart
  packages/smooth_app/lib/pages/product_copy_helper.dart
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/basic_test.dart
  packages/smooth_app/test/widget_test.dart
  packages/smooth_ui_library/analysis_options.yaml
  packages/smooth_ui_library/lib/smooth_ui_library.dart
  packages/smooth_ui_library/test/basic_test.dart
Labels: ci, devops

#455 resize adaptive Android app icon
  packages/smooth_app/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  packages/smooth_app/assets/app/smoothie-icon-transparent.android-adaptive.1080x1080.png
  packages/smooth_app/assets/app/smoothie-icon-transparent.android-adaptive.svg
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/smooth_app/pubspec.yaml
Labels: icon

#469 feature_3/#461 - added a clearable scan feature
  packages/smooth_app/assets/actions/smoothie.svg
  packages/smooth_app/lib/cards/category_cards/category_card.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/database/dao_product_extra.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/pages/home_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_ui_library/lib/widgets/smooth_view_finder.dart
Labels: scanning
