Repository openfoodfacts/smooth-app, pull requests merged in 2021-11, with the labels that each got.

#639 build: updated dependencies
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
Labels: dependencies

#651 Async Category Picker
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_ui_library/example/lib/smooth_category_picker_example.dart
  packages/smooth_ui_library/example/linux/flutter/generated_plugin_registrant.cc
  packages/smooth_ui_library/example/linux/flutter/generated_plugin_registrant.h
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/example/pubspec.yaml
  packages/smooth_ui_library/lib/dialogs/smooth_category_picker.dart
  packages/smooth_ui_library/lib/util/ui_helpers.dart
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
  packages/smooth_ui_library/test/dialogs/smooth_category_picker_test.dart
Labels: category explorer

#659 Update scan page as per the UX spec (well, roughly)
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
Labels: scanning

#656 fix: deprecated share package + analyzer warnings
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/product/product_page.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: ci, dependencies

#654 History page refactoring
  packages/smooth_app/lib/pages/history_page.dart
  packages/smooth_app/lib/pages/home_page.dart
Labels: history

#662 Remove unneeded padding from Welcome card which helps remove the overflow on tiny screens
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: scanning, onboarding

#658 feat: #657 - important attributes first, and then ordered and filtered attributes
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: attributes

#666 CD: Temporary change to work with branch naming instead of tags
  packages/smooth_app/android/fastlane/Fastfile
  packages/smooth_app/ios/fastlane/Fastfile
Labels: fastlane

#675 fix: null crash in new product page with knowledge panels builder
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
Labels: Knowledge panels

#688 fix: #684 - writing in white when in dark mode for score card
  packages/smooth_app/lib/cards/data_cards/score_card.dart
Labels: darkmode
