Repository openfoodfacts/smooth-app, pull requests merged in 2022-11, with the labels that each got.

#3244 feat: Downgrade to Flutter 3.0
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/scanner/mlkit/lib/src/utils/camera_image_cropper.dart
  packages/scanner/mlkit/lib/src/utils/camera_image_full_getter.dart
  packages/scanner/mlkit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: flutter, product page, product addition, onboarding, tests, dependencies, github, goldens

#3243 fix: Scripts not working on a Linux env
  ci/enable_mlkit_dependency.sh
  ci/enable_zxing_dependency.sh
Labels: ci

#3253 ci: labeler for flavors and zxing
  .github/labeler.yml
Labels: github

#3251 feat: Desktop support for dev (only tested on macOS)
  packages/app/macos/Runner.xcodeproj/project.pbxproj
  packages/app/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/app/macos/Runner/DebugProfile.entitlements
  packages/smooth_app/lib/helpers/camera_helper.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: onboarding, macos, desktop

#3252 feat: Zxing implementation
  packages/app/lib/entrypoints/android/main_amazon_appstore.dart
  packages/app/lib/entrypoints/android/main_fdroid.dart
  packages/app/lib/entrypoints/android/main_huawei_appgallery.dart
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/scanner/shared/lib/src/scanner.dart
  packages/scanner/zxing/.gitignore
  packages/scanner/zxing/.metadata
  packages/scanner/zxing/analysis_options.yaml
  packages/scanner/zxing/android/.gitignore
  packages/scanner/zxing/android/build.gradle
  packages/scanner/zxing/android/gradle/wrapper/gradle-wrapper.properties
  packages/scanner/zxing/android/settings.gradle
  packages/scanner/zxing/android/src/main/AndroidManifest.xml
  packages/scanner/zxing/android/src/main/kotlin/org/openfoodfacts/scanner_zxing/ScannerZxingPlugin.kt
  packages/scanner/zxing/android/src/main/kotlin/org/openfoodfacts/scanner_zxing/ZXingUtils.kt
  packages/scanner/zxing/lib/scanner_zxing.dart
  packages/scanner/zxing/lib/src/scanner_zxing_method_channel.dart
  packages/scanner/zxing/pubspec.yaml
  packages/scanner/zxing/test/scanner_zxing_test.dart
Labels: f-droid, zxing

#3233 chore: user authentication page testing
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/forgot_password_page_layout_test.dart
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
  packages/smooth_app/test/users/login_page_layout_test.dart
  packages/smooth_app/test/users/signup_page_layout_test.dart
Labels: User management, tests, l10n, goldens

#3171 fix: secondary button now differentiable issue #2988
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: design

#3241 fix: #3238 - removed "other" pictures in gallery (keep just the main 4)
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page

#3259 fix: Typo in the code
  packages/scanner/zxing/android/src/main/kotlin/org/openfoodfacts/scanner_zxing/ZXingUtils.kt
Labels: zxing

#3261 fix: #3260
  packages/smooth_app/lib/pages/product/nutrition_container.dart
Labels: product page

#3264 fix: Darkmode back button
  packages/app/pubspec.yaml
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page, product addition

#3268 fix: #3266 - centered world map
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
Labels: map widget

#3265 fix: empty product addition
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition

#3282 fix: Ensure the auto-suggestion popup is never below the keyboard
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page

#3284 ci: fix: iOS release itc_provider
  packages/app/ios/fastlane/Fastfile
Labels: ci, iOS

#3285 feat: Add an animation to hide the card from the carousel
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: product page, summary card, scan

#3288 fix: SignUp Issue
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: User management, dependencies

#3273 chore: Matomo refactor
  .github/labeler.yml
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
Labels: product page, product addition, User management, github, P0, matomo

#3276 fix: pull to refresh in product query page
  .gitignore
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

#3277 fix: Improve weird wordings
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#3300 fix: Non clickable tag line
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: bug, tagline

#3302 fix: #3018 - storing the pending changes
  packages/app/ios/Podfile.lock
  packages/smooth_app/lib/database/dao_transient_operation.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
  packages/smooth_app/pubspec.lock
Labels: product page, database

#3308 fix: 3018 - immediate local and server refresh for details (temporary)
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product page, product addition, summary card, nutrition input

#3322 fix: Use the iOS back button on the edit product page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

#3258 fix: account removal reason issue #2585
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
Labels: l10n

#3323 fix: 3018 - now there's only one place where we upload pictures from
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, product addition, photo cropping

#3324 fix:rewording-account-deletion
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#3292 feat: Mark the app as not optimized for tablets
  packages/app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
Labels: Android, tablets

#3330 ci: Upload ml kit apk to github release
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
Labels: fastlane, github

#3329 fix: 3018 - instant upload of images
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/ocr_widget.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, product addition, database, l10n, photo cropping, hunger games

#3334 feat: Force the Android app to be in landscape
  packages/app/android/app/src/main/AndroidManifest.xml
Labels: Android

#3299 feat: Ensure user's lists are not considered as a regular search
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
Labels: product page, contribution, search

#2525 fix: Layout issue with product title card
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
Labels: merge conflicts, UI / UX, layout, before next release

#3345 fix: 2255 - safer setState call after async code
  .github/labeler.yml
  packages/smooth_app/lib/pages/history_page.dart
  packages/smooth_app/test/users/registration_login_test.dart
Labels: history, tests, github

#3339 feat: 3263 - new BackgroundTaskManager that always works
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_instant_string.dart
  packages/smooth_app/lib/database/dao_string_list.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/helpers/background_task_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, database, scan

#3344 fix: fast scroll in back to top
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

#3353 ci: fix: activate correct review & scanner dep for releases
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: github

#3352 fix: Black screen
  packages/scanner/shared/lib/src/scanner.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/screen_visibility.dart
Labels: mlkit, scan

#3306 fix: Product page: ensure to reset the carousel position after refreshing
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition

#3281 fix: Barcodes with less than 8 digits should be supported
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page, barcode support

#3362 refactor: uniformized the way to show the nutrition page
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_nutrition_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product page, product addition, nutrition input

#3363 feat: 3129 (New PR) Allow to swipe between product images on the full screen image
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_grid.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_list.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_view.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#3365 chore: Migrate camera dependency to the one hosted on OFF
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3364 chore: MLKit Page renamed
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: scan, camera

#3361 ci: fix internal args
  .github/workflows/internal-release.yml
Labels: github

#3356 fix: remove the progress indicator on ingredient extraction screen
  packages/smooth_app/lib/pages/product/ocr_widget.dart
Labels: product page

#3368 refactor: slimmer SummaryCard (823 lines down to 599)
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/hideable_container.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: product page, summary card, scan

#3369 feat: 3207 - now displays a card for product website, if available
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, product addition, l10n

#3366 feat: 3332 - crop page title now reflects image field
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_list.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, photo cropping

#3378 docs: Adding the Weekly Meetings to the README
  README.md
Labels: :star: top pull request

#3376 feat: 3207 - edit page for website product field
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition, l10n

#3381 feat: 3380 - product refresh 10 minutes after image upload
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition

#3385 chore: remove web platform content in app and smooth-app
  packages/app/.gitignore
  packages/app/lib/generated_plugin_registrant.dart
  packages/app/web/favicon.png
  packages/app/web/icons/Icon-192.png
  packages/app/web/icons/Icon-512.png
  packages/app/web/icons/Icon-maskable-192.png
  packages/app/web/icons/Icon-maskable-512.png
  packages/app/web/index.html
  packages/app/web/manifest.json
  packages/smooth_app/web/favicon.png
  packages/smooth_app/web/icons/Icon-192.png
  packages/smooth_app/web/icons/Icon-512.png
  packages/smooth_app/web/icons/Icon-maskable-192.png
  packages/smooth_app/web/icons/Icon-maskable-512.png
  packages/smooth_app/web/index.html
  packages/smooth_app/web/manifest.json
  packages/smooth_app/web/splash/img/dark-1x.png
  packages/smooth_app/web/splash/img/dark-2x.png
  packages/smooth_app/web/splash/img/dark-3x.png
  packages/smooth_app/web/splash/img/dark-4x.png
  packages/smooth_app/web/splash/img/light-1x.png
  packages/smooth_app/web/splash/img/light-2x.png
  packages/smooth_app/web/splash/img/light-3x.png
  packages/smooth_app/web/splash/img/light-4x.png
  packages/smooth_app/web/splash/splash.js
  packages/smooth_app/web/splash/style.css
Labels: web

#3389 ci: better label doc changes
  .github/labeler.yml
Labels: github
