Repository openfoodfacts/smooth-app, pull requests merged in 2022-05, with the labels that each got.

#1728 fix: filter while selecting countries #1200
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: settings, onboarding, countries

#1731 Updated PR template
  .github/pull_request_template.yml
  .github/workflows/ios-release.yml
Labels: github

#1726 fix: Unable to view details of product after scanning
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: P0

#1732 fix: Black camera screen
  packages/smooth_app/lib/helpers/camera_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scanner_overlay.dart
  packages/smooth_app/lib/widgets/screen_visibility.dart
Labels: mlkit, scan

#1744 fix: Upgrade XCode version used by fastlane
  packages/smooth_app/ios/fastlane/Fastfile
Labels: iOS, fastlane

#1746 fix: added confirmation dialog
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: history

#1767 fix: ContinuousScanModel injected twice in the Widget tree
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: scan

#1769 fix: setState shouldn't be called from onDispose
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan

#1515 feat: Add basic details page UI
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: contribution, product addition, editing

#1761 fix: Black bars on top of the screen
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan

#1766 feat: Dev Mode: setting to change the post frame callback duration
  packages/smooth_app/lib/generic_lib/buttons/smooth_action_button.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/user_preferences_dialog_editor.dart
Labels: User management, dev mode, mlkit, scan, camera

#1751 feat: Added nutrition input to product addition flow
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product addition

#1634 fix: color issue in light mode on the top summary bar of the scan card
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/generic_lib/design_constants.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: personal scoring, scan card

#1572 fix: Add missing translations
  packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/category_picker_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
  packages/smooth_app/test/smooth_ui_library/dialogs/smooth_category_picker_test.dart
Labels: merge conflicts, product page, onboarding, analytics, User management, tests, l10n, summary card

#1779 fix: Make app name untranslatable
  packages/smooth_app/lib/generic_lib/design_constants.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: l10n, scan

#1729 feat: #849 Add language selection to dev mode
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: settings

#1793 fix: Change the default focus point of the camera
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scan, camera

#1796 fix: Help email not translated
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
Labels: l10n

#1776 feat: 🎸 Scroll to list card after adding product to a list #1699
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: lists

#1797 feat: #1501 - split of the preference page into detailed pages
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/product_list_supplier.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile.dart
  packages/smooth_app/lib/helpers/list_helper.dart
  packages/smooth_app/lib/helpers/product_list_import_export.dart
  packages/smooth_app/lib/pages/abstract_collapsible_user_preferences.dart
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/user_preferences_connect.dart
  packages/smooth_app/lib/pages/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/user_preferences_faq.dart
  packages/smooth_app/lib/pages/user_preferences_food.dart
  packages/smooth_app/lib/pages/user_preferences_list_tile.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/lib/views/bottom_sheet_views/faq_handle_view.dart
  packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
  packages/smooth_app/lib/views/bottom_sheet_views/user_contribution_view.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: settings, food preferences

#1811 fix: Navigate to add basic details page
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: road to scores

#1781 feat: Scanner improvements
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/pages/scan/mkit_scan_helper.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/lifecycle_aware_widget.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: scan

#1783 fix: A clear alert message after changing preference.
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: bug, settings

#1827 Remove release please
  .github/workflows/release-please.yml
Labels: github

#1600 feat: Files cache to persist photos with background tasks (#1593), but also for #413 (short living)
  packages/smooth_app/lib/cache/cache_manager.dart
  packages/smooth_app/lib/cache/files/file_cache_manager.dart
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/cache/cache_test.dart
  packages/smooth_app/test/utils/path_provider_mock.dart
Labels: contribution, product addition, local cache

#1841 fix: depend_on_referenced_packages
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: P0, dependancies

#1690 fix: size of modal no esta bien/add to list
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: lists, P1

#1821 fix: #1723 - adding more photos fix
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
Labels: bug, enhancement, image carousel, P0

#1860 feat: Provide an exposure point for the camera
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: camera

#1858 fix: Localisation issue
  packages/smooth_app/lib/l10n/app_en.arb
Labels: translations

#1873 feat: Camera controller as a singleton
  packages/smooth_app/lib/helpers/camera_helper.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/lifecycle_manager.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/screen_visibility.dart
Labels: camera

#1876 fix: Compare singular in plural
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#1879 fix: DevMode AlertDialog non barrierDismissible
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
Labels: User management

#1716 feat: Add error component to the error state when there's no internet connection on the search page. Issue #1504
  packages/smooth_app/lib/generic_lib/widgets/smooth_error_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/test/pages/generic_lib/widgets/smooth_error_card_test.dart
Labels: enhancement

#1866 fix: #1862 - safer product history refresh
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: history

#1886 feat: Remove ZXing dependency + dev pref
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: camera

#1887 feat: Migration to google_mlkit_barcode_scanning
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/lib/pages/scan/mkit_scan_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, camera

#1765 feat: Enabled photo editing from product_image_gallery_view
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: enhancement, P1, image carousel, image upload

#1897 fix: The app is now able to restart the camera if it was claimed by another app
  packages/smooth_app/lib/helpers/camera_helper.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: Android, camera

#1853 fix: Onboarding food preferences overflow
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: onboarding, overflows

#1878 fix: Disable color accent in Dark mode
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
Labels: darkmode

#1905 fix: Preview Scale when the screen and the preview sizes share the same ratio
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: tablets

#1919 ref: Github actions cleanup
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/postsubmit.yml
  .github/workflows/web-release.txt
Labels: github

#1881 feat: Colorpicker in dev settings
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/helpers/color_extension.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/utils/mocks.dart
Labels: merge conflicts, UI / UX, product page, tests, colors, dependancies

#1938 fix: Night mode: force the adaptive icon on Android 26+
  packages/smooth_app/android/app/src/main/res/mipmap-night-anydpi-v26/ic_launcher.xml
Labels: icon

#1943 fix: Change ScoreCards & Robotoff cards radius
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: UI / UX

#1944 fix: Product query page: fix overflowing title & colors
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: UI / UX, search

#1954 feat: Tagline
  packages/smooth_app/lib/data_models/tagline.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: onboarding, product scan carousel

#1979 feat: Improved TagLine system
  packages/smooth_app/lib/data_models/tagline.dart
  packages/smooth_app/lib/helpers/collections_helper.dart
Labels: tagline

#1978 feat: Harmonize app dialogs
  packages/smooth_app/lib/generic_lib/buttons/smooth_action_button.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dialog_editor.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_profile.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: UI / UX

#1913 feat: refactor: Tracking overhaul
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/tracking_database_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_profile.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, onboarding, analytics, User management, mlkit, scan, dependancies

#1849 feat: Add the user id (or email) to the profile
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_list_tile.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_user_lists.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/utils/mocks.dart
Labels: settings, User management

#1986 fix: Fix "Episode 2" with the Camera
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/screen_visibility.dart
  packages/smooth_app/lib/widgets/tab_navigator.dart
Labels: scan, camera

#2008 fix: Confirm & retake buttons are inverted
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
Labels: UI / UX

#2004 feat: Change font to Plus Jakarta Sans
  .github/labeler.yml
  packages/smooth_app/assets/plus_jakarta_sans_regular/OFL.txt
  packages/smooth_app/assets/plus_jakarta_sans_regular/PlusJakartaSans-Bold.ttf
  packages/smooth_app/assets/plus_jakarta_sans_regular/PlusJakartaSans-Regular.ttf
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, github, dependancies

#2007 fix: Translator suggestions
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
Labels: product page, l10n

#2006 fix: Dont show arrow if there is no subpanel
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, onboarding, Knowledge panels, summary card

#2010 dep: Update dependencies
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, github

#1950 feat: #1918 #1934 - simplified user preferences food
  .github/labeler.yml
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/animations/smooth_animated_collapse_arrow.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/preferences/abstract_collapsible_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
Labels: food preferences

#2019 fix: Matomo refactor
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
Labels: database

#2029 fix: Analytics switch
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: analytics, dependencies

#2026 feat: #2023 - empty history list and other UI
  packages/smooth_app/assets/home/brown.svg
  packages/smooth_app/assets/home/white.svg
  packages/smooth_app/assets/misc/empty-list.svg
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/history_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/pubspec.yaml
Labels: lists, design

#2036 feat: #2030 - added logo to 5 preference pages
  packages/smooth_app/assets/preferences/contact.svg
  packages/smooth_app/assets/preferences/contribute.svg
  packages/smooth_app/assets/preferences/faq.svg
  packages/smooth_app/assets/preferences/login.svg
  packages/smooth_app/assets/preferences/main.svg
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: design

#2050 feat: #2049 - added error picture
  packages/smooth_app/assets/misc/error.svg
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
Labels: design

#2055 fix: #2054 - fixed colors in sign up page
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#2069 feat: #2056 - added color to preference headers
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: settings, design

#2068 feat: Authorize all SSL certificates on devices below Android 7.1
  packages/smooth_app/assets/network/cert.pem
  packages/smooth_app/lib/helpers/network_config.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: network

#2080 fix: Camera restarted whereas it shouldn't
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scan

#2079 feat: #1835 add modify photos btn
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: image upload, editing
