Repository openfoodfacts/smooth-app, pull requests merged in 2022-01, with the labels that each got.

#818 fix: #814 - no more constraints for the welcome title
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: scanning, scan, layout

#808 Code base cleanup
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/database/keywords_product_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/lib/pages/smooth_it_page.dart
  packages/smooth_app/lib/pages/tracking_page.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
Labels: settings, User management, database

#820 feat: #798 - now a unique page for preferences, in accordion
  .github/labeler.yml
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/settings_page.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/user_preferences_food.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: settings, preferences

#823 cupertino import fix
  packages/smooth_app/lib/pages/user_preferences_page.dart
Labels: settings, User management

#831 Test: Added plural translation test
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/test/plural_translation_test.dart
Labels: translations, tests, l10n

#852 fix: #835 - null check before null check operator
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: summary card

#821 Internationalized string review
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#845 Fix: Unnecessary keyboard openings when not on the page anymore
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: scan

#864 Split the product example page into eco and nutri page
  packages/smooth_app/assets/onboarding/sample_eco_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_health_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_product_knowledge_panels.json
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
Labels: onboarding

#866 Onboarding flow - Preference page
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: onboarding

#865 labeler-only-on-local-branches
  .github/workflows/label.yml
Labels: github

#872 feat: Better user management buttons in preferences
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: User management, l10n

#871 feat: #870 - new UI for attribute buttons and user preference titles
  packages/smooth_app/assets/data/important.svg
  packages/smooth_app/assets/data/mandatory.svg
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
  packages/smooth_app/lib/widgets/attribute_dialog.dart
  packages/smooth_app/lib/widgets/attribute_helper.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: settings, preferences

#894 CI/CD flutter cache
  .github/workflows/android-release.yml
  .github/workflows/dartdoc.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/pubspec.yaml
Labels: ci, github

#896 fix: Plural translation
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#889 feat: added 3 "add" buttons for scores
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: road to scores

#902 fix: #899 - avoid to reload the product in onboarding
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
Labels: onboarding

#906 String update
  packages/smooth_app/lib/l10n/app_en.arb
Labels: translations, l10n

#904 feat: #511 - added a "nutrition edit page"
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
Labels: road to scores, nutrition input

#907 feat: #511 - nutrition page minor improvements
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#908 feat: #511 - added "cancel" and "save" buttons, and serving size
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#898 Collapse nutritable columns as requested by the server
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_table_card.dart
Labels: Knowledge panels, health card

#922 Show unanswered questions to the users on product page.
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/database/robotoff_questions_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_ui_library/lib/widgets/smooth_card.dart
Labels: product page, robotoff

#893 feat: ML Kit scanner
  packages/smooth_app/ios/Podfile
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: iOS, scanning, scan

#928 fix: iOS minimum deployment target
  packages/smooth_app/ios/Podfile
Labels: iOS

#934 fix(country selector): preselect the most likely country
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: onboarding

#940 fix: Update golden tests
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: tests

#939 fix: Scanner preview over other widgets fix
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
Labels: scanning, scan

#914 feat: Allow support via email
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_preferences_settings.dart
Labels: iOS, Android, l10n

#942 Android native update
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/gradle.properties
Labels: Android

#910 feat: #511 - displays both 100g and serving, saves the form with the API
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#945 feat: #931 - added in dev mode a way to print product history
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/user_preferences_page.dart
Labels: history, dev mode

#946 fix: Camera fix
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/pages/product/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/continuous_scan_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/pubspec.yaml
Labels: scanning, product page, scan, nutrition input

#929 Save questions answered by users
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.yaml
Labels: robotoff

#950 Fix country selector overflow issue
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: countries

#967 Fix: Carousel _CastError: Null check operator used on a null value
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: 30s fix

#968 Feat: Show buildNumber in about this app
  packages/smooth_app/lib/pages/user_preferences_settings.dart
Labels: settings

#969 Feat: Added link to Open Food Facts donation page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/views/bottom_sheet_views/user_contribution_view.dart
Labels: l10n

#971 KP: Remove icon when it's not present
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
Labels: Knowledge panels

#975 Scan example onboarding page: Switch svgs of ecoscore and nutriscore
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: onboarding

#972 Fix textfield continuously gaining focus and causing keyboard to appear.
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: keyboard

#980 Set min length for columns in a row
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_table_card.dart
Labels: Knowledge panels

#983 feat: #931 - displaying the history in dialog instead of log print
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_ui_library/example/pubspec.lock
  packages/smooth_ui_library/pubspec.lock
  packages/smooth_ui_library/pubspec.yaml
Labels: dev mode

#979 feat: sign out confirmation step. Issue: #884
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: User management

#986 feat: #935 - now we display localized (downloaded) data during onboarding
  packages/smooth_app/assets/onboarding/sample_eco_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_health_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_knowledge_panels.json
  packages/smooth_app/assets/onboarding/sample_product_data.json
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/data_models/abstract_onboarding_data.dart
  packages/smooth_app/lib/data_models/onboarding_data_knowledge_panels.dart
  packages/smooth_app/lib/data_models/onboarding_data_product.dart
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/database/dao_string.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/database/tmp.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/widgets/loading_dialog.dart
  packages/smooth_ui_library/example/ios/Podfile
Labels: onboarding

#989 Add new product addition page [partial impl]
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_ui_library/lib/buttons/smooth_simple_button.dart
Labels: product addition

#988 tag-picker-autolabeler
  .github/labeler.yml
Labels: github

#994 fix: bug "Smooth Simple Button" in "SmoothAlertDialogue". issue #993
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_dialog_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/lib/views/bottom_sheet_views/user_contribution_view.dart
  packages/smooth_app/lib/widgets/loading_dialog.dart
  packages/smooth_ui_library/lib/buttons/smooth_action_button.dart
  packages/smooth_ui_library/lib/dialogs/smooth_alert_dialog.dart
Labels: layout

#1000 Create issue-label.yml
  .github/issue-autolabel.yml
  .github/workflows/issue-label.yml
Labels: github

#1001 autolabeler-issue-improvements
  .github/issue-labeler-v1.yml
Labels: github

#998 refactor:Smooth buttons a bit
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_ui_library/lib/buttons/smooth_action_button.dart
  packages/smooth_ui_library/lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_ui_library/lib/buttons/smooth_simple_button.dart
Labels: layout

#1011 open knowledge panels in a new page on click
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, Knowledge panels

#1017 fix: Fix old flutter version for CI/CD
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: ci, github

#1039 Fix: Refresh product on image upload from new product page
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, image upload

#1037 Show Loading message while answering questions
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: robotoff

#1032 Take pictures of a new product and send them to the server
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product addition, image upload

#1036 Labeler improvements
  .github/labeler.yml
Labels: github

#1035 feat: #878 - added a multiselect mode to product list page
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/smooth_it_model.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
Labels: history
