Repository openfoodfacts/smooth-app, pull requests merged in 2022-03, with the labels that each got.

#1167 feat: #1161 - the edit product page now calls the edit nutrition page
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
Labels: editing, nutrition input

#1179 General radius throughout the app
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/cards/data_cards/smooth_data_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_loading.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_thanks.dart
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_main_button.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/design_constants.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/generic_lib/smooth_html_widget.dart
  packages/smooth_app/lib/generic_lib/svg_icon_chip.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/helpers/ui_helpers.dart
  packages/smooth_app/lib/pages/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/html_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: UI / UX, product page, product addition, onboarding, User management, nutrition input, scan

#1182 fix: Pop loading dialog before build is finished
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
Labels: photo cropping

#1183 Labeler expansion
  .github/issue-labeler.yml
Labels: github

#1184 feat: #1177 - new camera image getter with cropping feature
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: performance, dev mode, mlkit, scan, speed, camera

#1193 Android version code for ios
  .github/workflows/ios-release.yml
  packages/smooth_app/android/Gemfile.lock
  packages/smooth_app/ios/Gemfile.lock
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: iOS, User management, Android, github

#1195 Flattened the color/dark mode settings
  CHANGELOG.md
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_preferences_settings.dart
Labels: UI / UX

#1210 fix: #1155 - MissingPluginException (iOS scanner issue)
  packages/smooth_app/ios/Runner/AppDelegate.swift
  packages/smooth_app/lib/pages/scan/abstract_camera_image_getter.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.yaml
Labels: iOS, scan

#1212 fix: #1126 More appealing empty history screen
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: history

#1247 fix: #1217 - asset file for eu organic svg
  packages/smooth_app/assets/cache/eu-organic.135x90.svg
Labels: asset cache

#1246 Improve issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

#1263 dep: Upgrade
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, dependancies

#1268 fix: Colors of generic widgets replaced with globalized constants for colors
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/generic_lib/design_constants.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/helpers/score_card_helper.dart
  packages/smooth_app/lib/helpers/ui_helpers.dart
  packages/smooth_app/lib/pages/user_preferences_attribute_group.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
  packages/smooth_app/lib/widgets/attribute_helper.dart
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: colors

#1275 feat: Replaced Product Page AppBar with floating action Button
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page

#1280 fix: #1273 Added barcode in the Full edit mode page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: editing

#1281 fix: fixes for the UI rendering in the "Contributors" Smooth Alert box sheet
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
Labels: settings

#1267 doc: Add a small README, courtesy of @cli1005
  .github/workflows/README.md
  README.md
Labels: github

#1302 fix: Use google_ml_barcode_scanner fork from cli1005
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, dependancies

#1305 Fix:Selectable text on product screen
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/smooth_html_widget.dart
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page

#1318 README for translations
  packages/smooth_app/lib/l10n/README.md
Labels: l10n

#1322 fix: Updated screenshot tests
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-dark_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-dark_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-dark_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-dark_testImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-light_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-light_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-light_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-blue-light_testImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-dark_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-dark_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-dark_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-dark_testImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-light_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-light_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-light_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-brown-light_testImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-dark_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-dark_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-dark_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-dark_testImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-light_isolatedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-light_maskedDiff.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-light_masterImage.png
  packages/smooth_app/test/pages/failures/goldens/user_preferences_page-green-light_testImage.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
Labels: tests, screenshot-generation

#1329 ci: Enforce semantic PRs
  .github/workflows/semantic-pr.yml
Labels: github

#1336 fix: tab top padding hides text below it #1335
  packages/smooth_app/lib/pages/user_preferences_page.dart
Labels: preferences

#1334 Added hero animation to the product summary card
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: animations, summary card

#1339 fix: #1292 Changed Appbar into Sliver appbar
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: search

#1323 fix: Summary card doesn't honor dark mode #1321
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: darkmode

#1306 fix: Overflow issue on 'update nutrition facts' page.
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: layout, overflows

#707 feat: Ingredients Page
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: product page, User management, l10n

#1331 feat: Add links to the social media accounts of Open Food Facts
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
Labels: settings

#1357 fix: Removed hardcoded "See more" colour from scan card
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: darkmode

#1364 fix: Improved the card Tapabilty onboarding with selection on details of it
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
Labels: Knowledge panels

#1358 feat: #1349 - now we get the default importances from the reference itself
  packages/smooth_app/assets/metadata/init_attribute_groups_en.json
  packages/smooth_app/lib/data_models/product_preferences.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/smooth_matched_product.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: settings

#1368 fix: pull to refresh indicator for History
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: history

#1370 fix: Login doesn't update ui
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
Labels: User management

#1381 fix: UI fix for the sign in page
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#1310 feat: Show an analytics consent UI during onboarding
  packages/smooth_app/assets/onboarding/analytics.svg
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/pubspec.lock
Labels: analytics

#1350 fix: Added pull to refresh on search page (Task 1 - issue 1348)
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: search, data refresh

#1383 fix: #890 - use setting name as attribute name
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: settings

#1385 fix: Updated text in English file
  packages/smooth_app/lib/l10n/app_en.arb
Labels: translations, product addition

#1391 feat: remove hardcoded colors in on boarding slides
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
Labels: onboarding, darkmode

#1404 fix: same label for all 3 icons
  packages/smooth_app/lib/l10n/app_en.arb
Labels: navigation

#1402 fix: On boarding dark mode fix
  packages/smooth_app/lib/pages/onboarding/next_button.dart
Labels: onboarding, darkmode

#1365 feat: robotoff card and dialog design
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: robotoff

#1412 fix: Added Fitted Box for food preferences text shrinking
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: settings

#1367 feat: #1022 - add onboarding hint that the cards can be tapped
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/common/tooltip_shape_border.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
Labels: onboarding, Knowledge panels

#1276 feat: Auto detect dark theme
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/test/utils/mocks.dart
Labels: darkmode

#1420 ci: use LTS JDK version for building
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
Labels: github

#1419 ci: add code coverage with codecov
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  ci/testing.sh
Labels: github

#1411 feat: Add animation when deleting an item from a list
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: animations, onboarding

#1431 fix: #1293 Added Button for scroll to top
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: search

#1430 fix: DarkMode Icon track fixed
  packages/smooth_app/lib/pages/page_manager.dart
Labels: navigation, darkmode

#1436 ci: run code coverage also for PRs
  .github/workflows/presubmit.yml
Labels: github
