Repository openfoodfacts/smooth-app, pull requests merged in 2022-02, with the labels that each got.

#1057 feat: #879 - added a "same category" button on product page
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/database/category_product_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: personal search, product page, compare mode

#1046 fix: #1044 - now using a unique compatibility algorithm
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: personal scoring

#1052 android: Added manifest for profiling
  packages/smooth_app/android/app/src/profile/AndroidManifest.xml
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
Labels: Android, mlkit, scan

#1063 feat: New image cropper (pure Flutter)
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/profile/AndroidManifest.xml
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, product addition, images, Android, l10n

#1065 scan: Not scanning every picture
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan

#1069 Fixes for Flutter 2.10
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/plural_translation_test.dart
  packages/smooth_ui_library/example/ios/Podfile
Labels: tests

#676 fix: Android embedding v2 fix
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
Labels: Android

#1071 fix: Dart uuid generation
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: database

#1076 Android build fix
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/MainActivity.kt
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/smooth_app/MainActivity.kt
  packages/smooth_app/android/app/src/main/res/values-night/styles.xml
  packages/smooth_app/android/app/src/main/res/values/styles.xml
  packages/smooth_app/android/app/src/profile/AndroidManifest.xml
Labels: Android

#1083 fix: Github actions cache name for forcing new version to be used
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  packages/smooth_app/android/app/build.gradle
Labels: Android, github

#1086 fix: Fastlane play store key overwrite fix
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
Labels: Android, github

#1084 Ios build fix
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/smooth_app/MainActivity.kt
  packages/smooth_app/android/app/src/main/res/values-night/styles.xml
  packages/smooth_app/android/app/src/main/res/values/styles.xml
  packages/smooth_app/ios/.gitignore
  packages/smooth_app/ios/Flutter/Debug.xcconfig
  packages/smooth_app/ios/Flutter/Release.xcconfig
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/smooth_app/ios/Runner/AppDelegate.swift
  packages/smooth_app/ios/Runner/Assets.xcassets/BrandingImage.imageset/Contents.json
  packages/smooth_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/ios/Runner/Runner-Bridging-Header.h
  packages/smooth_app/web/icons/Icon-192.png
  packages/smooth_app/web/icons/Icon-512.png
  packages/smooth_app/web/icons/Icon-maskable-192.png
  packages/smooth_app/web/icons/Icon-maskable-512.png
Labels: iOS, web, Android

#1088 Project recreation
  packages/smooth_app/.metadata
  packages/smooth_app/analysis_options.yaml
  packages/smooth_app/android/.gitignore
  packages/smooth_app/android/.ruby-version
  packages/smooth_app/android/Gemfile
  packages/smooth_app/android/Gemfile.lock
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/smooth_app/MainActivity.kt
  packages/smooth_app/android/app/src/main/res/values-night-v31/styles.xml
  packages/smooth_app/android/app/src/main/res/values-night/colors.xml
  packages/smooth_app/android/app/src/main/res/values-v31/styles.xml
  packages/smooth_app/android/app/src/main/res/values/colors.xml
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/smooth_app/android/settings.gradle
  packages/smooth_app/android/settings_aar.gradle
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/ios/fastlane/envfiles/decrypt_secrets.sh
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/web/icons/Icon-192.png
  packages/smooth_app/web/icons/Icon-512.png
  packages/smooth_app/web/index.html
  packages/smooth_app/web/manifest.json
Labels: iOS, web, Android

#1090 Chmodedecaen
  packages/smooth_app/ios/fastlane/envfiles/decrypt_secrets.sh
Labels: iOS

#1097 Release/0.0.2 -> develop
  .github/workflows/android-release.yml
  .github/workflows/ios-release.yml
  packages/smooth_app/.metadata
  packages/smooth_app/analysis_options.yaml
  packages/smooth_app/android/.gitignore
  packages/smooth_app/android/.ruby-version
  packages/smooth_app/android/Gemfile
  packages/smooth_app/android/Gemfile.lock
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/smooth_app/MainActivity.kt
  packages/smooth_app/android/app/src/main/res/values-night-v31/styles.xml
  packages/smooth_app/android/app/src/main/res/values-night/colors.xml
  packages/smooth_app/android/app/src/main/res/values-v31/styles.xml
  packages/smooth_app/android/app/src/main/res/values/colors.xml
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/fastlane/Fastfile
  packages/smooth_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/smooth_app/android/settings.gradle
  packages/smooth_app/android/settings_aar.gradle
  packages/smooth_app/ios/Flutter/AppFrameworkInfo.plist
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/ios/fastlane/Fastfile
  packages/smooth_app/lib/smooth_category_picker_example.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/web/icons/Icon-192.png
  packages/smooth_app/web/icons/Icon-512.png
  packages/smooth_app/web/index.html
  packages/smooth_app/web/manifest.json
Labels: iOS, web, Android, github

#1113 feat: Allow for slide up on product cards
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
  packages/smooth_app/lib/pages/scan/scanner_overlay.dart
Labels: scan

#1110 feat: Better help email body
  packages/smooth_app/lib/pages/user_preferences_settings.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: User management

#1108 Create CODEOWNERS
  .github/CODEOWNERS
Labels: github

#1107 fix: summary card with no category
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
Labels: product page

#1122 feat: Better product image view
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_page.dart
Labels: product page, images, image carousel

#1134 feat: #954 - back to product after saving nutrition facts
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#1125 fix: Camera not activating directly
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scanning, mlkit, scan

#1124 fix: Null error when picking no picture
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
Labels: product page, product addition, image upload, l10n

#1133 feat: #1060 - new dev mode lenient/strong matching switch
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/smooth_it_model.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/helpers/smooth_matched_product.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/user_preferences_dev_mode.dart
Labels: personal scoring

#1147 feat: Added core usage logging
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/database/dao_int.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/helpers/tracking_database_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, analytics, database, scan

#1151 Fix: Camera lockCaptureOrientation fix
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan
