Repository openfoodfacts/smooth-app, pull requests merged in 2022-09, with the labels that each got.

#2870 feat: Bring back the quick setting tile on Android
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/AppMainTile.kt
  packages/smooth_app/android/app/src/main/res/values/strings.xml
Labels: Android, P4

#2433 fix: Background image upload
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/onboarding_data_product.dart
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/generic_lib/duration_constants.dart
  packages/smooth_app/lib/helpers/background_task_helper.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: image upload, P0, offline contribution

#2888 ci: fix PR
  .github/workflows/github-projects-pr.yml
Labels: github

#2884 fix: Fixes for Flutter version 3.3
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/release-please.yml
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: product page, onboarding, tests, dependencies, github, scan

#2902 feat: Remove camera related settings
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: settings, camera

#2903 feat: Upgrade iOS dependencies
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
Labels: iOS

#2912 feat: Vertical order for edit_product_form_item_exit_confirmation
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: dialogs

#2801 feat: Add a gallery of all the images present on the server (v2)
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
  packages/smooth_app/lib/generic_lib/loading_sliver.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_grid.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_list.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_view.dart
  packages/smooth_app/lib/generic_lib/widgets/picture_not_found.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image_container.dart
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/helpers/database_helper.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: image carousel

#2864 fix: Dark status bar for onboarding
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: iOS, P4, status bar

#2932 fix: Scanner - Not being reinitialized in low memory mode
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scan

#2930 fix: Improve the issue template for better issues
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github

#2933 fix: improve the PR template
  .github/pull_request_template.yml
Labels: github

#2901 feat: Instant refresh views
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: editing, offline, offline contribution

#2947 feat: Remove D8 (deprecated on Android)
  packages/smooth_app/android/gradle.properties
Labels: Android

#2872 fix: #1538 - new crop tool (cf. dev mode)
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/tmp_crop_image/crop_grid.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_controller.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_image.dart
  packages/smooth_app/lib/tmp_crop_image/rotation.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: photo cropping

#2861 fix: #2833 - KP page refreshed by product (refactoring was needed)
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: P1, Knowledge panels, data refresh

#2953 feat: Alternative mode for camera (Android only feature)
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/alternative_camera_mode.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/mkit_scan_helper.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
Labels: scan, camera

#2962 feat: Onboarding - New permission screen
  packages/smooth_app/assets/animations/barcode.json
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/lib/helpers/provider_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: onboarding, permissions, camera

#2955 feat: Common layout for welcome / product not found / error cards
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel, scan card

#2937 feat: Finalizer for MLKitScanDecoder
  packages/smooth_app/lib/pages/scan/mkit_scan_helper.dart
Labels: scan

#2957 feat: Helper for haptic feedback + improved delete product button
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/haptic_feedback_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_flash_toggle.dart
Labels: accessibility, product scan carousel

#2964 fix: miniature of ingredients blocks the text
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: product page, product addition, mlkit, scan

#2970 feat: Tap to edit search feature
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: search

#2991 fix: Infinite loader after saving Robotoff answers
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
Labels: bug, robotoff

#2992 fix: Move the Sign out button to the last position
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
Labels: User management

#2997 feat: Add fairtrade-international.77x90.svg to the cache folder
  packages/smooth_app/assets/cache/fairtrade-international.77x90.svg
Labels: asset cache

#3008 feat: Allow to change the camera mode without restarting
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/provider_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/plural_translation_test.dart
Labels: camera

#3016 fix: Goldens update darkmode status
  packages/smooth_app/pubspec.lock
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/mocks.dart
Labels: tests

#3005 feat: Supported devices algorithm improved for the alternative scanner mode
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/pages/scan/alternative_camera_mode.dart
Labels: camera, scan alternative mode

#3010 refactor: Removed unnecessary assets
  packages/smooth_app/assets/actions/camera.svg
  packages/smooth_app/assets/actions/food-cog.svg
  packages/smooth_app/assets/actions/preferences.svg
  packages/smooth_app/assets/actions/qr_code.svg
  packages/smooth_app/assets/actions/scanner.svg
  packages/smooth_app/assets/actions/scanner_alt_1.svg
  packages/smooth_app/assets/actions/scanner_alt_2.svg
  packages/smooth_app/assets/actions/scanner_alt_3.svg
  packages/smooth_app/assets/categories/beverages.svg
  packages/smooth_app/assets/categories/cereals_and_potatoes.svg
  packages/smooth_app/assets/categories/composite_foods.svg
  packages/smooth_app/assets/categories/fat_and_sauces.svg
  packages/smooth_app/assets/categories/fish_meat_and_eggs.svg
  packages/smooth_app/assets/categories/fruits_and_vegetables.svg
  packages/smooth_app/assets/categories/milk_and_dairies.svg
  packages/smooth_app/assets/categories/salty_snacks.svg
  packages/smooth_app/assets/categories/sugary_snacks.svg
  packages/smooth_app/assets/data/energy.svg
  packages/smooth_app/assets/data/portion.svg
  packages/smooth_app/assets/data/target.svg
  packages/smooth_app/assets/icons/search.svg
  packages/smooth_app/assets/ikonate_bold/activity.svg
  packages/smooth_app/assets/ikonate_bold/add.svg
  packages/smooth_app/assets/ikonate_bold/camera.svg
  packages/smooth_app/assets/ikonate_bold/person.svg
  packages/smooth_app/assets/ikonate_bold/search.svg
  packages/smooth_app/assets/ikonate_thin/activity.svg
  packages/smooth_app/assets/ikonate_thin/add.svg
  packages/smooth_app/assets/ikonate_thin/camera.svg
  packages/smooth_app/assets/ikonate_thin/maximise.svg
  packages/smooth_app/assets/ikonate_thin/person.svg
  packages/smooth_app/assets/ikonate_thin/search.svg
  packages/smooth_app/assets/labels/ab_label.svg
  packages/smooth_app/assets/misc/information.svg
  packages/smooth_app/assets/misc/right_arrow.svg
  packages/smooth_app/assets/misc/work_in_progress.svg
  packages/smooth_app/assets/misc/work_in_progress_alt.svg
  packages/smooth_app/assets/misc/work_in_progress_alt_2.svg
  packages/smooth_app/assets/misc/work_in_progress_alt_3.svg
  packages/smooth_app/assets/navigation/contribute.svg
  packages/smooth_app/assets/navigation/organize.svg
  packages/smooth_app/assets/navigation/search.svg
  packages/smooth_app/assets/navigation/track.svg
  packages/smooth_app/assets/navigation/user.svg
  packages/smooth_app/assets/product/missing_image.svg
  packages/smooth_app/pubspec.yaml
Labels: dependencies, style

#3034 fix: Upgrade matomo version (+ needed other deps)
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#2794 ci: update PR labeler
  .github/labeler.yml
Labels: github

#3041 feat: add paginated top issue parser
  .github/workflows/top-issues.yml
Labels: github

#3050 ci: Auto perfect product update
  .github/workflows/update-assets.yml
  ci/update_assets.sh
Labels: github

#3070 fix: Sentry stopping tests
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3071 ci: fix: Internal release not working
  .github/workflows/internal-release.yml
Labels: github
