Repository openfoodfacts/smooth-app, pull requests merged in 2022-10, with the labels that each got.

#3062 ci: icons for release please
  .github/workflows/release-please.yml
Labels: github

#3086 ci: Update internal-release.yml
  .github/workflows/internal-release.yml
Labels: github

#3087 ci: Make the tagging future-proof
  .github/workflows/internal-release.yml
Labels: github

#3085 fix: harmonize search modals
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: modals

#3092 ci: fix: removed values from traceName
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#3094 ci: Add apk to release tag
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  .github/workflows/update-assets.yml
Labels: ci, github, f-droid

#3097 ci: Fix github actions
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  .github/workflows/update-assets.yml
Labels: github

#3099 fix: Consistent paddings between all Widgets in the product page
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: UI / UX, product page

#3114 feat: On Android, use the file-based camera mode by default
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/alternative_camera_mode.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/camera_modes.dart
Labels: mlkit, scan, camera, scan alternative mode

#3115 fix: The search should force the keyboard to be visible
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: search

#3113 fix: Template card size
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
Labels: search, layout

#3088 refactor: ProductImageData to contain all image links
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_grid.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: P0

#3131 fix: No visible InkWell on the instructions tip
  packages/smooth_app/lib/pages/product/explanation_widget.dart
Labels: bug, UI / UX

#3122 feat: Products list improvements
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: compare mode, :star: top pull request

#3138 ci: fix: dont release on forks
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  .github/workflows/update-assets.yml
Labels: github

#3141 fix: Fix postsubmit action
  .github/workflows/postsubmit.yml
Labels: github

#3130 feat: Add the product name or barcode on each sub page
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: ingredients, editing, ingredients editing

#3121 feat: Nutrition page improvements
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/portion_helper.dart
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: nutrition facts, nutrition input

#3126 feat: Improvement for adding a product to lists
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: product page, lists, user lists

#3132 fix: Status bar icon colors on iOS
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: iOS

#3151 feat: Migration to Flutter 3.3.x
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/camera_image_cropper.dart
  packages/smooth_app/lib/pages/scan/camera_image_full_getter.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: flutter

#3154 ci: Github upload fix
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: github

#3153 chore: migrate to OFF SDK 1.26.0
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/users/registration_login_test.dart
Labels: product page, tests, dependencies, nutrition input

#3165 ci: fix: unexpected token
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/presubmit.yml
Labels: github

#3102 feat!: hunger games
  packages/app/pubspec.lock
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
Labels: hunger games

#3180 docs: Make the guide how to run the app more visible
  CONTRIBUTING.md
  README.md
Labels: documentation

#3183 ci: update the PR template with semantic prefixes
  .github/pull_request_template.yml
Labels: github

#3192 fix: Onboarding: consistent bottom padding on iOS
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: iOS, onboarding

#3191 fix: iOS camera permission not working
  packages/app/ios/Podfile
Labels: iOS, permissions, camera

#3195 fix: #3188 - colored button for "ignore" in hunger games
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
Labels: hunger games

#3200 fix: Black screen with the camera
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan, camera

#3206 fix: Weird bottom padding on login & signup pages
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: User management

#3194 fix: #3046 - refactored NutritionPage around Nutrient
  packages/app/pubspec.lock
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/portion_helper.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/users/registration_login_test.dart
Labels: product page, tests, dependencies, nutrition input, refactoring

#3201 feat: Sign Up form with a "Send" action on the keyboard
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#3205 fix: "Terms of use" not clickable on the Sign up form
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#3190 chore: add golden tests and files for dialogs
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
Labels: tests, dialogs

#3215 chore: Bump flutter_isolate dependency
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3221 fix: bottom overflow rendering issue #3177
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, onboarding, user lists

#3193 feat: MLKit as a dependency
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .run/Android (Amazon App Store).run.xml
  .run/Android (Fdroid).dart.run.xml
  .run/Android (Google Play).dart.run.xml
  .run/Android (Huawei Appgallery).run.xml
  .run/Android (Samsung Gallery).dart.run.xml
  .run/Enable scanner_mlkit dependency.run.xml
  .run/Enable scanner_zxing dependency.run.xml
  .run/iOS app.run.xml
  .vscode/launch.json
  ci/enable_mlkit_dependency.sh
  ci/enable_zxing_dependency.sh
  ci/testing.sh
  packages/app/lib/entrypoints/android/main_amazon_appstore.dart
  packages/app/lib/entrypoints/android/main_fdroid.dart
  packages/app/lib/entrypoints/android/main_google_play.dart
  packages/app/lib/entrypoints/android/main_huawei_appgallery.dart
  packages/app/lib/entrypoints/android/main_samsung_gallery.dart
  packages/app/lib/entrypoints/ios/main_ios.dart
  packages/app/pubspec.lock
  packages/app/pubspec.yaml
  packages/scanner/mlkit/.gitignore
  packages/scanner/mlkit/.metadata
  packages/scanner/mlkit/analysis_options.yaml
  packages/scanner/mlkit/lib/scanner_mlkit.dart
  packages/scanner/mlkit/lib/src/mlkit_camera_scanner.dart
  packages/scanner/mlkit/lib/src/utils/abstract_camera_image_getter.dart
  packages/scanner/mlkit/lib/src/utils/camera_image_cropper.dart
  packages/scanner/mlkit/lib/src/utils/camera_image_full_getter.dart
  packages/scanner/mlkit/pubspec.yaml
  packages/scanner/mlkit/test/scanner_mlkit_test.dart
  packages/scanner/shared/.gitignore
  packages/scanner/shared/.metadata
  packages/scanner/shared/analysis_options.yaml
  packages/scanner/shared/lib/scanner_shared.dart
  packages/scanner/shared/lib/src/scanner.dart
  packages/scanner/shared/lib/src/scanner_log.dart
  packages/scanner/shared/lib/src/scanner_mocked.dart
  packages/scanner/shared/lib/src/scanner_modes.dart
  packages/scanner/shared/pubspec.yaml
  packages/scanner/shared/test/shared_test.dart
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/basic_test.dart
Labels: tests, dependencies, github, mlkit, scan

#3222 ci: allow to run script
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#3223 ci: add a list of current tests
  .github/labeler.yml
Labels: github

#3227 fix: #3018 - new "interesting barcode" and "latest download" features
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/personalized_ranking_model.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, product addition, summary card, nutrition input, user lists

#3219 fix: Finish button replaced with FAB
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition

#3230 fix: added auto complete text field for origins #3209
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies

#3235 ci: add support to label goldens
  .github/labeler.yml
Labels: github

#3239 feat: #3237 - systematic gallery/camera choice, or gallery if no camera
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page, product addition, l10n, photo cropping

#3232 fix: #3231 - removed an embedded scrolling in product list page
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists
