Repository openfoodfacts/smooth-app, pull requests merged in 2022-08, with the labels that each got.

#2702 fix: Barcode color in product edition page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: darkmode

#2698 feat: Move to Sentry breadcrumbs
  packages/smooth_app/lib/services/logs/fimber/trees/sentry_fimber_tree.dart
  packages/smooth_app/lib/services/logs/logs_fimber_impl.dart
Labels: sentry

#2704 fix: AutocompleteWidget: Scrollbar + dividers + correct width
  packages/smooth_app/lib/pages/product/autocomplete.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: UI / UX

#2723 fix: use smoothcard in edit_product_page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

#2740 feat: Show osm attribution + removed matomo_tracker fork
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#2746 fix: If the latest barcode is removed from the carousel, it should be scannable again
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
Labels: scan

#2760 fix: back button invisible for some preferences' screen
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
Labels: UI / UX

#2758 feat: Improve button labels when exiting without saving changes
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: translations

#2759 fix: Overflow on small devices
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: small devices

#2765 fix: Nutrition facts - moving between fields with the keyboard is now working
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: keyboard, nutrition facts, focus

#2752 feat: Between the screen to take a picture and to crop it, a loading screen is now displayed
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: photo cropping

#2763 fix: The permission workflow for the camera should now be OK
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: P1, permissions, camera

#2770 feat: #2174 - doomscrolling instead of "download more" button
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: enhancement, search

#2791 ci: extra security
  .github/workflows/dependency-review.yml
Labels: github

#2535 feat: Sign up form: try to highlight the issue
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#2754 feat: Edit product page UI improvements
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: UI / UX, product page

#2788 feat: #2785 - async access to dao product list
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/product_list_supplier.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: database

#2792 fix: support back swipe on iOS product page
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: iOS, product page

#2800 fix: Improvements for logs
  packages/smooth_app/lib/services/logs/fimber/trees/file_fimber_tree.dart
  packages/smooth_app/lib/services/logs/logs_fimber_impl.dart
  packages/smooth_app/lib/services/logs/smooth_log_levels.dart
Labels: settings, devops, tracing

#2798 fix: screenshot - different Key for different screens
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_eco_card_page.dart
  packages/smooth_app/lib/pages/onboarding/sample_health_card_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: screenshot-generation

#2626 feat: Horizontal buttons for Dialogs
  packages/smooth_app/lib/data_models/github_contributors_model.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_responsive.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: P2, dialogs

#2797 feat: use modals for navigating to editing screens
  packages/smooth_app/lib/pages/product/add_category_button.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_nutrition_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: iOS, editing

#2808 fix: infinite loading while image upload
  packages/smooth_app/lib/pages/image_crop_page.dart
Labels: bug, image upload

#2799 refactor: #920 - when relevant, switched to "Navigator.push<void>"
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/product/add_category_button.dart
  packages/smooth_app/lib/pages/product/add_ingredients_button.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_nutrition_button.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: refactoring

#2777 ci: Major release update
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/android-release.txt
  .github/workflows/dartdoc.txt
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release.txt
  .github/workflows/issue-label.txt
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/release-please.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/update-xcode.txt
  CONTRIBUTING.md
  README.md
  packages/smooth_app/android/fastlane/Fastfile
  packages/smooth_app/ios/fastlane/Fastfile
Labels: iOS, Android, github

#2811 ci: Major release update fix
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: github

#2813 Release please fix
  .github/workflows/release-please.yml
Labels: github

#2814 ci: Final release please fix
  .github/workflows/release-please.yml
Labels: github

#2816 ci: Fix not outputting values from release-please
  .github/workflows/release-please.yml
Labels: github

#2818 ci: Fix wrong env name
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/release-please.yml
Labels: github

#2820 ci: Fix secret naming
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
  packages/smooth_app/android/fastlane/Fastfile
Labels: Android, github

#2822 ci: Fix use inputs not env
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#2768 fix: UI/UX improvements for product edition
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: contribution, editing

#2824 ci: Finalize new pipeline
  .github/workflows/README.md
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#2832 fix: Splash on Android 24
  packages/smooth_app/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-hdpi/logo_text.png
  packages/smooth_app/android/app/src/main/res/drawable-night-v24/ic_launcher_foreground.xml
  packages/smooth_app/android/app/src/main/res/drawable-night-v24/logo_text.xml
  packages/smooth_app/android/app/src/main/res/drawable-night/launch_background.xml
  packages/smooth_app/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  packages/smooth_app/android/app/src/main/res/drawable-v24/logo_text.xml
  packages/smooth_app/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xhdpi/logo_text.png
  packages/smooth_app/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  packages/smooth_app/android/app/src/main/res/drawable-xxhdpi/logo_text.png
  packages/smooth_app/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  packages/smooth_app/android/app/src/main/res/drawable/launch_background.xml
  packages/smooth_app/android/app/src/main/res/drawable/logo_text.xml
Labels: splashscreen

#2831 feat: use adaptive progress Indicator
  packages/smooth_app/lib/cards/category_cards/abstract_cache.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_loading.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: UI / UX

#2835 feat: Improvements for the decoding process (1/3)
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scan, camera

#2839 fix: Improvements for the decoding process (2/3)
  packages/smooth_app/pubspec.lock
Labels: camera, focus

#2844 fix: #2841 - from "AddNewProductPage", no need to be logged in to add data
  .github/workflows/presubmit.yml
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product addition

#2847 ci: fix: Running workflows on pr's from forks
  .github/workflows/presubmit.yml
Labels: ci, github

#2810 fix: improve ios launch screen on notch devices
  packages/smooth_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
Labels: iOS, splashscreen

#2858 fix: #1538 - refactoring of image cropper
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
Labels: photo cropping

#2865 feat: No email application installed
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: settings, P4

#2871 feat: Add to list horizontal buttons
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: lists, layout, P4, dialogs
