Repository openfoodfacts/smooth-app, pull requests merged in 2022-12, with the labels that each got.

#3388 fix: bring badges inline with standard github badges
  README.md
Labels: documentation

#3399 fix: 3387 - energy and energyKJ confusion fix
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product page, nutrition input

#3400 chore: Add dev mode setting to add cards to the scanner
  packages/app/linux/flutter/generated_plugin_registrant.cc
  packages/app/linux/flutter/generated_plugins.cmake
  packages/app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/app/pubspec.lock
  packages/app/windows/flutter/generated_plugin_registrant.cc
  packages/app/windows/flutter/generated_plugins.cmake
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: macos

#3406 docs: figma link in README
  README.md
Labels: documentation

#3405 fix: 3393 [Image cropper] The AppBar title is weirdly centered
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page

#3407 docs: finish refactoring README
  README.md
Labels: documentation

#3384 docs: update iOS release and re-add code documentation
  README.md
  packages/app/README.md
Labels: documentation

#3421 ci: fix: release please
  .github/workflows/release-please.yml
Labels: github

#3402 feat: 3332 - refactored the new crop page UI and added a camera
  packages/app/ios/Podfile.lock
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/may_exit_page_helper.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_controller.dart
  packages/smooth_app/lib/tmp_crop_image/rotation.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, photo cropping

#3416 feat: web account deletion
  packages/app/android/app/build.gradle
  packages/app/pubspec.lock
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/local_database_mock.dart
  packages/smooth_app/test/tests_utils/mocks.dart
Labels: tests, dependencies, l10n

#3429 ci: Show flavour in about this app and sentry
  packages/app/lib/entrypoints/android/main_fdroid.dart
  packages/app/lib/entrypoints/android/main_google_play.dart
  packages/app/lib/entrypoints/ios/main_ios.dart
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: analytics, tests

#3432 ci: product scan carousel labeler fix
  .github/labeler.yml
Labels: github

#3426 fix: 3417 The tagline blinks in the app language, then goes back to English
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel, tagline

#3446 fix: New product added to history
  packages/app/pubspec.lock
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition

#3401 feat: Add all scanned products to list
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: product page, product addition, database, l10n, user lists

#3450 fix: Language code usage
  packages/smooth_app/lib/data_models/product_preferences.dart
  packages/smooth_app/lib/data_models/tagline.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/questions_query.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel

#3454 fix: Provider used after beeing disposed in multi edit page
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page

#3456 fix: fix: multi edit provider
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page

#3452 chore: Dev mode cleanup
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/test/plural_translation_test.dart
Labels: product page, product addition, tests, l10n

#3439 feat: improved app rating flow
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management, l10n, app rating

#3471 refactor: integrating off-dart 1.30.1
  packages/app/ios/Podfile.lock
  packages/app/pubspec.lock
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/query/paged_search_product_query.dart
  packages/smooth_app/lib/query/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/products_preload_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, product addition, onboarding, dependencies, user lists

#3476 ci: add issues to packaging GitHub Project
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github

#3475 feat: 3430 - new packagings edit page based on api v3
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/query/paged_user_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, packaging input

#3485 ci: Upgrade ruby + bundler
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/internal-release.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
  packages/app/android/.ruby-version
  packages/app/android/Gemfile.lock
  packages/app/ios/.ruby-version
  packages/app/ios/Gemfile.lock
Labels: github

#3489 fix: Prevent edit of perfect product on onboarding
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, onboarding, summary card
