Repository openfoodfacts/smooth-app, pull requests merged in 2022-07, with the labels that each got.

#2465 feat: #2339 - added language and country to query product list keys
  packages/smooth_app/lib/data_models/abstract_onboarding_data.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/database_product_list_supplier.dart
  packages/smooth_app/lib/data_models/onboarding_data_product.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/product_list_supplier.dart
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/paged_product_query.dart
  packages/smooth_app/lib/database/paged_search_product_query.dart
  packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
  packages/smooth_app/lib/query/category_product_query.dart
  packages/smooth_app/lib/query/keywords_product_query.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/paged_search_product_query.dart
  packages/smooth_app/lib/query/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/query/paged_user_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/robotoff_questions_query.dart
Labels: search

#2432 perf: Prefer const border radius
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: performance

#2472 fix: #2469 - additional small space before action buttons for KP
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
Labels: Knowledge panels, road to scores

#2468 fix: Fixes for the About Dialog
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: bug, settings, layout

#2409 fix: Camera fixes
  packages/smooth_app/lib/helpers/camera_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/camera_image_preview.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/widgets/lifecycle_aware_widget.dart
  packages/smooth_app/pubspec.lock
Labels: scan

#2343 feat: Coherent status bar across screen
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/html_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/smooth_category_picker_example.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
  packages/smooth_app/test/pages/generic_lib/widgets/smooth_error_card_test.dart
  packages/smooth_app/test/smooth_ui_library/animations/smooth_reveal_animation_test.dart
  packages/smooth_app/test/smooth_ui_library/dialogs/smooth_category_picker_test.dart
Labels: iOS, P2, status bar

#2497 fix: Ensure ripples are drawn above cards
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: UI / UX, product page

#2500 fix: People have issues with cropping
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: photo cropping

#2549 fix: #2545 - additional iOS refresh for sentry
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
Labels: iOS, sentry

#2534 feat: Remove a maximum of hardcoded sizes and move Padding to Directional ones
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/onboarding/common/tooltip_shape_border.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/autocomplete.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/scan_flash_toggle.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scanner_overlay.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/views/bottom_sheet_views/group_query_filter_view.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: rtl

#2587 feat: Smooth Dialog with an axis for buttons
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: UI / UX, dialogs

#2608 Revert "feat: Smooth Dialog with an axis for buttons"
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page

#2623 feat: #2475 - "contribute" now links to "in app" to-be-completed page
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: settings, contribution

#2620 fix: Carousel - Item not deletable
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: product scan carousel

#2618 fix: #2009 - product page will always pull down - and refresh
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page

#2581 feat: #2573 - Knowledge Panel cells are expanded on detail pages
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
Labels: Knowledge panels

#2568 fix: #2561 - fixed value+unit management in nutrient page
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#2616 ci: re-add release please to generate easier release changelogs
  .github/workflows/release-please.yml
Labels: github

#2632 fix: double-response mechanism in the scan screen
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
Labels: offline, scan, offline browsing

#2640 feat: Better highlight the selected item in the bottom navigation bar
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: UI / UX, accessibility

#2569 fix: #2530 - replaced the score colors with a score emoji
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: product page, accessibility, dev mode

#2634 feat: #2364 - new preferences toggles for ingredients / nutrition expand mode
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
Labels: settings, Knowledge panels, Local knowledge panel overrides

#2617 feat: #2337 - additional "power user" product edit page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: editing

#2539 feat: Language filter
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_languages_list.dart
Labels: settings

#2645 fix: fr translation hotfix
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#2609 feat: #2396 - better memory management - load products only when needed
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/partial_product_list.dart
  packages/smooth_app/lib/data_models/personalized_ranking_model.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/product_preferences.dart
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_main_button.dart
  packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/pages/scan/scan_product_card_loader.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/tmp_matched_product_v2.dart
  packages/smooth_app/lib/views/bottom_sheet_views/group_query_filter_view.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: network

#2665 ci: cache-update
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#2657 fix: #2291 - removed flawed specific font (back to default fonts)
  packages/smooth_app/assets/plus_jakarta_sans_regular/OFL.txt
  packages/smooth_app/assets/plus_jakarta_sans_regular/PlusJakartaSans-Bold.ttf
  packages/smooth_app/assets/plus_jakarta_sans_regular/PlusJakartaSans-Regular.ttf
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/pubspec.yaml
Labels: UI / UX

#2661 feat: added feat in dev mode to preload 1k products
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/query/products_preload_helper.dart
Labels: offline browsing

#2649 feat: #2647 - added a refresh gesture to edit product page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: pull to refresh

#2674 fix: Update app_ru.arb
  packages/smooth_app/lib/l10n/app_ru.arb
Labels: l10n

#2666 ci: pod update Sentry
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github
