Repository openfoodfacts/smooth-app, pull requests merged in 2022-04, with the labels that each got.

#1434 fix: Text on the scanner should not be selectable
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/question_card.dart
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: scan card

#1422 fix: old crop utility brought back
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: merge conflicts, photo cropping

#1442 fix: knowledge panel name made visible
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_summary_card.dart
Labels: Knowledge panels

#1445 fix: Button resized with max line= 1 for change in language bug
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: settings

#1458 feat: Support for a "source" within a Knownledge Panel Text element
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: Knowledge panels, l10n

#1466 feat: Support for a "source" within a Knownledge Panel Text element (…
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#1459 fix: Misaligned Inkwell Fixed
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: Knowledge panels

#1471 fix: Onboarding - Country selected highlighted
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: UI / UX, onboarding

#1473 fix: Translate hardcoded sentences
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/user_preferences_profile.dart
  packages/smooth_app/lib/pages/user_preferences_settings.dart
Labels: translations, product page, User management, l10n, scan, photo cropping

#1474 feat: minor improvement for summary_card
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: UI / UX, product page

#1460 fix: no visual feedback on next button
  packages/smooth_app/lib/pages/onboarding/next_button.dart
Labels: onboarding

#1487 feat: remove bottom fab button in product page
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page

#1475 feat: minor design fixes in nutrition_page_loaded.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: UI / UX, product addition

#1493 fix: Switched unselected item color according to theme
  packages/smooth_app/lib/pages/page_manager.dart
Labels: navigation, colors

#1496 fix: turn off the alert message on user cancel
  CHANGELOG.md
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: UI / UX, product page

#1489 fix: Sliver App Bar 2 word title fixed to one line
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: search

#1464 fix: Enabled Circular border around country Selector
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: onboarding

#1499 ci: Add to GitHub Projects beta
  .github/workflows/github-projects.yml
Labels: github

#1463 fix: different background color on sliverAppBar
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: search

#1485 fix: Contributor Box made scrollable with flexible to small device sizes
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/helpers/list_helper.dart
  packages/smooth_app/lib/views/bottom_sheet_views/user_contribution_view.dart
Labels: settings

#1437 feat: #1333 - now the back-end results are paged.
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/data_models/database_product_list_supplier.dart
  packages/smooth_app/lib/data_models/partial_product_list.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/product_list_supplier.dart
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/category_product_query.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/database/keywords_product_query.dart
  packages/smooth_app/lib/database/paged_product_query.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: merge conflicts, search

#1523 fix: Show better messages to non logged in users in quesion page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/pubspec.lock
Labels: product page, l10n, summary card, question page

#1494 fix: Transportation Component Icon and title color is not compatible
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/generic_lib/design_constants.dart
Labels: Knowledge panels

#1530 fix: reword some strings
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#1529 feat: #217 - onboarding screenshot generation.
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test_driver/screenshot_driver.dart
Labels: screenshot-generation

#1520 fix: #1395 - show newly added product in carousel
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product addition, product scan carousel

#1547 fix: Autofill with better hints
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#1545 fix: Sign up page: Fix trimmed text not being done correctly
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management

#1563 fix: Another way to translate iOS files
  crowdin.yml
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/ios/Runner/en.lproj/Info.plist
  packages/smooth_app/ios/Runner/en.lproj/InfoPlist.strings
  packages/smooth_app/ios/Runner/fr.lproj/Info.plist
  packages/smooth_app/ios/Runner/fr.lproj/InfoPlist.strings
Labels: iOS

#1543 fix: Make this string translatable
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/category_picker_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: localization

#1497 fix: Overflow in add new product front photo button
  packages/smooth_app/lib/generic_lib/buttons/smooth_action_button.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/pubspec.lock
Labels: photo cropping

#1573 fix: Fixed Scan cards with different sizes
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product scan carousel

#1578 fix: Support 0 camera
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan, camera

#1556 fix: Country selector with right overflow
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: onboarding, countries

#1597 ci: run Crowdin every night
  .github/workflows/crowdin.yml
Labels: github

#1592 feat: Uploading dialog with a message based on the photo type
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: translations, l10n

#1583 feat: If camera permission is denied, allow the user to approve it again
  .github/workflows/crowdin.yml
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/lib/helpers/picture_capture_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scanner_overlay.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: merge conflicts, github, l10n, permissions, scan

#1586 fix: fixes new product found button overflow
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
Labels: overflows

#1488 fix: make card bottom prompt visible
  packages/smooth_app/lib/database/paged_product_query.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: merge conflicts, scan card

#1601 fix: Fixed phantom space issue
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
Labels: UI / UX, ingredients, Knowledge panels, layout

#1574 fix: #1352 - robotoff insight card shows permanently
  packages/smooth_app/lib/data_models/product_query_model.dart
  packages/smooth_app/lib/database/dao_string_list_map.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/database/robotoff_questions_query.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/question_page.dart
Labels: robotoff

#1603 fix: Translator suggestions
  packages/smooth_app/ios/Runner/en.lproj/InfoPlist.strings
  packages/smooth_app/lib/l10n/app_en.arb
Labels: iOS, l10n

#1579 feat: Half image focus
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: mlkit, scan, camera

#1614 Translation suggestions
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#1620 fix: use title_element
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
Labels: Knowledge panels

#1631 fix: Mention that the Display Name will be publicly visible
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: merge conflicts

#1639 fix: manual ZH translation update
  packages/smooth_app/lib/l10n/app_zh.arb
Labels: l10n

#1627 fix: Nutrient search field added
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#1612 fix: #1478 - additional cache folder for tintable svg files
  packages/smooth_app/assets/cacheTintable/activity-walking.svg
  packages/smooth_app/assets/cacheTintable/agriculture.svg
  packages/smooth_app/assets/cacheTintable/arrow-bottom-right-thick.svg
  packages/smooth_app/assets/cacheTintable/arrow-top-right-thick.svg
  packages/smooth_app/assets/cacheTintable/car.svg
  packages/smooth_app/assets/cacheTintable/egg.svg
  packages/smooth_app/assets/cacheTintable/leaf.svg
  packages/smooth_app/assets/cacheTintable/monkey_happy.svg
  packages/smooth_app/assets/cacheTintable/monkey_uncertain.svg
  packages/smooth_app/assets/cacheTintable/monkey_unhappy.svg
  packages/smooth_app/assets/cacheTintable/packaging.svg
  packages/smooth_app/assets/cacheTintable/palm-oil.svg
  packages/smooth_app/assets/cacheTintable/public.svg
  packages/smooth_app/assets/cacheTintable/scale-balance.svg
  packages/smooth_app/assets/cacheTintable/transportation.svg
  packages/smooth_app/assets/cacheTintable/vegetarian.svg
  packages/smooth_app/lib/cards/category_cards/abstract_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/abstract_cache.dart
  packages/smooth_app/lib/cards/category_cards/asset_cache_helper.dart
  packages/smooth_app/lib/cards/category_cards/raster_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/raster_cache.dart
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/pubspec.yaml
Labels: asset cache

#1604 fix: #1139 - carousel spinning issues
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel

#1646 fix: Only show buttons when summary card is in the product page
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, summary card, dependancies

#1650 fix: iOS release failing
  .github/workflows/ios-release.yml
Labels: iOS, github

#1648 fix: Don't show un-necessary alert dialog on nutrient page
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#1628 fix: #1610 Added padding around score cards
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
Labels: search, results lists

#1649 feat: #1073 - user-defined product lists
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
  packages/smooth_app/lib/themes/constant_icons.dart
Labels: lists

#1655 Update ios-release.yml
  .github/workflows/ios-release.yml
Labels: github

#1674 ci: autoassign PR
  .github/workflows/auto-assign-pr.yml
Labels: github

#1679 fix: #1669 - accepts both decimal points
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: nutrition input

#1662 feat: Remove individual product from the scan carousel
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
Labels: product scan carousel, scan card

#1686 feat: New app name
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
Labels: iOS, Android, l10n, app swap

#1666 feat: Make attributes clickable (without Provider)
  packages/smooth_app/analysis_options.yaml
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/helpers/smooth_matched_product.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, attributes, Knowledge panels, summary card

#1665 fix: #1540 - duplicated panel title
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
Labels: Knowledge panels

#1695 fix: update image cropper to 2.0.0 #1672
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: photo cropping

#1718 fix: Product remove cross is too small
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/design_constants.dart
Labels: merge conflicts

#1717 fix: Welcome page screen not optimized for small devices
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: onboarding
