Repository openfoodfacts/smooth-app, pull requests merged in 2022-06, with the labels that each got.

#2110 feat: Country selector moved to app settings
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
Labels: settings

#2132 fix: Matomo not sending requests (country)
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#2028 feat: Update to new color scheme
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_loading.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_thanks.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/helpers/color_extension.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_list_tile.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/smooth_chip.dart
  packages/smooth_app/lib/pages/product/confirm_and_upload_picture.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/themes/color_schemes.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-blue-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-brown-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-green-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/utils/mocks.dart
Labels: product page, product addition, onboarding, design, User management, tests, dependencies, l10n, nutrition input, scan, colors, photo cropping

#2120 fix: Login error breaks whole screen
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

#2134 fix: OnBoarding still accessible via the back button
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
Labels: onboarding

#2148 feat: Shadow around the visor
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_visor.dart
  packages/smooth_app/lib/pages/scan/scanner_overlay.dart
Labels: UI / UX

#2151 fix: #2147 - fine-tuned the computation of "compared to category"
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: compare mode

#2154 fix: #2147 - now using new product field `comparedToCategory`
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: compare mode

#2177 fix: Camera - Oncccccce again!
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: scan

#2158 feat: Carousel with OFF logo
  packages/smooth_app/assets/app/release_icon_dark_transparent_no_border.svg
  packages/smooth_app/assets/app/release_icon_light_transparent_no_border.svg
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel, scan card

#2119 feat: #2067 - new personalized page layout (no tabs, backgrounds)
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/smooth_it_model.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: personal search, personal scoring

#2143 feat: Nutritional values: ensure only one decimal separator is displayed
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/helpers/text_input_formatters_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/test/cache/cache_test.dart
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/goldens.dart
  packages/smooth_app/test/tests_utils/mocks.dart
  packages/smooth_app/test/tests_utils/path_provider_mock.dart
  packages/smooth_app/test/utils/string_extensions_test.dart
  packages/smooth_app/test/utils/text_input_formatters_tests.dart
Labels: bug, nutrition input, P0

#2185 fix: #2181 - SmoothSimpleButton now uses the default app colors
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_error_card.dart
Labels: colors, buttons

#2197 feat: Play camera sound on scan
  packages/smooth_app/assets/audio/beep.ogg
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: scan

#2187 fix: #2180 - more simple app bar title for search results
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
Labels: UI / UX, search

#2142 fix: #2125 product name clickable
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
Labels: product scan carousel, scan card, basic info input

#2210 Updated dependencies
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#2214 feat: #2160 card new with barcode
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
Labels: product addition, product scan carousel, scan card

#2213 fix: new svg asset files
  packages/smooth_app/assets/cacheTintable/ingredients.svg
  packages/smooth_app/assets/cacheTintable/nutrition.svg
  packages/smooth_app/lib/cards/category_cards/asset_cache_helper.dart
Labels: asset cache

#2225 fix: #2221 - set the "disabled" background color in the theme
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: darkmode

#2236 Revert "feat: Autopause camera after 1 min of inactivity"
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_visor.dart
Labels: l10n, mlkit, scan

#2201 fix: #2146 refresh product edition
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: contribution, editing

#2260 chore: nl hotfix
  packages/smooth_app/lib/l10n/app_nl.arb
Labels: l10n

#2117 fix: #1722 robotoff resend anonymous
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/pages/question_page.dart
Labels: robotoff

#2264 feat: Matomo refinements
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/question_page.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, User management, dependencies, mlkit, scan

#2287 feat: Allow to share products
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, l10n

#2270 fix: fr translation hotfix
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#2297 fix: The photo sections should not move after photo upload
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/pubspec.lock
Labels: product page, product addition

#2325 feat: Allow the Android app the be installed on external storage
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
Labels: Android

#1636 docs: Add the list of things still left for V1
  README.md
Labels: P0

#2335 feat: Only initialize the audio manager when necessary
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
Labels: settings, camera, scan sound

#2327 fix: Fix for issue 2257
  packages/smooth_app/lib/pages/scan/camera_controller.dart
Labels: camera

#2336 fix: #1427 scanning invalid code
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/fetched_product.dart
  packages/smooth_app/lib/database/barcode_product_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: scan

#2361 feat: Lint rules are now shared between OFF apps
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/smooth_app/analysis_options.yaml
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: lint

#2303 feat: Logs service (+ email attachment)
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/lib/cards/category_cards/asset_cache_helper.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/scan/camera_controller.dart
  packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart
  packages/smooth_app/lib/services/logs/fimber/fimber_helper.dart
  packages/smooth_app/lib/services/logs/fimber/trees/base_fimber_tree.dart
  packages/smooth_app/lib/services/logs/fimber/trees/debug_fimber_tree.dart
  packages/smooth_app/lib/services/logs/fimber/trees/file_fimber_tree.dart
  packages/smooth_app/lib/services/logs/fimber/trees/sentry_fimber_tree.dart
  packages/smooth_app/lib/services/logs/logs_fimber_impl.dart
  packages/smooth_app/lib/services/logs/smooth_log_levels.dart
  packages/smooth_app/lib/services/logs/smooth_logs_service.dart
  packages/smooth_app/lib/services/smooth_service.dart
  packages/smooth_app/lib/services/smooth_services.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: devops

#2347 fix: #1314 switch to scanner from empty list
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: lists, onboarding, history

#2274 fix: #2262 sending comment while saving uploading
  packages/smooth_app/lib/helpers/network_config.dart
Labels: contribution

#2344 fix: simple input page now manages consecutive calls
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: editing

#2338 fix: #1700 - nutrients - refactored "save" action as in SimpleInputPage
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/nutrition_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: enhancement, nutrition input

#2368 fix: Ensure the permission request is only asked once
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/pubspec.lock
Labels: permissions

#2379 feat: Make it possible to release Smoothie on the org.openfoodfacts.scanner listing (iOS and Android)
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/android-release.txt
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release.txt
  README.md
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/debug/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/MainActivity.kt
  packages/smooth_app/android/app/src/profile/AndroidManifest.xml
  packages/smooth_app/android/fastlane/Appfile
  packages/smooth_app/android/fastlane/Fastfile
  packages/smooth_app/android/fastlane/envfiles/api-4712693179220384697-162836-33ea08672303.json.enc
  packages/smooth_app/android/fastlane/envfiles/decrypt_secrets.sh
  packages/smooth_app/android/fastlane/envfiles/keystore.jks.gpg
  packages/smooth_app/android/fastlane/envfiles/scanner_keystore.jks.gpg
  packages/smooth_app/android/fastlane/envfiles/smoothie_keystore.jks.gpg
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/fastlane/Appfile
  packages/smooth_app/ios/fastlane/Deliverfile
  packages/smooth_app/ios/fastlane/Fastfile
  packages/smooth_app/ios/fastlane/Matchfile
  packages/smooth_app/pubspec.yaml
Labels: iOS, Android, dependencies, github

#2383 feat: #1070 - OCR for packaging
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/tmp_ocr_packaging_result.dart
Labels: packaging input

#2232 fix: #2128 add new card disappears
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/scan_page_helper.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product addition

#2408 feat: #2248 - user agent distinction between scan and barcode search
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/database/barcode_product_query.dart
  packages/smooth_app/lib/database/product_query.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: search, scan, network

#2412 feat: #2386 - added tests about localization parameters
  packages/smooth_app/lib/l10n/app_id.arb
  packages/smooth_app/lib/l10n/app_ja.arb
  packages/smooth_app/lib/l10n/app_uk.arb
  packages/smooth_app/test/plural_translation_test.dart
Labels: translations, tests

#2391 fix: #1973 new product in carousel
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
Labels: product addition, product scan carousel

#2441 feat: #2425 - added "all products to be completed" item (in user page)
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/database/contributor_product_query.dart
  packages/smooth_app/lib/database/informer_product_query.dart
  packages/smooth_app/lib/database/paged_user_product_query.dart
  packages/smooth_app/lib/database/photographer_product_query.dart
  packages/smooth_app/lib/database/to_be_completed_product_query.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/pages/preferences/tmp_to_be_completed_query_configuration.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
Labels: settings, contribution

#2440 feat: #1136 - handle "action" elements in KP
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/product/add_category_button.dart
  packages/smooth_app/lib/pages/product/add_ingredients_button.dart
  packages/smooth_app/lib/pages/product/add_nutrition_button.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: Knowledge panels, road to scores

#2437 feat: #2397 simplify dev mode access
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
Labels: dev mode

#2393 fix: #2362 history not refreshing
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/database/dao_product_list.dart
Labels: history
