Repository openfoodfacts/smooth-app, pull requests merged in 2023-02, with the labels that each got.

#3666 feat: 3585 - upgrade to flutter 3.7
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/scanner/mlkit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/background/background_task_badge.dart
  packages/smooth_app/lib/helpers/network_config.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: iOS, product page, onboarding, tests, dependencies, scan, macos, zxing

#3647 feat: Wrap list names on product page
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/pubspec.yaml
Labels: product page, product addition, dependencies

#3673 feat: 3656 - privacy compliance for cropped new images
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_controller.dart
Labels: product page, privacy, photo cropping

#3682 feat: 3656 - optimized JPEG compression
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/tmp_crop_image/image_compute_helper.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_image.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3676 fix: 3663 - packaging number of units and weight as nums
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_number_field.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page, nutrition input, packaging input

#3651 feat: add copy to clipboard button for email
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: l10n

#3688 fix: Webview
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/test/pages/user_preferences_page_test.dart
Labels: tests

#3689 fix: image edit and not logged-in user
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#3707 feat: added dialog if users click on unselect image button #2427
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, l10n

#3702 chore: Revert "feat: 3585 - upgrade to flutter 3.7 (#3666)"
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/scanner/mlkit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/lib/background/background_task_badge.dart
  packages/smooth_app/lib/helpers/network_config.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: iOS, product page, onboarding, tests, dependencies, scan, macos, zxing

#3698 refactor: move usermanagementProvider after if check!
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

#3695 feat: search should be scan
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#3692 feat: format sign_up_errors to normal texts instead of HTML format
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management, l10n

#3711 chore: revert - Now again flutter 3.0.5
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/scanner/mlkit/lib/src/utils/camera_image_full_getter.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/tmp_crop_image/image_compute_helper.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/goldens.dart
Labels: documentation, product page, product addition, onboarding, tests, dependencies, github, goldens

#3709 fix: revamp the signup prompt
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: product page, l10n

#3714 fix: 3700 - Fixed widget overflow issues in product editing page
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page, nutrition input

#3725 fix: checkBox not showing right mark in dark theme
  packages/smooth_app/lib/pages/image_crop_page.dart
Labels: photo cropping

#3716 fix: 3622 - no autofocus and clean FocusNode management
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/simple_input_number_field.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: iOS, product page

#3734 fix: 3723 - now always replaces decimal separator for number format
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/helpers/text_input_formatters_helper.dart
  packages/smooth_app/lib/l10n/app_ar.arb
Labels: l10n

#3726 fix: 3459 - Added a shortcut in app settings to In-app settings
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, l10n

#3727 fix: 3724 - Fixed bottom overflowed on the history page in small devices
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#3737 fix: 3723 - additional tests
  packages/smooth_app/lib/helpers/text_input_formatters_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_number_field.dart
Labels: product page

#3750 feat: 3749 - improvements for packaging suggestions
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page, packaging input
