Repository openfoodfacts/smooth-app, pull requests merged in 2023-06, with the labels that each got.

#4055 fix: #4025 translate the offline data page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_data_page.dart
Labels: l10n

#4054 feat: 2910 - big UI/UX refactoring for "add new product" page
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
Labels: product page, product addition, l10n

#4052 feat: 4031 - different layout for "empty" product list page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, l10n, user lists

#4059 fix: 4056 - fixed List syntax for offline data
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/query/products_preload_helper.dart
Labels: offline browsing

#4060 feat: 4058 - new UI for "add product"
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
Labels: product page, product addition, l10n

#4072 feat: An exhaustive list of supported URLs
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/ios/Runner/Runner.entitlements
Labels: iOS, Android, deeplinking

#4071 feat: 4058 - expand/collapse for additional ecoscore fields
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_ocr_button.dart
  packages/smooth_app/lib/pages/product/add_packaging_button.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, product addition, l10n, summary card

#4073 fix: Update README.md
  README.md
Labels: documentation

#4075 refactor: off-dart upgrade and new enum KnowledgePanelAction
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4080 fix: 4074 - added explicit isolate/ui settings
  packages/smooth_app/lib/helpers/image_compute_container.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
Labels: background tasks

#4079 fix: A user can't exit the walkthrough
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
Labels: onboarding

#4077 feat: 4061 - activate hunger games by default
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: hunger games

#4084 feat: Chips in product cards (in the carousel) shouldn't intercept click events
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: product page, summary card, scan

#4090 Revert "fix: "_allow" attribute (on Matomo) is never initialized"
  packages/smooth_app/lib/helpers/analytics_helper.dart
Labels: analytics

#4095 feat: Add the Matomo's visitor ID in the debug settings
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
Labels: analytics, dev mode, matomo

#4100 fix: 4098 - new enum value from iOS 12
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4103 fix: Error when leaving the onboarding
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
Labels: onboarding

#4104 feat: 4102 - bigger hunger games batch (10)
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
  packages/smooth_app/lib/query/random_questions_query.dart
Labels: product page, l10n

#4109 feat: Question page in a Dialog-like container (+ some fixes)
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: product page, accessibility, l10n, hunger games

#4112 fix: Opening a product from a deep link shouldn't use the Hero animation
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition, animations, deeplinking

#4113 feat: Improve the Compare button in this history
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, compare mode, user lists, scan history

#4119 feat: Add labels for camera selection and flash
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/shared/lib/src/scanner.dart
  packages/scanner/shared/lib/src/scanner_mocked.dart
  packages/scanner/zxing/lib/src/scanner_zxing.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
Labels: accessibility, l10n, scan, camera, zxing

#4118 feat: Improve how we manage user consent for tracking & crash reports
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
Labels: onboarding, analytics, crash

#4126 feat: Allow to remove a product not found from the carousel
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: analytics, product scan carousel, scan card

#4133 feat: Use our fork of mobile_scanner
  packages/scanner/ml_kit/pubspec.yaml
Labels: dependencies

#4135 fix: 4123 - dedicated widget and page for robotoff question images
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_full_page.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_thumbnail.dart
Labels: hunger games

#4131 fix: 4066 - top 1K pre-download and full refresh as background tasks
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_barcode.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/query/products_preload_helper.dart
Labels: product page, background tasks

#4129 fix: [MLKit only] When the app is resumed, if the camera isn't visible, we need to manually pause it
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/shared/lib/scanner_shared.dart
  packages/scanner/shared/lib/src/screen_visibility.dart
  packages/scanner/shared/lib/src/utils.dart
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
Labels: dependencies, scan, camera

#4137 fix: 4123 - question image full page improvements
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_full_page.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_thumbnail.dart
Labels: hunger games

#4141 feat: Provide a Hero animation between the list of photos and the viewer
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile_card.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#4142 feat: Migration to Flutter 3.10
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  README.md
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/android/build.gradle
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
  packages/smooth_app/test_driver/screenshot_driver.dart
Labels: documentation, product page, tests, Android, dependencies, github, scan, goldens, zxing, background tasks

#4144 fix: [iOS] Ensure the status bar is OK with the light theme
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: iOS, scan, status bar

#4145 fix: Misplaced SafeArea Widget in the product image viewer
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#4151 fix: 4146 - ios build on flutter stable version
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#4154 fix: 4140 : rounded rectangle for the language selector
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, onboarding

#4139 feat: The compare feature only accepts two existing products
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: product page, accessibility, l10n, compare mode, scan, user lists

#4124 fix: Force all "Hero" widgets to have a unique tag
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_loader_page.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
Labels: product page, product addition, analytics, scan, user lists

#4156 fix: 4155 - check when the user leaves the product addition page if something was input
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition, l10n

#4160 fix: When a barcode is invalid, remove the blank space behind it
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page, editing, barcode support

#4159 fix: Force all `Appbar`s in the product edition to have left aligned titles
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: iOS, product page, basic info input, user lists

#4168 fix: 4122 - added a country filter for hunger games
  packages/smooth_app/lib/query/random_questions_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4187 feat: Unify all button bars in the product edition
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_buttons.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: iOS, product page, editing, nutrition input, packaging input, basic info input

#4167 feat: 4164 - added a nova section for add new product page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: product page, product addition, l10n, nova-groups

#4181 refactor: reorder menuitems on history page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, l10n, user lists

#4184 fix: Ensure we always use a `SmoothAppBar`
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/html_page.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_full_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: iOS, product page, product addition, action bars, User management, scan, background tasks

#4195 feat: Allow to animate lists (in the product edition flow)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page, animations, l10n, editing

#4203 fix: unable to change the portion size
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product page, nutrition input

#4198 feat: Fully working lifecycle for the Robotoff question in the Product page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: product page, product addition, l10n, robotoff, lifecycle

#4196 feat: Improve the animation and the accessibility of the `ExplanationWidget`
  packages/smooth_app/lib/pages/product/explanation_widget.dart
Labels: product page, accessibility, editing

#4213 chore: Add FileSelectorPlugin generated stuff
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: macos

#4201 feat: make delete product feature more accessible
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, l10n, user lists

#4197 feat: Improve the accessibility for the Edit product flow
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: product page, accessibility

#4211 feat: On lists, ensure to always add new items to the top
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: product page, editing

#4218 fix: 4176 - border for some edit image buttons
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#4217 feat: 3843 - matomo for new product page
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition, analytics, matomo

#4166 fix: 4066 - top n product download split in smaller robust parts
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_paged.dart
  packages/smooth_app/lib/background/background_task_progressing.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/database/dao_work_barcode.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page, product addition, database, l10n, offline browsing, background tasks

#4224 fix: 4219 - check if new picture is big enough before server upload
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, l10n

#4227 fix: 4165 - new cases of default language for OCR
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
Labels: product page, basic info input

#4229 feat: When the compare mode is visible, ensure the visor is not covered by the header
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/shared/lib/src/scanner.dart
  packages/scanner/shared/lib/src/scanner_mocked.dart
  packages/scanner/shared/lib/src/scanner_visor.dart
  packages/scanner/zxing/lib/src/scanner_zxing.dart
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: scan, camera, zxing

#4225 feat: Some improvements for the carousel (changing pages, a11n…)
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: l10n, scan, product scan carousel

#4226 fix: 4222 - top barcode task refactoring
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/database/dao_work_barcode.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_tasks_page.dart
Labels: database, l10n, background tasks

#4244 ci: F-Droid iteration
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/release-please.yml
  flutter-version.txt
Labels: github, f-droid
