Repository openfoodfacts/smooth-app, pull requests merged in 2023-01, with the labels that each got.

#3497 feat: Added "Compare" floating action button #3447
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists, codeball:needs-careful-review

#3500 feat: 3493 - structured packagings +quantity +weight and localized
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page, l10n, packaging input

#3502 fix: fixing a few strings
  packages/smooth_app/lib/l10n/app_th.arb
Labels: l10n

#3509 fix: 3504 - different colors for dark/light in structured packagings page
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
Labels: product page

#3510 feat: 3418 - 7 new KP actions handled
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_ocr_button.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, l10n, summary card

#3513 feat: 3505 - packagingsComplete toggle and packagings edit bug fixes
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, l10n

#3512 fix: wording fixes
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#3514 feat: 3507 - added mandatory icons and optional hints to packagings
  packages/smooth_app/assets/packagings/counter-dark.svg
  packages/smooth_app/assets/packagings/counter-light.svg
  packages/smooth_app/assets/packagings/material.svg
  packages/smooth_app/assets/packagings/quantity.svg
  packages/smooth_app/assets/packagings/recycling.svg
  packages/smooth_app/assets/packagings/shape.svg
  packages/smooth_app/assets/packagings/weight.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/explanation_widget.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, l10n

#3515 feat: 3507 - full-line text fields
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
Labels: product page

#3520 fix: 3516 - standardized the "do you want to save" dialog?
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, nutrition input

#3524 fix: 3490 - now accepting not cropped new pictures
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, photo cropping

#3525 fix: fix-release-please
  .github/workflows/release-please.yml
Labels: github

#3539 fix: 3533 - using a not temporary directory for images to be uploaded
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: database

#3544 feat: 3526 - add OTHER picture from product gallery
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: product page

#3550 fix: 3447 fab appearing in start scanning page
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#3559 fix: 3534 - upgraded off-dart for user-agent fix
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3561 fix: 3529 - fixed the too strong link between product data and edit pages
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
Labels: product page

#3567 feat: 3565 - badge on bottom bar about background tasks and access to list
  packages/smooth_app/lib/background/background_task_badge.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/database/dao_string_list.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/local_database_mock.dart
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: tests, dependencies, database, l10n, goldens

#3569 feat: #3449 Make "Start Scanning" Button
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#3560 feat: 3526 - added "add extra photo" button for both edit packaging pages
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/ocr_widget.dart
Labels: product page, l10n

#3487 feat: added feedback form links
  packages/smooth_app/lib/helpers/user_feedback_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

#3587 feat: add troubleshooting section
  README.md
Labels: documentation

#3593 fix: String of only whitespaces considered as name
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: user lists

#3591 fix: 3570 - background task order is now respected
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_tasks_page.dart
Labels: l10n, background tasks

#3592 fix: 3590 - if the image was already uploaded we select it
  packages/smooth_app/lib/background/background_task_image.dart
Labels: background tasks

#3588 fix: 3581 - descriptions and hints for all packaging components
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
Labels: product page, l10n, packaging input

#3597 feat: 3594 - expand/collapse for packagings components
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_helper.dart
Labels: product page, packaging input

#3603 fix: 3602 - pending background task back to dev mode; better wording
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/background/background_task_badge.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
Labels: iOS, background tasks

#3605 feat: 3577 - "clear" button for packaging component text fields
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: iOS, product page

#3607 fix: issue website link overflow
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition

#3611 fix: 3606 - much faster "confirm image upload" action
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_controller.dart
  packages/smooth_app/lib/tmp_crop_image/rotation.dart
Labels: photo cropping, server side cropping, low memory devices

#3618 feat: 2427 - added "unselect image" button
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, l10n, background tasks

#3624 feat: 3623 - changed icon for "packaging components"
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

#3625 feat: 3621 - changed icon for null "is packaging complete?" bool
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
Labels: product page, packaging input

#3631 fix: added some padding to back button
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition

#3613 fix: 3445 - correct check if nutriments are populated
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition

#3641 feat: 2424 - new "select existing images" button
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/data_models/operation_type.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_grid.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, l10n, photo cropping

#3649 fix: emailsender not working properly
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
Labels: Android

#3648 feat: Add undo option when product in list deleted!
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, l10n, user lists

#3658 feat: 2484 - now when editing we go to the full image with the cropped area on top
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
  packages/smooth_app/lib/tmp_crop_image/rotation.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, l10n

#3660 feat: 3657 - blue banner on bottom end when in "TEST ENV"
  packages/smooth_app/lib/pages/page_manager.dart
Labels: dev mode
