Repository openfoodfacts/smooth-app, pull requests merged in 2023-03, with the labels that each got.

#3754 fix: Clicking outside the suggestion popup should close it
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page, packaging input

#3744 feat: Clearer 'Packaging components' preview and modified the maximum size of the autocomplete tab.
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page, packaging input, :star: top pull request

#3753 feat: new localized label 'sep' as separator before colon (especially in French)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#3758 fix: 3600 - user may be null for robotoff random questions
  packages/smooth_app/lib/query/questions_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3757 feat: Allow to share and view lists on web
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/temp_product_list_share_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, analytics, l10n, user lists

#3703 feat: AMOLED Dark Mode
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/themes/color_provider.dart
  packages/smooth_app/lib/themes/color_schemes.dart
  packages/smooth_app/lib/themes/contrast_provider.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/linux/.gitignore
  packages/smooth_app/linux/flutter/generated_plugin_registrant.cc
  packages/smooth_app/linux/flutter/generated_plugin_registrant.h
  packages/smooth_app/linux/flutter/generated_plugins.cmake
  packages/smooth_app/macos/.gitignore
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/mocks.dart
  packages/smooth_app/test/users/forgot_password_page_layout_test.dart
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
  packages/smooth_app/test/users/login_page_layout_test.dart
  packages/smooth_app/test/users/signup_page_layout_test.dart
  packages/smooth_app/windows/.gitignore
  packages/smooth_app/windows/flutter/generated_plugin_registrant.h
Labels: tests, l10n, goldens

#3763 chore: Translations updated
  packages/smooth_app/lib/l10n/app_ar.arb
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#3755 chore: Track edit events
  .github/workflows/presubmit.yml
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/pubspec.yaml
Labels: product page, product addition, analytics, dependencies, github, nutrition input, packaging input

#3779 fix: 3712 - upgraded mlkit (bug fix)
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3787 fix: 3782 - more relevant check and matomo message
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_mlkit.dart
Labels: product page, analytics, scan

#3784 feat: now we can switch the camera in the dev mode
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_mlkit.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_zxing.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: scan, macos

#3790 feat: Camera awesome
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/scan/awesome_widgets/awesome_flash.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_awesome.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_type.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_visor.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: Android, dependencies, scan

#3793 fix: Android signing config
  packages/smooth_app/android/app/build.gradle
Labels: 30s fix, Android

#3812 fix: Ensure we use the three dots character and not three characters
  packages/smooth_app/lib/l10n/app_en.arb
Labels: translations, l10n

#3805 fix: Incorrect theme used for the AppBar title on the Product Edition page
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: iOS, product page

#3822 fix: 3780 - testing ios compilation with mobile_scanner fix
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3832 fix: 3816 - pod update mlkit
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: github

#3833 fix: 3816 - use a 3.2.0 mlkit version of mobile_scanner
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies
