Repository openfoodfacts/smooth-app, pull requests merged in 2023-04, with the labels that each got.

#3834 chore: Update iOS dependencies
  packages/smooth_app/ios/Podfile.lock
Labels: iOS, cocoapods

#3839 feat: add forum link to preferences
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: l10n

#3840 fix: 3679 - reporting with a 000000000000 matomo user id
  packages/smooth_app/lib/helpers/analytics_helper.dart
Labels: analytics

#3852 feat: 3771 - ingredient page now uses the same product image local/server buttons as gallery
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/ocr_widget.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page

#3848 feat: 3783 - now using the same padded visor for MLKit and ZXing
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_mlkit.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_visor.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_zxing.dart
Labels: scan

#3846 fix: 3844 - same "picture not found" widget for OCR and gallery
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
Labels: product page

#3837 fix: 3816 - upgrade to mlkit 4.0.0 and clean rebuild of the pods
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: iOS, dependencies, github, mlkit, scan

#3859 fix: 3858 - display nothing if no KP widget children found
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition, onboarding

#3855 fix: 3854 - fastlane - use "xcodes" syntax instead of "xcversion"
  packages/smooth_app/ios/fastlane/Fastfile
Labels: iOS

#3794 fix: remove validation check for basic info fields
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition, basic info input

#3818 fix: visual inconsistency in app_settings
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
Labels: layout

#3861 fix: 3854 - fastlane - use back "xcversion" instead of "xcodes"
  packages/smooth_app/ios/fastlane/Fastfile
Labels: iOS

#3867 allow deploying to internal from PR for select users
  .github/workflows/internal-release.yml
Labels: github

#3874 ci: Return to entrypoint based scanner
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/entrypoints/android/main_fdroid.dart
  packages/smooth_app/lib/entrypoints/android/main_google_play.dart
  packages/smooth_app/lib/entrypoints/ios/main_ios.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_mlkit.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_zxing.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/basic_test.dart
Labels: analytics, tests, dependencies, scan

#3825 feat: Use a "well spaced" text style when there are many lines
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: UI / UX, onboarding, analytics

#3878 fix: Try/catch the exception that may be raised when changing the flash state
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_mlkit.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_zxing.dart
Labels: l10n, scan

#3884 chore: Update README.md for the "Towards 1 million users" project
  README.md
Labels: documentation

#3829 fix: Edit product page: ensure the barcode is not truncated on iOS
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: iOS, UI / UX, product page, editing, layout

#3862 fix: 3042 - saving explicitly product name in the correct language
  packages/smooth_app/lib/background/background_task_details.dart
Labels: editing, multilingual products

#3876 chore: upgraded to off-dart 2.5.0
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/product/product_question_page.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies

#3890 feat: 3863 - multilingual input for product name
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_languages_list.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, multilingual products, modals, basic info input

#3889 ci: Better crowdin PRs for more autonomy
  .github/workflows/crowdin.yml
Labels: github

#3888 fix: Invalid shape for Ripples in all "My account" items
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_list_tile.dart
Labels: UI / UX

#3828 fix: Ensure we use the same back arrow on all screens
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
Labels: layout

#3901 fix: added new pubspec to deps
  .github/labeler.yml
Labels: github

#3896 chore: ProductQuery.getLanguage() is now not nullable
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/product_questions_query.dart
  packages/smooth_app/lib/query/questions_query.dart
Labels: product page, summary card, basic info input

#3905 ci: more pubspec
  .github/labeler.yml
Labels: github

#3900 feat: 3897 - now we display localized images
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/ocr_widget.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/query/paged_user_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, database, multilingual products

#3902 fix: Stronger F-Droid analytics rules
  packages/smooth_app/integration_test/app_test.dart
  packages/smooth_app/lib/entrypoints/android/main_fdroid.dart
  packages/smooth_app/lib/entrypoints/android/main_google_play.dart
  packages/smooth_app/lib/entrypoints/ios/main_ios.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/entry_points_helper.dart
  packages/smooth_app/lib/helpers/global_vars.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
Labels: analytics, tests, scan, f-droid

#3911 feat: 3897 - ingredients and packaging with multilingual OCR image+text
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/ocr_widget.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, images, ingredients, packaging input, ingredients editing, multilingual products, basic info input

#3914 fix: 3912 - packaging weight now works
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page

#3921 fix: 3436 - no more "serving size" jump
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product page, nutrition input

#3917 feat: 3897 - mutilingual gallery and swipeable images - read only
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/data_models/product_image_data.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_sliver_list.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_images_view.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_unswipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, nutrition input

#3924 feat: 3897 - no language selector for gallery, only for swipeable page
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/new_crop_page.dart
Labels: product page, product addition, database, l10n, nutrition input, packaging input, photo cropping
