Repository openfoodfacts/smooth-app, pull requests merged in 2023-05, with the labels that each got.

#3925 fix: 3773 - minor text fix
  packages/smooth_app/lib/l10n/app_fr.arb
Labels: l10n

#3926 feat: 3765 - now using the "crop_image" package
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/helpers/image_compute_container.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/tmp_crop_image/crop_grid.dart
  packages/smooth_app/lib/tmp_crop_image/image_compute_helper.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_controller.dart
  packages/smooth_app/lib/tmp_crop_image/rotated_crop_image.dart
  packages/smooth_app/lib/tmp_crop_image/rotation.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies, photo cropping

#3922 ci: First step towards F-Droid
  .github/workflows/internal-release.yml
  .github/workflows/release-please.yml
  ci/rename_package_name_F-Droid.sh
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: github, product scan carousel, f-droid

#3936 feat: 3835 - country selector similar to language selector
  packages/smooth_app/lib/data_models/user_preferences.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: onboarding, analytics

#3956 fix: 3953 - explicitly using flutter 3.7.12 as 3.10 is available
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
Labels: github

#3944 chore: 3943 - removed unused package from pubspec.yaml
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3957 docs: add mention of openfoodfacts_flutter_lints in README
  README.md
Labels: documentation

#3952 fix: 3951 - left-aligned icons for KP action buttons
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/pubspec.lock
Labels: product page, layout, buttons

#3938 fix: 3899 - back to the main photo page after cropping from gallery
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_pl.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_ro.arb
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
Labels: image upload, l10n

#3939 fix: 3595 - transient file refactoring and fixes
  packages/smooth_app/lib/background/abstract_background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/cards/data_cards/image_upload_card.dart
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, database, background tasks

#3942 feat: 3880 - added a "get photo" button on the edit packaging component page
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: product page, nutrition input, packaging input

#3961 refactor: score card refactoring
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/score_card_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

#3945 chore: upgrade - flutter_svg, camera
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_thanks.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, dependencies

#3940 fix: 3865 Insufficient contrast for the error banner
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management, colors

#3960 fix: add fastlane for English, before we can find a more i18n solution for F-Droid
  packages/smooth_app/fastlane/metadata/en-US/54.txt
  packages/smooth_app/fastlane/metadata/en-US/full_description.txt
  packages/smooth_app/fastlane/metadata/en-US/images/featureGraphic.png
  packages/smooth_app/fastlane/metadata/en-US/images/icon.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/1.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/2.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/3.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/4.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/5.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/6.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/7.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/8.png
  packages/smooth_app/fastlane/metadata/en-US/images/phoneScreenshots/9.png
  packages/smooth_app/fastlane/metadata/en-US/short_description.txt
  packages/smooth_app/fastlane/metadata/en-US/title.txt
Labels: f-droid

#3965 fix: 3964 - progress texts instead of circular indicator for crop page + isolate
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/helpers/image_compute_container.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
Labels: l10n, photo cropping, isolates

#3808 fix: `The Scrollbar's ScrollController has no ScrollPosition attached`
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page

#3988 chore: fix the "one {}" translation bugs
  packages/smooth_app/lib/l10n/app_be.arb
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_da.arb
  packages/smooth_app/lib/l10n/app_de.arb
  packages/smooth_app/lib/l10n/app_el.arb
  packages/smooth_app/lib/l10n/app_eu.arb
  packages/smooth_app/lib/l10n/app_he.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_nl.arb
  packages/smooth_app/lib/l10n/app_pl.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_ro.arb
Labels: l10n

#3973 feat: 2910 - refreshed the "no product found" dialog
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
Labels: product page, l10n, scan

#3989 feat: 3987 - now KP opens the new packaging page
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/pages/product/add_packaging_button.dart
Labels: product page

#3993 fix: Ingredients page: the "Enter" button should not save and send the con…
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
Labels: product page

#3995 feat: Support for deep links
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/ios/Runner/Runner.entitlements
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/inherited_data_manager.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/navigator/error_page.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/product_loader_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: iOS, product page, product addition, analytics, Android, dependencies, l10n, summary card, deeplinking, scan, product scan carousel

#4004 fix: If an history item has an error, ensure the full message is visible
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
Labels: history, error handling

#4001 fix: Improve a little bit the ingredients page
  packages/smooth_app/lib/pages/product/edit_ingredients_page.dart
Labels: iOS, UI / UX, product page, ingredients, ingredients editing

#4002 feat: Improve the website card
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition

#4014 feat: Use Chrome Custom Tabs on Android for external links
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#3998 fix: On the product page, the Ripple on the back button doesn't work
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
Labels: UI / UX

#4029 feat: 3719 - new "scan history" page among the account product lists
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
Labels: product page, l10n, user lists

#4037 fix: 4032 - better paddings for login page
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: User management, tests, goldens

#4043 fix: Add a missing ripple on the card
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
Labels: UI / UX
