Repository openfoodfacts/smooth-app, pull requests merged in 2023-08, with the labels that each got.

#4315 feat: Product not found dialog - a fully responsive implementation
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_responsive.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: UI / UX, product page

#4418 refactor: 4415 - removed useless code
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_question_card.dart
Labels: product page, product addition

#4357 feat: Increase padding for attribute groups
  packages/smooth_app/lib/pages/product/summary_attribute_group.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, attributes, summary card

#4426 chore: upgrade to off-dart 2.7.4
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4442 fix: improve the edit form
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#4434 feat: "Contributors" >> "Mobile app contributors" + a11n
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: accessibility, l10n

#4448 feat: Hunger games: a better loading view + we finally support errors…
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/pubspec.yaml
Labels: dependencies, l10n, hunger games

#4447 fix: 4424 - longer label for "empty the list" + refactoring
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/all_product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
Labels: product page, l10n, user lists

#4450 feat: App review in the "scan card"
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/preferences/migration/user_preferences_migration.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/helpers/haptic_feedback_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/themes/color_provider.dart
  packages/smooth_app/lib/themes/contrast_provider.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/pages/user_preferences_page_test.dart
  packages/smooth_app/test/tests_utils/mocks.dart
  packages/smooth_app/test/users/forgot_password_page_layout_test.dart
  packages/smooth_app/test/users/login_page_layout_test.dart
  packages/smooth_app/test/users/signup_page_layout_test.dart
Labels: product page, product addition, onboarding, analytics, User management, tests, l10n, summary card, scan, photo cropping, product scan carousel, appstores, stores

#4443 fix: Smooth Dialog: when there is just on button, ensure we have equal padding
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
Labels: modals

#4440 feat: Ensure the `SmoothSimpleButton` has a border on AMOLED theme
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/test/pages/generic_lib/widgets/smooth_error_card_test.dart
Labels: tests

#4451 fix: smooth_error_card_test.dart
  packages/smooth_app/test/pages/generic_lib/widgets/smooth_error_card_test.dart
Labels: tests

#4456 feat: Tiny UI tweaks for the product edition
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/explanation_widget.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/pubspec.lock
Labels: UI / UX, product page

#4458 feat: Add some consistency between dialogs in the profile
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: tests, goldens

#4461 fix: updated Hebrew translations
  packages/smooth_app/lib/l10n/app_he.arb
Labels: l10n

#4472 chore: Use the latest version of mobile_scanner
  packages/scanner/ml_kit/pubspec.yaml
Labels: dependencies

#4490 chore: Add lca.svg to the app cache
  packages/smooth_app/assets/cache/lca.svg
Labels: asset cache

#4487 ci: Bump flutter_secure_storage to the latest version available
  packages/data_importer/pubspec.yaml
  packages/smooth_app/pubspec.yaml
Labels: db migrations, dependencies

#4479 feat: Add some config files for iOS translations
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner/Base.lproj/InfoPlist.strings
  packages/smooth_app/ios/Runner/Info.plist
Labels: iOS, translations

#4453 ci: Change "Release please" to be manually triggered
  .github/workflows/internal-release.yml
Labels: github

#4452 ci: Manual upload to Waldo
  .github/workflows/waldo_sessions.yml
Labels: github

#4480 fix: On iOS, the "beep" sound was silent
  packages/smooth_app/assets/audio/beep.ogg
  packages/smooth_app/assets/audio/beep.wav
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: iOS, scan, camera, scan sound

#4486 fix: On the product page: ensure to refresh the screen if the product is added/removed from a list
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: product page, product addition, user lists

#4494 feat: When the server is not responding, we ask users to wait
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: User management, dependencies, l10n, Sign-Up

#4482 fix: Many fixes for user lists in the modal sheet
  packages/smooth_app/lib/pages/all_product_list_modal.dart
  packages/smooth_app/lib/pages/all_product_list_page.dart
  packages/smooth_app/lib/pages/history_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition, history, user lists

#4499 feat: If we remove an item from the "scan session" list, it should also remove it from the carousel
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#4493 feat: Better support errors on the forgot password page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/pubspec.yaml
Labels: User management, dependencies, l10n, password reset

#4501 fix: New Crowdin updates
  packages/smooth_app/lib/l10n/app_eu.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/l10n/app_nl.arb
  packages/smooth_app/lib/l10n/app_uk.arb
Labels: l10n

#4502 feat: New Crowdin updates
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_da.arb
  packages/smooth_app/lib/l10n/app_de.arb
  packages/smooth_app/lib/l10n/app_he.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_ja.arb
  packages/smooth_app/lib/l10n/app_ko.arb
  packages/smooth_app/lib/l10n/app_lt.arb
  packages/smooth_app/lib/l10n/app_pt.arb
Labels: l10n

#4517 fix: A part of the app forced to clear the model…
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: scan

#4520 feat: Pass the language/country to the method to reset the password
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: User management, dependencies

#4474 feat: Support non-english languages for Signup errors
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: User management, Sign-Up

#4515 fix: 4466 - icons for list page popup items
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
Labels: product page

#4528 ci: Fix the error on the App Store 🤬
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: iOS, macos

#4539 feat: 4533 - new twitter logo and label
  packages/smooth_app/assets/preferences/twitter-bird.svg
  packages/smooth_app/assets/preferences/x-logo.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: l10n

#4548 feat: translation updates
  packages/smooth_app/lib/l10n/app_da.arb
  packages/smooth_app/lib/l10n/app_de.arb
  packages/smooth_app/lib/l10n/app_es.arb
  packages/smooth_app/lib/l10n/app_eu.arb
  packages/smooth_app/lib/l10n/app_id.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_ja.arb
  packages/smooth_app/lib/l10n/app_lt.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_sv.arb
  packages/smooth_app/lib/l10n/app_tr.arb
  packages/smooth_app/lib/l10n/app_uk.arb
Labels: l10n

#4455 feat: 4423 - specific "Not connected to internet" displayed error
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/fetched_product.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_loader_page.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: product page, product addition, dependencies, l10n, hunger games, macos

#4550 feat: Improvements for a11n on preferences
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_list_tile.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
Labels: tests, accessibility, l10n, goldens

#4558 fix: 4549 - correct "forgot password" checks
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
Labels: User management

#4560 fix:emojification
  .github/workflows/top-issues.yml
Labels: github

#4562 chore: State that we use Flutter 3.10
  README.md
Labels: documentation

#4566 chore: Upgrade Sentry + add screenshots
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/services/logs/fimber/trees/sentry_fimber_tree.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: iOS, analytics, sentry, dependencies, pubspec, macos

#4559 feat: Add legal notices + fix Terms of use
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: l10n

#4572 feat: 4554 - new links in FAQ
  packages/smooth_app/assets/app/RVB_ICON_BLACK_BG_OBF.svg
  packages/smooth_app/assets/app/RVB_ICON_BLACK_BG_OPF.svg
  packages/smooth_app/assets/app/RVB_ICON_BLACK_BG_OPFF.svg
  packages/smooth_app/assets/app/RVB_ICON_WHITE_BG_OBF.svg
  packages/smooth_app/assets/app/RVB_ICON_WHITE_BG_OPF.svg
  packages/smooth_app/assets/app/RVB_ICON_WHITE_BG_OPFF.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: l10n

#4582 ci: add a little rocket for release
  .github/workflows/release-please.yml
Labels: github

#4583 fix: wording-fixes
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#4590 fix: more wording fixes
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#4589 feat: 4551 - minor cosmetic changes on settings display
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: settings, l10n

#4587 feat: Deep link support for "cgi/product.pl?type=edit&code=XXXX"
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/product/product_loader_page.dart
Labels: product page, editing, deeplinking

#4577 ci: Remove FLUTTER_CACHE_KEY as it's not used anymore
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/release-please.yml
Labels: ci, github

#4567 docs: first-jab at the release process
  RELEASE.md
Labels: release process

#4586 fix: When questions are answered, check if new ones are available
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: product page

#4255 feat: 3919 - select languages for new product images
  packages/smooth_app/lib/cards/data_cards/product_image_carousel_item.dart
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, product addition, nutrition input, packaging input, photo cropping, basic info input

#4598 ci: Remove some missing `FLUTTER-CACHE-KEY`
  .github/workflows/internal-release.yml
Labels: github

#4578 fix: Add the brand name in the AppBar and sub screens
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: product page, nutrition input, packaging input, basic info input

#4573 fix: 4549 - correct detection of errors for resetPassword
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, password reset

#4591 fix: 4575 - country is now always populated
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: product page, product addition, onboarding

#4599 fix: 4595 - no fast track if nutriscore is not applicable
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
Labels: product page, analytics, road to scores

#4444 feat: 4223 - comparison page for 3 random products on dev mode
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/compare_products3_page.dart
  packages/smooth_app/lib/pages/product/nutrition_container.dart
Labels: product page, compare mode, user lists, side by side compare mode

#4574 fix: 4571 - android targetSdkVersion 33
  packages/smooth_app/android/app/build.gradle
Labels: Android

#4609 fix: Made dropdown outline visible
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: onboarding
