Repository openfoodfacts/smooth-app, pull requests merged in 2023-09, with the labels that each got.

#4611 fix: Made the notification bar of the scanner transluent
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: Android, scan

#4615 fix: 4606 - translucent top status bar on on-boarding page 1
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
Labels: onboarding

#4602 fix: 4601 - more robust management of product pending changes
  packages/smooth_app/lib/data_models/up_to_date_mixin.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, product addition, summary card, nutrition input, packaging input

#4620 feat: 4513 - user preferences pages simple refactoring
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_advanced_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_camera_sound.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_choose_accent_color.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_choose_app_theme.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_choose_text_color_contrast.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_crash_reporting.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_haptic_feedback.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_image_source.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_language_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_send_anonymous.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_share_with_friends.dart
Labels: onboarding

#4584 fix: 4564 - product immediately visible even if not on the server yet
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/data_models/fetched_product.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
Labels: product page

#4600 feat: New translations for ar, bg, cs, id, lt, ro and th
  packages/smooth_app/lib/l10n/app_ar.arb
  packages/smooth_app/lib/l10n/app_bg.arb
  packages/smooth_app/lib/l10n/app_cs.arb
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_id.arb
  packages/smooth_app/lib/l10n/app_lt.arb
  packages/smooth_app/lib/l10n/app_ro.arb
  packages/smooth_app/lib/l10n/app_th.arb
Labels: iOS, l10n

#4659 fix: 4655 - crashed with null brand in "add basic details page"
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
Labels: product page, basic info input

#4579 chore: Migration to Flutter 3.13
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/data_importer/pubspec.yaml
  packages/data_importer_shared/pubspec.yaml
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/lib/src/scanner_zxing.dart
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/smooth_app/android/settings.gradle
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet_route.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_share_with_friends.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/macos/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: documentation, iOS, flutter, product page, onboarding, Android, dependencies, macos, zxing
