Repository openfoodfacts/smooth-app, pull requests merged in 2023-12, with the labels that each got.

#4865 chore: package upgrades
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4872 fix: Ensure there is a visible button in the Existing photos screen
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
Labels: 🖼️ Photos - additional photos

#4778 feat: 4628 - new "reorder Knowledge Panels" feature from dev mode
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/reorderable_knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/reordered_knowledge_panel_cards.dart
  packages/smooth_app/lib/pages/product/standard_knowledge_panel_cards.dart
Labels: 🥫 Product page, Product addition, 📖 Knowledge panels, 🌐 l10n, product page

#4866 feat: 4674 - added the "other photos" section
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: 🥫 Product page, 🌐 l10n

#4885 feat: Support light and dark modes for the eye animation
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🔎 Search, ✨ 2023 the big redesign

#4891 fix: Fast track: ensure the navigation works as intended
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: 🥫 Product page, Product addition, 🌐 l10n

#4886 chore: old TODOs
  packages/smooth_app/lib/cards/category_cards/svg_safe_network.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/helpers/permission_helper.dart
  packages/smooth_app/lib/helpers/user_management_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 👥 User management, dependencies

#4875 feat: 4836 - clickable link to "open new issue" when relevant
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/query/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/query/paged_user_product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 👥 User management, dependencies, 🌐 l10n

#4901 fix: 4900 - backup_scheme.xml type fix
  packages/smooth_app/android/app/src/main/res/xml/backup_scheme.xml
Labels: Android

#4913 feat: Use the Slivers mechanism with the Gallery view
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/widgets/slivers.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies, 🖼️ Photos - Photo manager, 🖼️ Photos - additional photos

#4636 fix: Don't rely on `removeDiacritics` to highlight text
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_search_page.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
  packages/smooth_app/test/utils/smooth_text_test.dart
Labels: 🥫 Product page, 🤗 Onboarding, 🧪 Tests, ✏️ Editing, ✏️ Editing - Text fields

#4914 fix: Fix iOS build
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
Labels: 🍎 iOS

#4902 fix: 4627 - no more nutrients wiped out
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#4869 fix: 4663 - use the latest password for background tasks + refactoring
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_barcode.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_paged.dart
  packages/smooth_app/lib/background/background_task_progressing.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
Labels: background tasks, 🔐 Password reset

#4871 feat: 4068 - autocomplete for brands
  packages/smooth_app/lib/pages/input/agnostic_suggestion_manager.dart
  packages/smooth_app/lib/pages/input/brand_suggestion_manager.dart
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/input/unfocus_when_tap_outside.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: 🥫 Product page, dependencies, ✏️ Editing - Basic info input, ✏️ Editing - 📦 Packaging input

#4927 fix: 4923 - added a padding for banner
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: 🥫 Product page, Product addition

#4920 fix: the bug related to changing the language of countries when changing the Food App language.
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: 🤗 Onboarding

#4909 feat: Support for '-' in nutritional values
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: 🥫 Product page, nutrition facts, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input
