Repository openfoodfacts/smooth-app, pull requests merged in 2023-07, with the labels that each got.

#4266 fix: 4206 - search page misalignment in search-history_view.dart (#4210)
  packages/smooth_app/lib/pages/scan/search_history_view.dart
Labels: scan

#4273 docs: Mostly correct spaces and new lines usage in `CONTRIBUTING.md`, `README.md` and `packages/smooth_app/fastlane/metadata/en-US/full_description.txt`
  CONTRIBUTING.md
  README.md
  packages/smooth_app/fastlane/metadata/en-US/full_description.txt
Labels: documentation

#4277 feat: 4041 - renamed "history" bottom item as "lists", w/ access to other lists
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/widgets/tab_navigator.dart
Labels: product page, l10n, scan, user lists

#4216 fix: Additives Page- Button text on additives page is not centered.
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
Labels: Knowledge panels

#4296 fix: Improvement for the dialog to create a new list, when there is none
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: l10n, user lists

#4262 feat: 3941 - refactoring about up-to-date product data for StatefulWidgets
  packages/smooth_app/lib/data_models/up_to_date_mixin.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, product addition, summary card, nutrition input, packaging input

#4291 feat: Onboarding improvements (country picker + Authorize buttons)
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
Labels: onboarding

#4289 feat: Re-enable analytics on FDroid builds
  packages/smooth_app/lib/helpers/analytics_helper.dart
Labels: analytics, sentry, matomo, f-droid

#4279 feat: Bring the "Hot reload" feature back
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: flutter, dart

#4297 feat: Ensure the deeplink '/open-food-facts-mobile-app' will open our homepage
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: deeplinking

#4298 feat: 4041 - now displaying user lists in "List" nav tab
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/all_product_list_page.dart
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
Labels: product page, product addition, database, l10n, user lists

#4302 fix: 4301 - "other lists" button always visible
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, user lists

#4303 feat: 4041 - removed redundant and misplaced "user lists"
  packages/smooth_app/lib/pages/all_user_product_list_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_user_lists.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: tests, goldens

#4272 feat: Add an action to upload APKs to Waldo
  .github/workflows/waldo_sessions.yml
Labels: github

#4309 feat: Some updates to make the app work again on macOS
  packages/app_store/apple_app_store/lib/src/apple_app_store.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/macos/Podfile
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/macos/Runner.xcodeproj/project.pbxproj
Labels: onboarding, macos

#4292 feat: On iOS, the camera was never stopped after being resumed in some edge cases
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/ml_kit/pubspec.yaml
  packages/smooth_app/pubspec.lock
Labels: dependencies, camera

#4314 fix: upgrade to flutter_image_compress 2.0.3
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4316 chore: Add links to F-Droid and Amazon AppStore on README.md
  README.md
Labels: documentation

#4317 chore: Replace the icon used on macOS and windows builds
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/smooth_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/smooth_app/windows/runner/resources/app_icon.ico
Labels: icon, macos

#4282 fix: Ensure everything is perfectly aligned in the home page
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/shared/lib/src/scanner_visor.dart
  packages/scanner/zxing/lib/src/scanner_zxing.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
  packages/smooth_app/lib/pages/scan/smooth_barcode_scanner_visor.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product page, home page, summary card, scan, camera, product scan carousel, zxing

#4000 chore: Upgrade Matomo to 3.1
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/tests_utils/mocks.dart
Labels: analytics, tests, dependencies, goldens

#4265 fix: The nutrition page is unusable on iOS
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: iOS, product page, nutrition facts, nutrition input

#4310 feat: Better support RTL languages
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/portion_calculator.dart
  packages/smooth_app/lib/pages/product/product_compatibility_header.dart
  packages/smooth_app/lib/pages/product/product_question_card.dart
  packages/smooth_app/lib/pages/product/simple_input_number_field.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/summary_attribute_group.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: product page, product addition, onboarding, analytics, User management, scan, packaging input, rtl, user lists

#4321 fix: 4301 - new "up-to-date" provider for product list
  packages/smooth_app/lib/data_models/up_to_date_interest.dart
  packages/smooth_app/lib/data_models/up_to_date_product_list_mixin.dart
  packages/smooth_app/lib/data_models/up_to_date_product_list_provider.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: product page, database, user lists

#4327 chore: Add a few comments about macOS development
  .run/iOS app.run.xml
  .vscode/launch.json
  CONTRIBUTING.md
  README.md
  packages/smooth_app/lib/entrypoints/ios/main_ios.dart
Labels: documentation

#4305 feat: Better support error when saving the picture locally
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
Labels: analytics, l10n, error handling

#4326 fix: Fix a regression with Matomo
  packages/smooth_app/lib/helpers/analytics_helper.dart
Labels: analytics

#4336 chore: Rename "Ingredients and Origins" to "Ingredients"
  packages/smooth_app/lib/l10n/app_en.arb
Labels: l10n

#4344 chore: iOS/macOS: "App Uses Non-Exempt Encryption"
  packages/smooth_app/ios/Runner/Info.plist
  packages/smooth_app/macos/Runner/Info.plist
Labels: iOS, macos

#4300 feat: Improved country picker
  packages/smooth_app/lib/helpers/keyboard_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: onboarding, l10n

#4311 feat: A nice animation for the onboarding
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/assets/onboarding/hill_end.svg
  packages/smooth_app/assets/onboarding/hill_start.svg
  packages/smooth_app/assets/onboarding/onboarding.riv
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: onboarding, Android, dependencies

#4278 feat: Improve the Nutrition Facts screen
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/portion_calculator.dart
Labels: product page, l10n, nutrition facts

#4339 feat: Images with a working placeholder + error icon
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
Labels: images

#4341 fix: Permissions page with "a well balanced" style
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
Labels: onboarding

#4346 fix: 4241 - remove shimmering box if connection fails
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: product page

#4221 fix: Added text 'compare to category' for the comparison page
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: product page, summary card

#4318 feat: Product loading card
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_loading.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/macos/Podfile.lock
Labels: UI / UX, analytics, Android, l10n, product scan carousel, macos

#4362 feat: Nutrition facts array in a bottom sheet
  packages/smooth_app/lib/pages/product/portion_calculator.dart
Labels: product page, nutrition facts, modals, bottom sheets

#4358 feat: Use a correct a11n for "actions bar" in a product
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: product page, product addition, accessibility

#4377 ci: remove cron for Crowdin
  .github/workflows/crowdin.yml
Labels: github

#4378 ci: avoid concurrent runs of actions
  .github/workflows/auto-assign-pr.yml
  .github/workflows/label.yml
  .github/workflows/presubmit.yml
  .github/workflows/semantic-pr.yml
Labels: github

#4385 fix: Image placeholder now works again + a different animation
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

#4384 fix: Modal sheet button is cropped
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
Labels: lists, user lists, bottom sheets

#4389 feat: Ensure Country / Language / Nutrient picker look the same
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: product page, onboarding, l10n

#4355 fix: 4348 - simplified app navigator code
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: deeplinking

#4398 feat: Force the checkbox color (on iOS)
  packages/smooth_app/lib/pages/image_crop_page.dart
Labels: photo cropping

#4397 feat: Setup `image_picker` for macOS
  packages/smooth_app/macos/Runner/DebugProfile.entitlements
  packages/smooth_app/macos/Runner/Release.entitlements
Labels: images, macos

#4394 feat: Filterable text: ensure to remove accents when comparing
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: onboarding, countries

#4388 feat: Ensure native settings / rate app / share app entries look the same
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
Labels: l10n

#4382 feat: Allow to show a floating message (replacement for `SnackBar`)
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_floating_message.dart
Labels: product page

#4356 feat: Improve a11n by forcing a label on Nutri-Score / Eco-score / NOVA buttons
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: accessibility, l10n

#4354 feat: When there is no camera, show the search card in fullscreen
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: home page, scan, desktop

#4351 feat: Better suggestions in product edition (UI/UX) + debounce feature
  packages/smooth_app/lib/pages/product/autocomplete.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page

#4342 feat: Onboarding: scrollbars everywhere + expanded card
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/product_compatibility_header.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: food preferences, product page, onboarding, summary card

#4387 fix: Fix for `ScrollController has no ScrollPosition`
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: bug, product page

#4400 feat: User lists: bring "Share" / "View on web" / "Clear" actions to the Modal sheet
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/database/dao_product_list.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet_route.dart
  packages/smooth_app/lib/pages/all_product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_modal.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
Labels: product page, database

#4403 fix: Clicking on the Search tab should return to the search card
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/carousel_manager.dart
  packages/smooth_app/lib/pages/inherited_data_manager.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/product/common/product_list_modal.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product page, product addition, onboarding, product scan carousel
