Repository openfoodfacts/smooth-app, pull requests merged in 2023-10, with the labels that each got.

#4678 fix: "Stores" field to not show loading spinner (#4669)
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
Labels: product page

#4686 chore: upgrade to off-dart 3.0.0
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/data_models/onboarding_data_product.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/helpers/temp_product_list_share_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/random_questions_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: product page, User management, dependencies, packaging input, user lists

#4683 fix: Tagline url opening inconsistency
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: product scan carousel

#4699 fix: Exception when product brands are null
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: product page, nutrition input, packaging input, basic info input

#4705 fix: Product name/brands exception
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
Labels: product page

#4712 fix: Use the email variant of the virtual keyboard for the login page
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: User management

#4676 feat: Use Open Sans as the default font
  packages/smooth_app/assets/fonts/OpenSans-Bold.ttf
  packages/smooth_app/assets/fonts/OpenSans-Medium.ttf
  packages/smooth_app/assets/fonts/OpenSans-Regular.ttf
  packages/smooth_app/assets/fonts/OpenSans-SemiBold.ttf
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/pubspec.yaml
Labels: UI / UX, dependencies, 2023 the big redesign

#4713 fix: Let's try to fix a crash with a null variable in the `CameraScannerPageState`
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
Labels: scan

#4735 chore: upgrade flutter_svg to 2.0.8
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#4641 feat: 4628 - refactoring as preparatory work
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_image_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_summary_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/product/website_card.dart
Labels: product page, product addition, onboarding, summary card

#4738 feat: 4674 - new UI for main image page; fallback image only for product icon
  packages/smooth_app/lib/cards/product_cards/product_image_carousel.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_product_image.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: product page, product addition

#4739 fix: 4335 - "check" icon for "done" details - instead of "edit"
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
Labels: product page

#4747 chore: Import icons from the POC
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/README.md
  packages/smooth_app/assets/fonts/icons/add.svg
  packages/smooth_app/assets/fonts/icons/add_to_list.svg
  packages/smooth_app/assets/fonts/icons/advanced_search.svg
  packages/smooth_app/assets/fonts/icons/arrow_circled.svg
  packages/smooth_app/assets/fonts/icons/arrow_right.svg
  packages/smooth_app/assets/fonts/icons/barcode.svg
  packages/smooth_app/assets/fonts/icons/barcode_corners.svg
  packages/smooth_app/assets/fonts/icons/barcode_rounded.svg
  packages/smooth_app/assets/fonts/icons/camera_filled.svg
  packages/smooth_app/assets/fonts/icons/camera_outlined.svg
  packages/smooth_app/assets/fonts/icons/categories.svg
  packages/smooth_app/assets/fonts/icons/check.svg
  packages/smooth_app/assets/fonts/icons/chevron_down.svg
  packages/smooth_app/assets/fonts/icons/chevron_right.svg
  packages/smooth_app/assets/fonts/icons/clear_text.svg
  packages/smooth_app/assets/fonts/icons/close.svg
  packages/smooth_app/assets/fonts/icons/compare.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/countries.svg
  packages/smooth_app/assets/fonts/icons/cupcake.svg
  packages/smooth_app/assets/fonts/icons/dots_vertical.svg
  packages/smooth_app/assets/fonts/icons/edit.svg
  packages/smooth_app/assets/fonts/icons/edit2.svg
  packages/smooth_app/assets/fonts/icons/environment.svg
  packages/smooth_app/assets/fonts/icons/expand.svg
  packages/smooth_app/assets/fonts/icons/external_link.svg
  packages/smooth_app/assets/fonts/icons/flash.svg
  packages/smooth_app/assets/fonts/icons/fruit.svg
  packages/smooth_app/assets/fonts/icons/help_circled.svg
  packages/smooth_app/assets/fonts/icons/history.svg
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/info.svg
  packages/smooth_app/assets/fonts/icons/ingredients.svg
  packages/smooth_app/assets/fonts/icons/labels.svg
  packages/smooth_app/assets/fonts/icons/lifebuoy.svg
  packages/smooth_app/assets/fonts/icons/no_picture.svg
  packages/smooth_app/assets/fonts/icons/nutrition_facts.svg
  packages/smooth_app/assets/fonts/icons/outdated.svg
  packages/smooth_app/assets/fonts/icons/packaging.svg
  packages/smooth_app/assets/fonts/icons/personnalization.svg
  packages/smooth_app/assets/fonts/icons/question.svg
  packages/smooth_app/assets/fonts/icons/question_circled.svg
  packages/smooth_app/assets/fonts/icons/search.svg
  packages/smooth_app/assets/fonts/icons/settings.svg
  packages/smooth_app/assets/fonts/icons/share_cupertino.svg
  packages/smooth_app/assets/fonts/icons/share_material.svg
  packages/smooth_app/assets/fonts/icons/sound_off.svg
  packages/smooth_app/assets/fonts/icons/sound_on.svg
  packages/smooth_app/assets/fonts/icons/stores.svg
  packages/smooth_app/assets/fonts/icons/suggestion.svg
  packages/smooth_app/assets/fonts/icons/toggle_camera.svg
  packages/smooth_app/assets/fonts/icons/torch.svg
  packages/smooth_app/assets/fonts/icons/torch_off.svg
  packages/smooth_app/assets/fonts/icons/torch_on.svg
  packages/smooth_app/assets/fonts/icons/warning.svg
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/pubspec.yaml
Labels: dependencies, 2023 the big redesign

#4706 feat: Add btn to finish adding new product
  packages/smooth_app/assets/product/product_completed_graphic_dark.svg
  packages/smooth_app/assets/product/product_completed_graphic_light.svg
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: product page, product addition, l10n
