Repository openfoodfacts/smooth-app, pull requests merged in 2023-11, with the labels that each got.

#4752 chore: upgrade to flutter_map 4.0.0
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, map widget

#4758 chore: old TODOs
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/database/dao_hive_product.dart
  packages/smooth_app/lib/database/dao_unzipped_product.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/crop_page.dart
Labels: database

#4714 feat: Create a screen listing all attributes for a product
  packages/smooth_app/lib/generic_lib/widgets/svg_icon.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/attribute_first_row_helper.dart
  packages/smooth_app/lib/pages/product/attribute_first_row_widget.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: product page, l10n

#4765 chore: (Re)Use the public version of mobile_scanner
  packages/scanner/ml_kit/pubspec.yaml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
Labels: iOS, dependencies

#4772 fix: 4725 - refresh of the ios folder for background tasks
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/pages/crop_page.dart
Labels: iOS, background tasks

#4768 fix: 1815 - around context.mounted
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/cards/data_cards/product_image_carousel_item.dart
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: product page, Product addition, 🤗 Onboarding, 📈 Analytics, 👥 User management, ✏️ Editing - Nutrition input, 🤳🥫 Scan, ✏️ Editing - Packaging input, photo cropping, ✏️ Editing - Basic info input, User lists

#4792 chore: Remove the link to "Next mobile app"
  README.md
Labels: documentation

#4802 chore: Formatting issue + dependencies upgraded
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/pubspec.lock
Labels: Product addition, product page

#4781 chore: Goodbye little Data Importer 👋
  packages/data_importer/.gitignore
  packages/data_importer/.metadata
  packages/data_importer/analysis_options.yaml
  packages/data_importer/android/.gitignore
  packages/data_importer/android/build.gradle
  packages/data_importer/android/gradle/wrapper/gradle-wrapper.properties
  packages/data_importer/android/settings.gradle
  packages/data_importer/android/src/main/AndroidManifest.xml
  packages/data_importer/android/src/main/kotlin/org/openfoodfacts/off/data_importer/DataImporterPlugin.kt
  packages/data_importer/coverage/lcov.info
  packages/data_importer/ios/.gitignore
  packages/data_importer/ios/Assets/.gitkeep
  packages/data_importer/ios/Classes/DataImporterPlugin.h
  packages/data_importer/ios/Classes/DataImporterPlugin.m
  packages/data_importer/ios/Classes/SwiftDataImporterPlugin.swift
  packages/data_importer/ios/data_importer.podspec
  packages/data_importer/lib/android/android_data_importer.dart
  packages/data_importer/lib/android/android_sqlite_importer.dart
  packages/data_importer/lib/data_importer.dart
  packages/data_importer/lib/ios/ios_data_importer.dart
  packages/data_importer/lib/shared/model.dart
  packages/data_importer/lib/shared/native_data_importer.dart
  packages/data_importer/lib/shared/platform_data_importer.dart
  packages/data_importer/pubspec.yaml
  packages/data_importer/test/data_importer_test.dart
  packages/data_importer_shared/.gitignore
  packages/data_importer_shared/analysis_options.yaml
  packages/data_importer_shared/coverage/lcov.info
  packages/data_importer_shared/lib/data_importer_shared.dart
  packages/data_importer_shared/pubspec.yaml
  packages/data_importer_shared/test/data_importer_shared_test.dart
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart
  packages/smooth_app/lib/helpers/data_importer/smooth_app_data_importer.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, 🧴 Open Beauty Facts, db migrations, 🧪 Tests, dependencies, l10n, MacOS, 📸 Open Products Facts, 🐾 Open Pet Food Facts, tests

#4808 feat: 4789 - new "add ingredients" button for nutriscore
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: Product addition, product page

#4757 chore: upgraded flutter_map to 6.0.1
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/tests_utils/mocks.dart
Labels: 🥫 Product page, Product addition, 📈 Analytics, 👥 User management, 🧪 Tests, dependencies, 🤳🥫 Scan, User lists, MacOS, product page

#4814 fix: 4812 - check mounted before setState
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
Labels: product page

#4783 fix: 4766 - when logging in, show adequate error messages
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/data_models/login_result.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: 👥 User management, l10n, background tasks

#4818 chore: Ensure that error logs sent to Sentry via Fimber are always considered as exceptions
  packages/smooth_app/lib/services/logs/fimber/trees/sentry_fimber_tree.dart
Labels: Sentry

#4817 chore: package upgrades
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, MacOS

#4821 fix: 4807 - putting back a useless hive table, just in case
  packages/smooth_app/lib/database/dao_hive_product.dart
  packages/smooth_app/lib/database/local_database.dart
Labels: database

#4823 chore: Bump iOS version to 12
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Podfile.lock
Labels: 🍎 iOS, cocoapods

#4825 chore: Bump macOS version to 10.15
  packages/smooth_app/macos/Podfile
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/macos/Runner.xcodeproj/project.pbxproj
Labels: MacOS

#4826 feat: Customized language picker UI for the onboarding
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_country_selector.dart
Labels: 🎨 UI / UX, 🤗 Onboarding, l10n

#4816 chore: upgraded app_settings to 5.1.1
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, 🖼️ Photos - Cropping

#4832 ci: more icons for labeler
  .github/labeler.yml
Labels: GitHub

#4833 feat: Use the search eye animation from the POC
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/resources/app_animations.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: animations, 🔎 Search, 🌐 l10n, product page

#4831 feat: Re-enable the backup process on Android
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/app/src/main/res/xml/backup_scheme.xml
Labels: Android, Database backup

#4746 fix: productName best localized choice
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, product page

#4851 chore: Upgrade GoRouter to the latest version (7.x -> 12.x)
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: navigation, dependencies

#4857 fix: app_ar.arb typo
  packages/smooth_app/lib/l10n/app_ar.arb
Labels: 🌐 l10n

#4863 feat: 3297 - added an "add pics" button to the "edit origins" widget
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, 🌐 l10n
