Repository openfoodfacts/smooth-app, pull requests merged in 2024-02, with the labels that each got.

#5026 fix: Ensure the upload confirmation message is centered
  packages/smooth_app/lib/background/background_task_image.dart
Labels: 🖼️ Photos - Photo manager

#5025 feat: 4996 - reordering product languages
  packages/smooth_app/lib/database/dao_string_list.dart
  packages/smooth_app/lib/generic_lib/widgets/language_priority.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
Labels: 🥫 Product page, ✏️ Editing - Basic info input

#5035 feat: Import the NutriScore animation
  packages/smooth_app/assets/animations/nutriscore.riv
  packages/smooth_app/lib/resources/app_animations.dart
Labels: animations, 🚥 Nutri-Score, ✨ 2023 the big redesign

#5041 chore: upgraded flutter_custom_tabs to 2.0.0
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5043 ci: change the iOS runner
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: GitHub

#5042 feat: 5005 - "obsolete product" matomo event
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/input/agnostic_suggestion_manager.dart
  packages/smooth_app/lib/pages/input/brand_suggestion_manager.dart
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, 📈 Analytics, dependencies, ✏️ Editing - Basic info input

#5039 fix: 5028 - no more "forever loop" when logging in
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: 👥 User management

#5057 feat: 5014 - track all READ server queries when consented
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/random_questions_query.dart
Labels: 🥫 Product page, 📈 Analytics, dependencies, ✏️ Editing - Basic info input, User lists

#5027 feat: 5020 - unselect+edit buttons on OCR page
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/product_image_button.dart
  packages/smooth_app/lib/pages/product/product_image_crop_button.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_unselect_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: 🥫 Product page

#5078 feat: 5077 - "open prices" button available for all users
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: 🥫 Product page, Product addition

#5076 refactor: 5075 - explicit localization of OFF world links
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/generic_lib/smooth_html_widget.dart
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/website_card.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: 🥫 Product page, Product addition, 👥 User management, product scan carousel

#5016 feat: 4941 - refresh products when switching app language
  packages/smooth_app/lib/background/background_task_language_refresh.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/data_models/up_to_date_mixin.dart
  packages/smooth_app/lib/data_models/up_to_date_product_provider.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_language_selector.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: 🥫 Product page, 🔁 Background tasks

#5086 feat: Added neutral action to Smooth Alert dialog and updated app review dialog in login page
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: 👥 User management

#5093 fix: Light on the light issue in light mode on dark mode device
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/pubspec.lock
Labels: 🤳🥫 Scan
