Repository openfoodfacts/smooth-app, pull requests merged in 2024-10, with the labels that each got.

#5661 feat: 5643 - edit of products of any product type
  packages/smooth_app/lib/background/background_task_barcode.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/cards/data_cards/product_image_carousel_item.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_button.dart
  packages/smooth_app/lib/pages/product/product_image_crop_button.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_unselect_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product_crop_helper.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 🥫 Product page, Product addition, 🧴 Open Beauty Facts, ✏️ Editing - Nutrition input, 🖼️ Photos - Cropping, ✏️ Editing - Basic info input, 📸 Open Products Facts, 🐾 Open Pet Food Facts, OxF, ✏️ Editing - 📦 Packaging input, 🔁 Background tasks, OCR page

#5662 feat: 5586 - explicit call to "food" server for user login actions
  packages/smooth_app/lib/data_models/login_result.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 👥 User management, OxF

#5663 feat: 5643 - removed irrelevant editors for non-FOOD products
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
Labels: 🥫 Product page, Product addition

#5657 chore: Remove `flutter_icons` dependency
  packages/smooth_app/assets/app/release_icon_transparent_1152x1152.png
  packages/smooth_app/assets/app/release_icon_transparent_70pct_1152x1152.png
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5670 feat: 5326 - add prices to proof from gallery (and thumbnails)
  packages/smooth_app/lib/background/background_task_add_other_price.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_price.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/pages/locations/osm_location.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_currency_selector.dart
  packages/smooth_app/lib/pages/prices/price_date_card.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/price_proof_page.dart
  packages/smooth_app/lib/pages/prices/price_user_button.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, Prices, 🔁 Background tasks

#5679 feat: 5326 - users can now select proof from gallery in "add price" page
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
Labels: 🖼️ Photos - Cropping, Prices

#5678 fix: 5634 - refresh of price lazy counters when accessing lists
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/pages/preferences/lazy_counter.dart
  packages/smooth_app/lib/pages/preferences/lazy_counter_widget.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_user_button.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: Prices

#5706 fix: GoRouter doesn't like subroutes for external links
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: 🔗 Deeplinking, router

#5711 Add automatic code documentation generation using MKDOCS and GitHub Actions
  .github/workflows/generate-docs.yml
  mkdocs.yml
Labels: GitHub

#5674 fix: 5665 - display "add nutrition facts" button only for relevant types
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/add_nutrition_button.dart
  packages/smooth_app/pubspec.lock
Labels: 🥫 Product page

#5709 feat: 5700 - no click for KP title without additional elements
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
Labels: 📖 Knowledge panels

#5694 fix: 5693 - able to run tasks without minimum duration wait
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/tests_utils/local_database_mock.dart
  packages/smooth_app/test/users/forgot_password_page_layout_test.dart
  packages/smooth_app/test/users/login_page_layout_test.dart
  packages/smooth_app/test/users/signup_page_layout_test.dart
Labels: 🧪 Tests, 🔁 Background tasks

#5722 fix: iOS icons with an alpha channel
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/black_icon-1024.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/tinted_icon-1024.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/white_icon-1024.png
Labels: 🍎 iOS, icon

#5723 fix: The last "Authorise" button on the onboarding now working
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
Labels: 🤗 Onboarding, router

#5730 feat: 5428 - page dedicated to prices
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_donation.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
Labels: Prices

#5729 fix: 5627 - remove focus from price amount after adding product
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
Labels: Prices

#5733 feat: The JSON of the tagline is now hosted on Github
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: tagline

#5735 chore: Upgrade the Flutter version to 3.24.4
  flutter-version.txt
Labels: flutter

#5737 feat: 5418 - Prices - "Are you sure you want to exit?" feature
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: Prices

#5736 feat: Switch to Material 3
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: goldens, ✨ 2024 the big redesign

#5721 feat: 5586 - added explicit product type to all relevant background tasks
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_barcode.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_language_refresh.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_progressing.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/background/work_type.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/helpers/temp_product_list_share_helper.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/preferences/lazy_counter.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/random_questions_query.dart
Labels: 🥫 Product page, User lists, 🔁 Background tasks

#5740 fix: Fix regressions after Material 3 migration
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: 🤳🥫 Scan

#5743 feat: 5405 - 3 queues for background tasks (fast, slow, long haul)
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_add_other_price.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_badge.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_full_refresh.dart
  packages/smooth_app/lib/background/background_task_hunger_games.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_language_refresh.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_offline.dart
  packages/smooth_app/lib/background/background_task_queue.dart
  packages/smooth_app/lib/background/background_task_refresh_later.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/data_models/up_to_date_mixin.dart
  packages/smooth_app/lib/database/dao_string_list.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/test/tests_utils/local_database_mock.dart
Labels: 🖼️ Photos - Cropping, Prices, 🔁 Background tasks

#5752 feat: 5639 - storing the latest selected product type
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/pages/search/search_product_helper.dart
Labels: 🧴 Open Beauty Facts, 🔎 Search, 📸 Open Products Facts, 🐾 Open Pet Food Facts

#5749 feat: Action bar for the product (+ light redesign)
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/add_price_british_pound.svg
  packages/smooth_app/assets/fonts/icons/add_price_dollar.svg
  packages/smooth_app/assets/fonts/icons/add_price_euro.svg
  packages/smooth_app/assets/fonts/icons/add_price_ruble.svg
  packages/smooth_app/assets/fonts/icons/add_price_rupee.svg
  packages/smooth_app/assets/fonts/icons/add_price_swiss_franc.svg
  packages/smooth_app/assets/fonts/icons/add_price_turkish_lira.svg
  packages/smooth_app/assets/fonts/icons/add_price_ukrainian_hryvnia.svg
  packages/smooth_app/assets/fonts/icons/add_price_won.svg
  packages/smooth_app/assets/fonts/icons/add_price_yen.svg
  packages/smooth_app/assets/fonts/icons/add_to_list.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_snackbar.dart
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/macos/Podfile.lock
Labels: 🥫 Product page, Product addition, summary card, router

#5754 fix: Fix external links
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
Labels: router

#5764 feat: Improvements for the product page (Part 2)
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/website_card.dart
Labels: 🥫 Product page, Prices

#5763 feat: JDK 21 for Android
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  .github/workflows/postsubmit.yml
  .github/workflows/waldo_sessions.yml
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/gradle.properties
  packages/smooth_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/smooth_app/android/settings.gradle
Labels: GitHub
