Repository openfoodfacts/smooth-app, pull requests merged in 2024-08, with the labels that each got.

#5518 fix: Fix UK flag in the country picker
  packages/smooth_app/lib/pages/prices/emoji_helper.dart
Labels: ⚙️ Settings, countries

#5501 feat: Photo gallery for "Others"
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image/product_image_widget.dart
  packages/smooth_app/macos/Podfile.lock
Labels: ✨ enhancement, server photos gallery

#5521 feat: User lists: change the way to switch between lists
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/resources/app_icons.dart
Labels: 🥫 Product page, lists, User lists

#5519 feat: Improvements for the search experience
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/locations/search_location_helper.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/common/search_empty_screen.dart
  packages/smooth_app/lib/pages/product/common/search_helper.dart
  packages/smooth_app/lib/pages/product/common/search_loading_screen.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/lib/pages/search/search_field.dart
  packages/smooth_app/lib/pages/search/search_history_view.dart
  packages/smooth_app/lib/pages/search/search_page.dart
  packages/smooth_app/lib/pages/search/search_product_helper.dart
  packages/smooth_app/lib/widgets/smooth_hero.dart
Labels: 🥫 Product page, home page, 🔎 Search, summary card, 🤳🥫 Scan, results lists, Prices

#5527 ci: Fix iOS build
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: 🍎 iOS, GitHub

#5528 feat: 5526 - new Prices prod/test url flag
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_user_button.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: Prices, 🔁 Background tasks

#5532 chore: Move the `fastlane` directory for F-droid
  fastlane/metadata/android/en-US/54.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/6.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/7.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/8.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/9.png
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/title.txt
Labels: F-Droid

#5531 fix: 5437 - fine-tuning about price result display
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: Prices

#5525 ci: Create on-demand.yml
  .github/workflows/on-demand.yml
Labels: GitHub

#5542 docs: Update README.md
  README.md
Labels: 📚 Documentation

#5533 feat: 5400 - flagging price stores as favorites
  packages/smooth_app/lib/database/dao_string_list.dart
  packages/smooth_app/lib/pages/locations/favorite_location_helper.dart
  packages/smooth_app/lib/pages/locations/search_location_preloaded_item.dart
Labels: Prices

#5547 ci: On-demand auto-formatter
  .github/workflows/on-demand.yml
Labels: GitHub

#5548 ci: glowup the CI
  .github/workflows/presubmit.yml
Labels: GitHub

#5565 feat: Add the name of the contributor (photo)
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
Labels: ✏️ Contribution, 🖼️ Photos - Photo manager
