Repository openfoodfacts/smooth-app, pull requests merged in 2024-12, with the labels that each got.

#5974 feat: An indicator if the photo may be locked by the producer
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_details_banner.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
Labels: 🥫 Product page, 🌐 l10n, protected products

#5979 chore: Country selector button invisible in dark mode
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector.dart
Labels: darkmode, countries

#5978 fix: Several fixes for product addition
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
Labels: 🥫 Product page, 🛣️ Road to scores

#5995 fix: Improvements for devices with text scale multipliers
  packages/smooth_app/lib/pages/image/product_image_widget.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/widgets/smooth_navigation_bar.dart
Labels: 🥫 Product page, navigation

#6003 chore: Change the onboarding for the AppStore + fix
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
Labels: 🤗 Onboarding, 📈 Analytics

#6005 feat: 6001 - cached impact-co2.svg
  packages/smooth_app/assets/cache/impact-co2.svg
Labels: asset cache, Assets cache

#6009 ci: Update labeler.yml
  .github/labeler.yml
Labels: GitHub

#6036 fix: Improvements for small screens
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/widgets/smooth_navigation_bar.dart
Labels: 🥫 Product page, navigation, summary card, 🤳🥫 Scan

#6032 fix: When the compatibility score is 0, display 0 and not 00
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
Labels: ranking, personal scoring

#6027 feat: 6025 - settings for the folksonomy server
  packages/smooth_app/lib/pages/folksonomy/folksonomy_provider.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: dev mode, folksonomy engine

#6022 feat: 5987 - count badge and preload of product prices
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/prices_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: Prices

#6042 fix: 6041 - remove deleted items from selection
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
Labels: 🥫 Product page

#6048 feat: 5952 - better image compression for Prices
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/helpers/image_compute_container.dart
Labels: Prices, 🔁 Background tasks

#6073 feat: New layout when a product is found
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_button_with_arrow.dart
  packages/smooth_app/lib/helpers/haptic_feedback_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🥫 Product page, 🌐 l10n

#6072 feat: Eco-Score -> Green Score
  packages/smooth_app/assets/cache/ecoscore-a-plus.svg
  packages/smooth_app/assets/cache/ecoscore-a.svg
  packages/smooth_app/assets/cache/ecoscore-b.svg
  packages/smooth_app/assets/cache/ecoscore-c.svg
  packages/smooth_app/assets/cache/ecoscore-d.svg
  packages/smooth_app/assets/cache/ecoscore-e.svg
  packages/smooth_app/assets/cache/ecoscore-not-applicable.svg
  packages/smooth_app/assets/cache/ecoscore-unknown.svg
  packages/smooth_app/assets/cache/green-score-a-plus.svg
  packages/smooth_app/assets/cache/green-score-a.svg
  packages/smooth_app/assets/cache/green-score-b.svg
  packages/smooth_app/assets/cache/green-score-c.svg
  packages/smooth_app/assets/cache/green-score-d.svg
  packages/smooth_app/assets/cache/green-score-e.svg
  packages/smooth_app/assets/cache/green-score-f.svg
  packages/smooth_app/assets/cache/green-score-not-applicable.svg
  packages/smooth_app/assets/cache/green-score-unknown.svg
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
Labels: 🥫 Product page, 📈 Analytics, 🌐 l10n, 🛣️ Road to scores, asset cache, Assets cache

#6075 feat: Migration to the latest camera/mobile_scanner
  packages/scanner/ml_kit/lib/src/mobile_scanner_controller.dart
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/ml_kit/pubspec.yaml
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, Android, dependencies

#6078 fix: Robotoff banner on the product page
  packages/smooth_app/lib/helpers/robotoff_insight_helper.dart
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: 🥫 Product page, 🤖 Robotoff

#6079 chore: Reorder README.md
  README.md
Labels: 📚 Documentation

#6076 feat: Migration to Flutter 3.27
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_footer.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_header.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/navigator/slide_up_transition.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/product/add_new_product/product_type_radio_list_tile.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_barcode_widget.dart
  packages/smooth_app/lib/widgets/smooth_floating_message.dart
  packages/smooth_app/lib/widgets/smooth_navigation_bar.dart
  packages/smooth_app/lib/widgets/smooth_tabbar.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/macos/Runner/AppDelegate.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 📚 Documentation, 🥫 Product page, navigation, 🤗 Onboarding, dependencies, 🤖 Robotoff, 🤳🥫 Scan, 🖼️ Photos - Cropping, tagline, 🖼️ Photos - Photo manager, Prices, OCR page, 🤳🥫 ZXing, 🖥️ MacOS

#6077 fix: Improve the camera permission denied on tiny screens
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: 🤳🥫 Scan

#6080 feat: Improve KP tables layout
  packages/smooth_app/lib/helpers/html_extension.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
Labels: 📖 Knowledge panels, 📖 Knowledge panels - Table widget

#6084 fix: Force the color of the Scan buttons
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: 🤳🥫 Scan

#6081 feat: Disable gestures on the KP map
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/product/world_map_page.dart
Labels: 🥫 Product page, 📖 Knowledge panels, 🗺️ Map widget, 📖 Knowledge panels - Map widget

#6087 fix: Crop buttons color + Tooltip
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
Labels: 🌐 l10n, 🖼️ Photos - Cropping

#6093 feat: Scrollable tagline for small screens
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan, tagline, small devices
