Repository openfoodfacts/smooth-app, pull requests merged in 2024-05, with the labels that each got.

#5178 chore: upgrade to connectivity_plus v6.0.3
  packages/smooth_app/lib/data_models/fetched_product.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies

#5173 chore: Remove app_plugin_loader Gradle plugin (Android)
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/android/build.gradle
  packages/smooth_app/android/settings.gradle
Labels: Android

#5174 chore: Remove unused code
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
Labels: 🤗 Onboarding

#5129 chore: upgraded webview_flutter to 4.7.0
  packages/smooth_app/android/app/build.gradle
  packages/smooth_app/lib/pages/preferences/account_deletion_webview.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/test/pages/user_preferences_page_test.dart
Labels: 🧪 Tests, dependencies

#5220 feat: 5191 - knowledge panel image card now clickable
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_image_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5231 docs: latest releases
  README.md
Labels: 📚 Documentation

#5236 feat: 5200 - currency selector
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_currency_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
Labels: 🤗 Onboarding

#5238 feat: 5201 - change currency with country when relevant
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_country_selector.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 🤗 Onboarding, dependencies

#5117 fix: RankingFloatingActionButton partially off-screen for some translations
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
Labels: 🥫 Product page, layout

#5250 chore(deps): bump flutter_secure_storage to 9.2.0
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5257 feat: Use the Nutri-Score animation on fast track
  packages/smooth_app/assets/animations/nutriscore.riv
  packages/smooth_app/lib/generic_lib/svg_icon_chip.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🥫 Product page, Product addition, Nutri-Score v2

#5252 chore(deps): bump flutter_secure_storage to 9.2.1
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5254 feat: Store user's cookie on startup
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/main.dart
Labels: dependencies

#5255 chore: Add `off-logo-icon-light.svg` to assets cache
  packages/smooth_app/assets/cache/off-logo-icon-light.svg
Labels: asset cache

#5264 feat: Add NutriScore V2 into cache + semantics
  packages/smooth_app/assets/cache/nutriscore-a-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-a-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-a-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-a-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-a-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-a-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-nl.svg
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/resources/app_animations.dart
Labels: ♿️ accessibility, 🚥 Nutri-Score, Nutri-Score v2

#5267 feat: Inject all colors from palette in an extension
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
Labels: 🎨 Design, ✨ 2023 the big redesign

#5271 feat: 5197 - first product price page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/prices/emoji_helper.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_item.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/lib/pages/prices/product_prices_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, Product addition, dependencies

#5268 feat: 5 new icons: chicken / fish / milk / soda happy / soda unhappy
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/chicken.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/fish.svg
  packages/smooth_app/assets/fonts/icons/milk.svg
  packages/smooth_app/assets/fonts/icons/salt.svg
  packages/smooth_app/assets/fonts/icons/soda_happy.svg
  packages/smooth_app/assets/fonts/icons/soda_unhappy.svg
  packages/smooth_app/lib/pages/guides/guides_widgets.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🎨 Design, icon

#5273 feat: Guide for Nutri-Score V2
  packages/smooth_app/lib/helpers/num_utils.dart
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/pages/guides/guide/guide_nutriscore_v2.dart
  packages/smooth_app/lib/pages/guides/guides_widgets.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_footer.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_header.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_translations.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, product scan carousel, Guides, Nutri-Score v2

#5275 feat: A deeplink to open the NutriScore Guide
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: 🚥 Nutri-Score, Nutri-Score v2

#5278 fix: Support for photos in a different language than the default one (green buttons)
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
Labels: 🥫 Product page, Product addition

#5281 fix: If we dismiss the Fast track screen, the dialog shouldn't be visible anymore
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: 🥫 Product page, Product addition

#5282 feat: `semanticsLabel` for SVGs cache + implementation for the "Add product" dialog
  packages/smooth_app/lib/cards/category_cards/asset_cache_helper.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/category_cards/svg_safe_network.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: 🥫 Product page, ♿️ accessibility

#5284 feat: Shortcut for the Nutri-Score V2 guide in the FAQ (+ some utils)
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: ⚙️ Settings, 🥫 Product page, 🚥 Nutri-Score, Nutri-Score v2

#5285 fix: Deep links are broken
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5280 feat: When there is no picture, the whole placeholder is clickable
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: 🥫 Product page, 🖼️ Photos - Photo manager

#5291 ci: crop labeler
  .github/labeler.yml
Labels: GitHub

#5290 feat: Knowledge Panel details page accessibility improvements
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: ♿️ accessibility, Nutri-Score v2

#5293 ci: prices labeler
  .github/labeler.yml
Labels: GitHub

#5287 fix: Onboarding: the main button should be selected first by screen readers
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
Labels: 🤗 Onboarding, 📈 Analytics, ♿️ accessibility

#5283 feat: Snap scrolling for guides
  packages/smooth_app/lib/helpers/physics.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/guides/guide/guide_nutriscore_v2.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
Labels: ✨ 2023 the big redesign, Nutri-Score v2

#5292 feat: 5195 - new "add one product price" page with background task
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/data_models/location_list_supplier.dart
  packages/smooth_app/lib/database/dao_osm_location.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/locations/location_map_page.dart
  packages/smooth_app/lib/pages/locations/search_location_preloaded_item.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector_helper.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_field.dart
  packages/smooth_app/lib/pages/prices/price_currency_card.dart
  packages/smooth_app/lib/pages/prices/price_currency_selector.dart
  packages/smooth_app/lib/pages/prices/price_date_card.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/product_price_item.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/lib/pages/prices/product_prices_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, 🤗 Onboarding, dependencies, 🖼️ Photos - Cropping, Prices, 🔁 Background tasks

#5087 refactor: removal of the useless/unused file cache manager
  .github/labeler.yml
  packages/smooth_app/lib/cache/cache_manager.dart
  packages/smooth_app/lib/cache/files/file_cache_manager.dart
  packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart
  packages/smooth_app/test/cache/cache_test.dart
Labels: 🧪 Tests, GitHub

#5302 refactor: Removal of device_preview dependency
  packages/smooth_app/lib/main.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5298 feat: Better error message for search screen
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
Labels: 🥫 Product page, error handling

#5308 chore: removed unused package percent_indicator
  packages/smooth_app/lib/generic_lib/widgets/smooth_gauge.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5305 feat: 5301 - price proofs can be cropped and will be displayed
  packages/smooth_app/assets/cache/signalconso.png
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_manager.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/crop_parameters.dart
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/may_exit_page_helper.dart
  packages/smooth_app/lib/pages/product/product_image_crop_button.dart
  packages/smooth_app/lib/pages/product_crop_helper.dart
  packages/smooth_app/lib/pages/proof_crop_helper.dart
Labels: 🥫 Product page, Product addition, 🖼️ Photos - Cropping, Prices, 🔁 Background tasks

#5040 chore: removed irrelevant dependency on package sensors_plus
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🤗 Onboarding, dependencies

#5311 feat: currency symbols
  packages/smooth_app/lib/pages/onboarding/country_selector.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector_helper.dart
  packages/smooth_app/lib/pages/prices/currency_extension.dart
  packages/smooth_app/lib/pages/prices/price_currency_selector.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: 🤗 Onboarding, Prices

#5312 chore: Nutri-Score V2 guide: all translations use the standard mechanism
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/guides/guide/guide_nutriscore_v2.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_footer.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_translations.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: crowdin, dependencies, Nutri-Score v2

#5317 feat: 5205 - added a "My prices" item linking to the web app
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
Labels: Prices
