Repository openfoodfacts/smooth-app, pull requests merged in 2024-03, with the labels that each got.

#5107 feat: 5095 - matomo anonymous visitor id now starts with a persistent letter
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/main.dart
Labels: 📈 Analytics

#5113 fix: Adjusting Search History Keyword Tapping
  packages/smooth_app/lib/pages/scan/search_history_view.dart
Labels: 🤳🥫 Scan

#5130 chore: various package upgrades
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies
