Repository openfoodfacts/smooth-app, pull requests merged in 2024-09, with the labels that each got.

#5564 feat: improved price product selection
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
  packages/smooth_app/lib/pages/prices/price_meta_product.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/price_scan_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: ✨ enhancement, dependencies, Prices

#5573 fix: 5554 - display of cached counts on user page
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/pages/preferences/lazy_counter.dart
  packages/smooth_app/lib/pages/preferences/lazy_counter_widget.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
Labels: gamification, network

#5592 fix: 5591 - added a call to initialize rive
  packages/smooth_app/lib/main.dart
Labels: animations

#5587 feat: 5568 - optimized search for price locations
  packages/smooth_app/lib/data_models/location_list_supplier.dart
  packages/smooth_app/lib/data_models/location_query_model.dart
  packages/smooth_app/lib/database/dao_osm_location.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/locations/osm_location.dart
Labels: Prices

#5614 fix: The image is zoomed in the gallery
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
Labels: ✨ enhancement, 🖼️ Photos - Photo manager

#5616 ci: tweak the name of the internal release action
  .github/workflows/internal-release.yml
Labels: GitHub

#5633 fix: 5630 - changed button order for prices "new product"
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
Labels: Prices

#5637 feat: 5586 - OxF filter for term searches
  packages/smooth_app/lib/data_models/product_list.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/common/search_helper.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/search/search_field.dart
  packages/smooth_app/lib/pages/search/search_product_helper.dart
  packages/smooth_app/lib/query/category_product_query.dart
  packages/smooth_app/lib/query/keywords_product_query.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/paged_search_product_query.dart
  packages/smooth_app/lib/query/paged_to_be_completed_product_query.dart
  packages/smooth_app/lib/query/paged_user_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 🥫 Product page, 🧴 Open Beauty Facts, 🔎 Search, summary card, 📸 Open Products Facts, 🐾 Open Pet Food Facts

#5642 feat: iOS 18 icons
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/100.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/1024.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/114.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/120.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/144.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/152.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/167.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/180.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/20.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/29.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/40.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/50.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/57.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/58.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/60.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/72.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/76.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/80.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/87.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/black_icon-1024.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/tinted_icon-1024.png
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/white_icon-1024.png
Labels: 🍎 iOS, icon

#5641 fix: Invisible loading animation for pictures
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: 🥫 Product page, network, server photos gallery, User lists
