Repository openfoodfacts/smooth-app, pull requests merged in 2024-01, with the labels that each got.

#4931 fix: 4925 - consistency for "edit product" app bars
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, ✏️ Editing - 📦 Packaging input

#4939 fix: 4228 - max lines 2 and tooltip for edit image buttons
  packages/smooth_app/lib/pages/product/edit_image_button.dart
Labels: 🥫 Product page

#4937 fix: 4697 - no more redundant "complete category" button
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🥫 Product page, summary card

#4933 fix: 4820 - ChangeNotifierProvider already disposes
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
Labels: 🥫 Product page

#4951 feat: 4947 - added "download language" to product table
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/data_models/onboarding_data_product.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/dao_hive_product.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/database/dao_product_migration.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
Labels: 🥫 Product page, User lists

#4938 feat: 4510 - new "enroll in the beta" contribute item
  packages/app_store/apple_app_store/lib/src/apple_app_store.dart
  packages/app_store/google_play/lib/src/google_play.dart
  packages/app_store/shared/lib/src/app_store.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/test/dialogs/generic_lib/dialogs_test.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: 🧪 Tests, goldens

#4960 feat: Help debug KP by providing some debug info
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_image_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
Labels: 📖 Knowledge panels

#4976 feat: 4973 - "shortcut to prices app" button controlled by dev mode
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/test/plural_translation_test.dart
Labels: 🥫 Product page, Product addition, 🧪 Tests

#4988 fix: Update labeler.yml
  .github/labeler.yml
Labels: GitHub

#4990 feat: Remove all Lottie files and use the barcode animation from the redesign
  packages/smooth_app/assets/animations/barcode.json
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/assets/animations/stars.json
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/resources/app_animations.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: animations, 🤗 Onboarding, dependencies, ✨ 2023 the big redesign

#4989 chore: Ensure we use the latest version of Flutter
  README.md
  flutter-version.txt
Labels: 📚 Documentation, flutter

#4987 fix: If a "panel summary widget" is incomplete, the app shouldn't crash
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
Labels: 📖 Knowledge panels

#4916 refactor: `UnfocusWhenTapOutside` becomes `UnfocusFieldWhenTapOutside`
  packages/smooth_app/lib/pages/input/unfocus_field_when_tap_outside.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
Labels: 🥫 Product page, ✏️ Editing - Basic info input, ✏️ Editing - 📦 Packaging input

#5004 fix: Add hunger game analytics event and track it
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: 📈 Analytics

#4969 feat: 4947 - added local "last access" timestamp for products
  packages/smooth_app/lib/database/dao_product_last_access.dart
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/product/common/product_model.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: 🥫 Product page, Product addition

#4975 fix: renderbox may be null when sharing
  packages/smooth_app/lib/pages/product/new_product_page.dart
Labels: 🥫 Product page, Product addition

#4928 feat: 4674 - immediate access to "other" pictures if possible
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_product_change.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/background/background_task_upload.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies

#5012 fix: 4943 - new nutrients, including polyols
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5015 chore: Add a QRCode icon in the font
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/qrcode.svg
  packages/smooth_app/assets/fonts/icons/qrcode_corners.svg
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: icon

#5017 fix: 4924 - OCR page minor UI improvements
  packages/smooth_app/lib/generic_lib/widgets/picture_not_found.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/product_image_local_button.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
Labels: 🥫 Product page

#5021 feat: Add a feature to paste from the clipboard in the search page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/search_history_view.dart
Labels: 🔎 Search, 🤳🥫 Scan

#5022 fix: In the search field, when a suggestion is selected, the loader shouldn't be visible anymore
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
Labels: ✏️ Editing, ✏️ Editing - Text fields

#5019 feat: If a search string only have digits BUT with spaces, we remove them
  packages/smooth_app/lib/helpers/string_extension.dart
  packages/smooth_app/lib/pages/scan/search_page.dart
  packages/smooth_app/test/utils/string_extensions_test.dart
Labels: 🧪 Tests, 🔎 Search, 🤳🥫 Scan, barcode support
