Repository openfoodfacts/smooth-app, pull requests merged in 2024-07, with the labels that each got.

#5452 chore: bump in_app_review dependency to 2.0.9
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
Labels: dependencies

#5458 chore: Bump Flutter version to 3.22
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_share_with_friends.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/product_question_answers_options.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/smooth_category_picker_example.dart
  packages/smooth_app/lib/themes/color_schemes.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 📚 Documentation, 🥫 Product page, Product addition, 🤗 Onboarding, 👥 User management, dependencies, ✏️ Editing - Nutrition input, 🤳🥫 Scan, 🖼️ Photos - Cropping, User lists, Hunger Games, ✏️ Editing - 📦 Packaging input, OCR page, 🤳🥫 ZXing

#5463 chore: Revert Flutter bump to 3.22
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_share_with_friends.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/product_question_answers_options.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/smooth_category_picker_example.dart
  packages/smooth_app/lib/themes/color_schemes.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 📚 Documentation, 🥫 Product page, Product addition, 🤗 Onboarding, 👥 User management, dependencies, ✏️ Editing - Nutrition input, 🤳🥫 Scan, 🖼️ Photos - Cropping, User lists, Hunger Games, ✏️ Editing - 📦 Packaging input, OCR page, 🤳🥫 ZXing

#5464 fix: Bump mobile_scanner to fix a crash on iOS
  packages/scanner/ml_kit/pubspec.yaml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/pubspec.lock
Labels: dependencies

#5468 feat: Bump Flutter version to 3.22
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart
  packages/smooth_app/lib/pages/hunger_games/question_answers_options.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_share_with_friends.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/product_question_answers_options.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/search_history_view.dart
  packages/smooth_app/lib/pages/user_management/forgot_password_page.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/smooth_category_picker_example.dart
  packages/smooth_app/lib/themes/color_schemes.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/ranking_floating_action_button.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 📚 Documentation, 🥫 Product page, Product addition, 🤗 Onboarding, 👥 User management, dependencies, ✏️ Editing - Nutrition input, 🤳🥫 Scan, 🖼️ Photos - Cropping, User lists, Hunger Games, ✏️ Editing - 📦 Packaging input, OCR page, 🤳🥫 ZXing

#5451 feat: Spellchecker on product name 5415
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
Labels: 🥫 Product page, ✏️ Editing - Basic info input

#5446 chore: NewsProvider - Allow the URL of a translated image to be null
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_model.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan, tagline

#5480 feat: new parameters for uploadProof
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, Prices, 🔁 Background tasks

#5474 chore: Remove `assorted_layout_widgets`
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, Product addition, dependencies

#5482 fix: iOS crash on startup on iOS <= 15
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Podfile.lock
Labels: 🍎 iOS

#5459 chore: Remove unnecessary `MediaQuery.of()`
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet.dart
  packages/smooth_app/lib/helpers/keyboard_helper.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/product/portion_calculator.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: 🥫 Product page, 🤗 Onboarding

#5494 feat: Popup Menu now uses the iOS actions sheet
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/widgets/smooth_menu_button.dart
  packages/smooth_app/macos/Podfile.lock
Labels: 🍎 iOS, 🥫 Product page, User lists

#5500 ci: Migrate actions to Java 17
  .github/workflows/postsubmit.yml
  .github/workflows/waldo_sessions.yml
Labels: CI, GitHub

#5461 feat: Disallow emojis on brand name
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
Labels: 🥫 Product page, ✏️ Editing - Basic info input

#5490 chore: Upgrade dependencies
  packages/app_store/uri_store/pubspec.yaml
  packages/smooth_app/devtools_options.yaml
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5514 fix: An attempt to fix the blank external page
  packages/smooth_app/lib/pages/navigator/external_page.dart
Labels: navigation, 🔗 Deeplinking

#5511 chore: Remove `flutter_map` attribution
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
Labels: 🥫 Product page, 🗺️ Map widget
