Repository openfoodfacts/smooth-app, pull requests merged in 2024-04, with the labels that each got.

#5133 fix: 4957 - SVG icons are now correctly refreshed when their URL change
  packages/smooth_app/lib/cards/category_cards/asset_cache_helper.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/category_cards/svg_safe_network.dart
Labels: asset cache, pull to refresh, 🚥 Nutri-Score

#5103 fix: 5102 - fixed the path of the database to backup
  packages/smooth_app/android/app/src/main/res/xml/backup_scheme.xml
Labels: 🐛 bug, Database backup

#5100 feat: 5099 - new dev mode item to refresh all the products from the server
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: ✨ enhancement, data refresh, dev mode

#5149 fix: 5145 - bold style for unknown ingredients in KP
  packages/smooth_app/lib/generic_lib/smooth_html_widget.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5150 fix: 5121 - more relevant choice of nutrients to display (edit page)
  packages/smooth_app/lib/pages/product/nutrition_container.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#5154 chore: Migration to Flutter 3.19
  README.md
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_loading.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_languages_list.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product_list_user_dialog_helper.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 📚 Documentation, 🥫 Product page, 👥 User management, dependencies, 🤳🥫 Scan, ✏️ Editing - Basic info input, User lists, 🤳🥫 ZXing

#5155 fix: If a product is passed as a `Map`, GoRouter should try to convert it
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: navigation

#5156 fix: Ensure all nutritional values rows are keyed
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#5165 fix: Tagline/App review: Ensure that all texts are centred
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: home page, product scan carousel, tagline

#5108 chore: removed unused package dependency w/ sliver_tools
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5170 feat: The user's cookie is now stored and passed to the API
  packages/smooth_app/assets/cache/nutriscore-a-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-b-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-c-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-d-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-e-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-formula-en.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-formula-en.svg
  packages/smooth_app/lib/data_models/login_result.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/macos/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5177 fix: Upgrade Dart dependency
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5172 fix: Fix login App Review dialog
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: 👥 User management

#5169 ci: Upgrade to the latest stable version of Xcode
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
  packages/smooth_app/ios/fastlane/Fastfile
Labels: GitHub
