Repository openfoodfacts/smooth-app, pull requests merged in 2024-06, with the labels that each got.

#5341 feat: 5301 - added an erasing tool for proofs
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/crop_parameters.dart
  packages/smooth_app/lib/pages/prices/eraser_model.dart
  packages/smooth_app/lib/pages/prices/eraser_painter.dart
  packages/smooth_app/lib/pages/prices/product_price_item.dart
  packages/smooth_app/lib/pages/product_crop_helper.dart
  packages/smooth_app/lib/pages/proof_crop_helper.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, 🖼️ Photos - Cropping, Prices, 🔁 Background tasks

#5332 feat: added deeplinking for the sign up page #4169
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 👥 User management

#5346 fix: 5345
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 👥 User management

#5343 feat: 5318 - added a "price privacy warning" dialog
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/product_price_item.dart
  packages/smooth_app/lib/pages/prices/product_prices_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, Prices, 🔁 Background tasks

#5347 feat: 5205 - new "my prices" page
  .github/labeler.yml
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_button.dart
  packages/smooth_app/lib/pages/prices/price_count_widget.dart
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/prices_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/lib/pages/prices/product_prices_page.dart
Labels: GitHub, Prices

#5351 feat: 5198 - added a local "latest prices" page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
Labels: Prices

#5350 feat: Tagline V3
  packages/smooth_app/assets/app/logo_text_black.svg
  packages/smooth_app/assets/app/logo_text_white.svg
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/data_models/tagline.dart
  packages/smooth_app/lib/data_models/tagline/tagline_json.dart
  packages/smooth_app/lib/data_models/tagline/tagline_model.dart
  packages/smooth_app/lib/data_models/tagline/tagline_provider.dart
  packages/smooth_app/lib/helpers/provider_helper.dart
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_language_selector.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_tagline.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: 🤳🥫 Scan, product scan carousel

#5353 feat: 5352 - now opening the related product price page from count button
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_count_widget.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: 🥫 Product page, Prices

#5363 fix: `ThemeProvider` properly resync the theme
  packages/smooth_app/lib/data_models/tagline/tagline_provider.dart
  packages/smooth_app/lib/pages/scan/scan_tagline.dart
  packages/smooth_app/lib/resources/app_animations.dart
  packages/smooth_app/lib/themes/theme_provider.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: 🤳🥫 Scan, product scan carousel

#5364 feat: Custom domain + environment support for the TagLine
  packages/smooth_app/lib/data_models/tagline/tagline_provider.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: 🤳🥫 Scan, tagline

#5367 feat: 5204 - preliminary step for multi-product price addition
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_field.dart
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
  packages/smooth_app/lib/pages/prices/price_count_widget.dart
  packages/smooth_app/lib/pages/prices/price_meta_product.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_product_list_tile.dart
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: 🥫 Product page, Prices

#5372 feat: Dev mode with sections + reordered
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_item.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
Labels: 🎨 UI / UX, dev mode

#5368 feat: Preview badge for Prices
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/lab.svg
  packages/smooth_app/assets/fonts/icons/magic_wand.svg
  packages/smooth_app/assets/fonts/icons/sparkles.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: Prices

#5369 fix: Hide Robotoff banner on the onboarding
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🥫 Product page, Product addition, 🤗 Onboarding, summary card

#5375 feat: 5204 - multi-product price addition
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: Prices, 🔁 Background tasks

#5376 fix: 5371 - less ambiguous currency symbol
  packages/smooth_app/lib/pages/onboarding/currency_selector.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector_helper.dart
  packages/smooth_app/lib/pages/prices/price_currency_selector.dart
Labels: 🤗 Onboarding, Prices

#5378 feat: Edge to edge mode on Android
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: 🥫 Product page, Product addition, 🤗 Onboarding, 📈 Analytics, Android, OS integrations

#5381 feat: prices - barcode reader for additional products
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/price_scan_page.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
Labels: 🤳🥫 Scan

#5382 feat: Onboarding with main/home page from the POC
  packages/smooth_app/assets/onboarding/birthday-cake.svg
  packages/smooth_app/assets/onboarding/cloud.svg
  packages/smooth_app/assets/onboarding/reinvention.svg
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: 🤗 Onboarding, ✨ 2023 the big redesign

#5379 chore: Add the Ristreto color to the palette
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
Labels: 🎨 Design

#5383 feat: prices - top contributors now within the app
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_count_widget.dart
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
  packages/smooth_app/lib/pages/prices/price_user_button.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
Labels: Prices

#5389 feat: 5207 - new "My proofs" and "Proof" pages
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
  packages/smooth_app/lib/pages/prices/price_proof_page.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
Labels: Prices

#5377 refactor: Rename `tagline*` to `AppNews`
  .github/labeler.yml
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_model.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_language_selector.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/new_product_page.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/pages/scan/carousel/scan_carousel.dart
  packages/smooth_app/lib/pages/scan/carousel/scan_carousel_manager.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/widgets/smooth_product_carousel.dart
Labels: 🥫 Product page, Product addition, 🤗 Onboarding, GitHub, 🤳🥫 Scan, product scan carousel, User lists

#5384 feat: Extract ingredients/packaging: loading / loaded / extracting states
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/ocr_helper.dart
  packages/smooth_app/lib/pages/product/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/ocr_packaging_helper.dart
Labels: 🥫 Product page, ingredients, ✏️ Editing - Packaging input, ✏️ Editing - ingredients, ✏️ Editing - 📦 Packaging input

#5397 ci: labeler OCR
  .github/labeler.yml
Labels: GitHub

#5395 chore: OCR page: missing case fixed + file splited
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_main_action.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/ocr_helper.dart
  packages/smooth_app/lib/pages/product/edit_ocr/ocr_ingredients_helper.dart
  packages/smooth_app/lib/pages/product/edit_ocr/ocr_packaging_helper.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
Labels: 🥫 Product page, OCR page

#5370 feat: Tagline V3: support for countries-only locales: (eg `_FR`)
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
Labels: tagline

#5366 feat: Improve photo gallery accessibility + internationalization
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_widget.dart
Labels: 🖼️ Photos - Refresh

#5399 chore: Hide the NutriScore V2 guide in France
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: ⚙️ Settings

#5392 feat: 5203 - "add receipt" and "add price tags", even offline or not found
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_account.dart
  packages/smooth_app/lib/pages/prices/get_prices_model.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
  packages/smooth_app/lib/pages/prices/price_meta_product.dart
  packages/smooth_app/lib/pages/prices/price_product_list_tile.dart
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: 🥫 Product page, Prices

#5412 fix: Improve accessibility on the homepage
  packages/scanner/shared/lib/src/scanner_visor.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/helpers/strings_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: ♿️ accessibility, 🤳🥫 Scan

#5409 feat: Spellchecker for OCR screens
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
Labels: 🥫 Product page, OCR page

#5414 feat: Accessibility improved for the Website card (product page)
  packages/smooth_app/lib/pages/product/website_card.dart
Labels: 🥫 Product page, ♿️ accessibility

#5416 feat: Dev mode for app news: custom URI + manual refresh
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
Labels: dev mode, tagline

#5419 feat: Cloud upload indicator for the gallery
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🥫 Product page

#5413 feat: Accessibility improvements for the list of prices
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/price_button.dart
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/price_user_button.dart
  packages/smooth_app/lib/pages/prices/prices_page.dart
Labels: ♿️ accessibility, Prices

#5279 feat: Crop page: increase paddings
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/product/edit_image_button.dart
Labels: 🥫 Product page, 🖼️ Photos - Cropping

#5421 fix: 2 bugfixes for the tagline (empty content + image in error)
  packages/smooth_app/lib/data_models/news_feed/newsfeed_model.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan

#5420 chore: Remove Scan Example page from the onboarding
  packages/smooth_app/assets/onboarding/scan.svg
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/scan_example.dart
Labels: 🤗 Onboarding

#5431 fix: Linux variant now working
  packages/smooth_app/lib/database/local_database.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, linux

#5433 fix: Hotfix for the onboarding blocking the whole app
  packages/smooth_app/lib/data_models/preferences/migration/user_preferences_migration.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
Labels: 🐛 bug

#5425 feat: Upload indicator for the image viewer
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🥫 Product page, image upload, 🔁 Background tasks

#5440 chore: Tagline: minor UI changes (paddings)
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan, tagline

#5441 chore: Add `TraceableClientMixin` to prices pages
  packages/smooth_app/lib/pages/prices/price_product_search_page.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: 📈 Matomo, Prices

#5442 feat: A feedback form for the prices page
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/prices_page.dart
Labels: Prices

#5448 fix: Prices feedback form missing a "SafeArea" zone
  packages/smooth_app/lib/pages/prices/prices_page.dart
Labels: Prices

#5450 chore: Allow `LaunchUrlHelper` to follow deep links
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan
