Repository openfoodfacts/smooth-app, pull requests merged in 2024-11, with the labels that each got.

#5772 feat: 5621 - "road to scores" label now depends on OxF
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 🥫 Product page, 🛣️ Road to scores

#5774 fix: Robotoff banner: bring back the pre-Material 3 visual
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: 🥫 Product page

#5773 feat: Visual improvements for the scan page
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/pages/product/product_compatibility_header.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: 🥫 Product page, summary card, 🤳🥫 Scan

#5684 fix: 5681 - startActivityAndCollapse + android 14
  packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/app/AppMainTile.kt
Labels: OS integrations

#5778 feat: Product page - manage user lists in a bottom sheet
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_checkbox.dart
Labels: 🥫 Product page, User lists

#5747 ci: Unblock the iOS build at the expense of release please ?
  version.txt
Labels: 🍎 iOS

#5779 chore: Bump flutter_svg for smooth_app
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5781 fix: Edit page: fix regressions after migration to Material 3
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: 🥫 Product page

#5784 fix: Adopt iOS code for Android status bar (Material 3 issue)
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
  packages/smooth_app/lib/widgets/smooth_scaffold.dart
Labels: 🤗 Onboarding

#5795 fix: 5556 - try to display the questions when in button mode
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🥫 Product page

#5799 fix: 5789 - catching database exceptions not supposed to happen
  packages/smooth_app/lib/database/dao_osm_location.dart
Labels: Prices

#5805 feat: 28 new icons
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/app_store.svg
  packages/smooth_app/assets/fonts/icons/camera_happy.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/contribute.svg
  packages/smooth_app/assets/fonts/icons/country.svg
  packages/smooth_app/assets/fonts/icons/crash.svg
  packages/smooth_app/assets/fonts/icons/currency.svg
  packages/smooth_app/assets/fonts/icons/dangerous_zone.svg
  packages/smooth_app/assets/fonts/icons/delete_trash.svg
  packages/smooth_app/assets/fonts/icons/document.svg
  packages/smooth_app/assets/fonts/icons/donate.svg
  packages/smooth_app/assets/fonts/icons/eye_invisible.svg
  packages/smooth_app/assets/fonts/icons/eye_visible.svg
  packages/smooth_app/assets/fonts/icons/github.svg
  packages/smooth_app/assets/fonts/icons/hamburger_menu.svg
  packages/smooth_app/assets/fonts/icons/happy_toast.svg
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/image_add.svg
  packages/smooth_app/assets/fonts/icons/image_check.svg
  packages/smooth_app/assets/fonts/icons/incognito.svg
  packages/smooth_app/assets/fonts/icons/ingredients_basket.svg
  packages/smooth_app/assets/fonts/icons/language.svg
  packages/smooth_app/assets/fonts/icons/language_world.svg
  packages/smooth_app/assets/fonts/icons/light_bulb.svg
  packages/smooth_app/assets/fonts/icons/logout.svg
  packages/smooth_app/assets/fonts/icons/nutritional_facts.svg
  packages/smooth_app/assets/fonts/icons/password.svg
  packages/smooth_app/assets/fonts/icons/personalization_alt.svg
  packages/smooth_app/assets/fonts/icons/programming.svg
  packages/smooth_app/assets/fonts/icons/vibration.svg
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: icon, ✨ 2024 the big redesign

#5803 feat: Some enhancements for the Bottom Sheet
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_image_source.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
Labels: 🥫 Product page

#5804 feat: UI improvements for the "Add to list" modal sheet
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_draggable_bottom_sheet_route.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/resources/app_icons.dart
Labels: 🥫 Product page, User lists

#5810 feat: 5741 - respecting the "search products" access limitations
  packages/smooth_app/lib/background/background_task_download_products.dart
  packages/smooth_app/lib/background/background_task_language_refresh.dart
  packages/smooth_app/lib/background/background_task_top_barcodes.dart
  packages/smooth_app/lib/data_models/query_product_list_supplier.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/lazy_counter.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/query/paged_product_query.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/lib/query/search_products_manager.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies, User lists

#5833 chore: Add `ecoscore-a-plus.svg` to the cache
  packages/smooth_app/assets/cache/ecoscore-a-plus.svg
Labels: asset cache

#5832 feat: Add a loading state to the tagline image
  packages/smooth_app/lib/cards/category_cards/svg_async_asset.dart
  packages/smooth_app/lib/cards/category_cards/svg_cache.dart
  packages/smooth_app/lib/cards/category_cards/svg_safe_network.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_app_logo.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/resources/app_icons.dart
Labels: 🥫 Product page, 🤳🥫 Scan, tagline, User lists

#5829 fix: Misc visual improvements
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/pages/onboarding/currency_selector_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: 🥫 Product page, 🤗 Onboarding, ✏️ Editing, Prices

#5828 feat: The front picture is now fully visible on the product page
  packages/smooth_app/assets/product/product_error.svg
  packages/smooth_app/assets/product/product_not_found_text.svg
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🥫 Product page

#5777 feat: 5430 - "producer provided" icon for nutrients and 4 product fields
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, protected products

#5826 feat: Allow to reorder the action bar
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/compare.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/hamburger_menu.svg
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/helpers/haptic_feedback_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_add_price.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_add_to_lists.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_compare.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_edit.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_settings.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_share.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/lib/widgets/smooth_list_diff.dart
  packages/smooth_app/macos/Podfile.lock
Labels: 🥫 Product page

#5842 feat: 1392 - added "select all" and "select none" actions for product lists
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: 🥫 Product page, User lists

#5837 feat: 5638 - 5 dimensions for matomo
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/attribute_first_row_helper.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/query/barcode_product_query.dart
Labels: 🥫 Product page, Product addition, 📈 Analytics, summary card, ✏️ Editing, 🛣️ Road to scores, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, ✏️ Editing - 📦 Packaging input, OCR page

#5843 fix: 5830 - sorted "more photos" by timestamp
  packages/smooth_app/lib/helpers/product_cards_helper.dart
Labels: server photos gallery

#5852 feat: UI Improvements for the photo gallery
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/pages/image/product_image_widget.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: 🥫 Product page

#5845 feat: 5335 - owner field icon/info for "categories"
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, protected products

#5844 feat: Same bottom bar accross screens
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/common/product_buttons.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/widgets/v2/smooth_buttons_bar.dart
  packages/smooth_app/macos/Podfile.lock
Labels: 🥫 Product page, Product addition, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, OCR page

#5768 feat: (5291) Add section for doing CRUD on product tags (Folksonomy)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/folksonomy/folksonomy_card.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_create_edit_modal.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_page.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_provider.dart
  packages/smooth_app/lib/pages/folksonomy/tag.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🥫 Product page, Product addition, folksonomy engine

#5865 ci: Update github-projects-pr.yml
  .github/workflows/github-projects-pr.yml
Labels: GitHub

#5869 feat: Product page: add to list counter + appbar shadow
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/add_to_list.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_1.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_2.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_3.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_4.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_5.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_6.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_7.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_8.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_9.svg
  packages/smooth_app/assets/fonts/icons/add_to_list_9_plus.svg
  packages/smooth_app/assets/fonts/icons/compare_disabled.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_add_to_lists.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_compare.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_settings.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page

#5884 fix: Tagline: optimized version for small screens
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
Labels: 🤳🥫 Scan, tagline

#5885 feat: Photo gallery: if a photo is missing → take it directly
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_gallery_view.dart
Labels: 🥫 Product page

#5886 feat: Custom Switch Widget
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_switch.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#5891 fix: Fix truncated AppBars on some screens
  packages/smooth_app/lib/pages/product/common/search_app_bar_title.dart
Labels: 🥫 Product page

#5892 fix: 5864 - more verbose error message for details
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#5857 feat: Change UI of new product type cards
  packages/smooth_app/assets/misc/logo_obf_half.svg
  packages/smooth_app/assets/misc/logo_off_half.svg
  packages/smooth_app/assets/misc/logo_opf_half.svg
  packages/smooth_app/assets/misc/logo_opff_half.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_new_product/product_type_radio_list_tile.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/product_type_extensions.dart
  packages/smooth_app/lib/pages/search/search_product_helper.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 🥫 Product page, 📈 Analytics, summary card, ✏️ Editing, 🛣️ Road to scores, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, ✏️ Editing - 📦 Packaging input, OCR page, router

#5895 feat: Many improvements for the photo gallery
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/image_check_alt.svg
  packages/smooth_app/assets/fonts/icons/image_error.svg
  packages/smooth_app/assets/fonts/icons/ingredients_alt.svg
  packages/smooth_app/assets/fonts/icons/lists.svg
  packages/smooth_app/assets/fonts/icons/milk_filled.svg
  packages/smooth_app/assets/fonts/icons/photo_select.svg
  packages/smooth_app/assets/fonts/icons/profile.svg
  packages/smooth_app/assets/fonts/icons/recycling.svg
  packages/smooth_app/assets/fonts/icons/search_alt.svg
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/loading_dialog.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image/uploaded_image_gallery.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_tabs.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_image_server_button.dart
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
  packages/smooth_app/lib/widgets/smooth_barcode_widget.dart
  packages/smooth_app/lib/widgets/smooth_tabbar.dart
Labels: 🥫 Product page, ✏️ Editing, 🖼️ Photos - Cropping

#5912 chore: Update Podfile
  packages/smooth_app/ios/Podfile
  packages/smooth_app/ios/Podfile.lock
Labels: 🍎 iOS

#5913 ci: typos in labeler
  .github/labeler.yml
Labels: GitHub

#5900 feat: Replace ther BottomNavigationBar with a custom NavigationBar
  packages/smooth_app/lib/pages/page_manager.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_navigation_bar.dart
Labels: navigation

#5911 fix: UI changes for the homepage
  packages/scanner/shared/lib/src/scanner_visor.dart
  packages/smooth_app/lib/pages/scan/camera_scan_page.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/pages/scan/scan_page.dart
Labels: 🤳🥫 Scan

#5584 ci: tentative fix for set-output deprecation
  .github/workflows/internal-release.yml
Labels: GitHub

#5916 feat: "Use photo as" available directly in the gallery (+ a fix)
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
Labels: 🍎 iOS, 🥫 Product page

#5928 fix: Optimized version of the scan cards for small screens
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/cards/product_cards/smooth_product_base_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_not_found.dart
  packages/smooth_app/lib/pages/hunger_games/congrats.dart
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/navigator/slide_up_transition.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/pages/scan/carousel/scan_carousel.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
  packages/smooth_app/lib/resources/app_animations.dart
Labels: 🥫 Product page, 🤗 Onboarding, 🤳🥫 Scan, product scan carousel, router

#5931 fix: Update tabs when a language is added from the photo details
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_tabs.dart
Labels: 🥫 Product page

#5929 feat: 5903 - shop icon for "find shop" in prices
  packages/smooth_app/lib/pages/prices/price_location_card.dart
Labels: Prices

#5917 feat: Min/max version for the tagline
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_model.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
Labels: tagline

#5930 feat: 5905 - toggle instead of check box for "discount" price
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
Labels: Prices

#5936 fix: Product attributes: visible dividers in dark mode + …
  packages/smooth_app/lib/pages/product/summary_attribute_group.dart
Labels: 🥫 Product page

#5938 ci: add metrics and matomo to the metrics project
  .github/workflows/github-projects-ventilation.yml
Labels: GitHub, 📈 Matomo

#5950 fix: Warning on iOS about a negative padding
  packages/smooth_app/lib/widgets/smooth_navigation_bar.dart
Labels: navigation

#5940 feat: Robotoff is only accessible via the banner (product page)
  packages/smooth_app/lib/data_models/preferences/migration/user_preferences_migration.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/pages/onboarding/preferences_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_debug_info.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🥫 Product page, 🤗 Onboarding, summary card, 🤖 Robotoff

#5945 ci: update labeler for Robotoff widget
  .github/labeler.yml
Labels: GitHub, 🤖 Robotoff

#5947 feat: Product page: notify when there are pending operations
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/helpers/color_extension.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page_loading_indicator.dart
  packages/smooth_app/lib/resources/app_animations.dart
  packages/smooth_app/lib/widgets/smooth_banner.dart
Labels: 🥫 Product page, 🌐 l10n

#5951 chore: 5944 - systematically using "upToDateProduct"
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/product/product_image_swipeable_view.dart
Labels: 🥫 Product page, 📖 Knowledge panels, ✏️ Editing - Nutrition input, 🖼️ Photos - Photo manager, OCR page

#5956 chore: The loading product banner is always visible
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🥫 Product page

#5957 feat: The modal sheet for the 4 main photos with the date
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/clock.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page, 🌐 l10n

#5960 fix: osm_key duplicate column name
  packages/smooth_app/lib/database/dao_osm_location.dart
Labels: db migrations, database, Prices

#5965 fix: Harmonize folksonomy engine terminology with the Web
  packages/smooth_app/lib/l10n/app_en.arb
Labels: 🌐 l10n, folksonomy engine

#5971 fix: 5970 - SQLITE error "typo"
  packages/smooth_app/lib/database/dao_product.dart
Labels: database

#5972 feat: "Use photo as" according to the product type
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
Labels: 🧴 Open Beauty Facts, 🖼️ Photos - Photo manager, 📸 Open Products Facts, 🐾 Open Pet Food Facts, OxF

#5973 feat: upgrade to off-dart 3.18.0
  packages/smooth_app/lib/pages/locations/osm_location.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, 🧴 Open Beauty Facts, dependencies, 📸 Open Products Facts, 🐾 Open Pet Food Facts, OxF, Prices

#5968 fix: Image gallery language not selectable (+ too long AppBar title
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_tabs.dart
  packages/smooth_app/lib/widgets/smooth_app_bar.dart
Labels: 🥫 Product page
