Repository openfoodfacts/smooth-app, pull requests merged in 2025-08, with the labels that each got.

#6837 chore: Migration to Flutter 3.35.1
  .devcontainer/devcontainer.json
  flutter-version.txt
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/shared/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/ml_kit/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/scanner/zxing/pubspec.yaml
  packages/smooth_app/ios/Flutter/AppFrameworkInfo.plist
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/ios/Runner.xcodeproj/project.pbxproj
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_interactive_viewer.dart
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, dependencies, Prices, 🤳🥫 ZXing, 🖥️ MacOS

#6850 feat: 6847 - explicit "popularity" order for Hunger Games
  packages/smooth_app/lib/query/random_questions_query.dart
Labels: Hunger Games

#6858 chore: Fix Android build
  packages/smooth_app/android/app/build.gradle.kts
Labels: Android

#6864 feat: Product page: number of prices in the tab bar
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/product/product_page/header/product_page_tabs.dart
Labels: 🥫 Product page, Prices

#6867 fix: 6857 - explicitly no robotoff for traces
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_trace_helper.dart
Labels: 🥫 Product page
