Repository openfoodfacts/smooth-app, pull requests merged in 2025-02, with the labels that each got.

#6328 fix: Query params are lost with deep links
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
Labels: router

#6322 chore: Update `greenscore-f.svg`
  packages/smooth_app/assets/cache/green-score-f.svg
Labels: asset cache, Assets cache

#6309 feat: Don't force a product type with custom URLs (login/signup)
  packages/smooth_app/lib/data_models/login_result.dart
  packages/smooth_app/lib/data_models/user_management_provider.dart
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
  packages/smooth_app/lib/query/product_query.dart
Labels: 👥 User management

#6320 fix: Product edition UI improvements
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/gallery.svg
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/image_add.svg
  packages/smooth_app/assets/fonts/icons/image_check.svg
  packages/smooth_app/assets/fonts/icons/image_check_alt.svg
  packages/smooth_app/assets/fonts/icons/image_open.svg
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/widgets/languages_selector.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/helpers/collections_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_name.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_textfield.dart
  packages/smooth_app/lib/pages/product/edit_product/edit_product_footer.dart
  packages/smooth_app/lib/pages/product/edit_product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/lib/widgets/smooth_banner.dart
  packages/smooth_app/lib/widgets/smooth_explanation_banner.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing, ✏️ Editing - Nutrition input, 🖼️ Photos - Photo manager

#6318 feat: InteractiveViewer with double tap to zoom in/out
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_product_image_viewer.dart
  packages/smooth_app/lib/widgets/smooth_interactive_viewer.dart
Labels: 🥫 Product page

#6262 feat: Product page redesign
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_reorder_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/product_page/header/product_page_tabs.dart
  packages/smooth_app/lib/pages/product/product_page/header/reorder_bottom_sheet.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n, summary card, PR: needs rebase

#6332 chore: Revert "feat: Product page redesign"
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_reorder_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/product_page/header/product_page_tabs.dart
  packages/smooth_app/lib/pages/product/product_page/header/reorder_bottom_sheet.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n, summary card

#6324 feat: Help text for all fields
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_name.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_quantity.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_availability_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_size.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/widgets/smooth_explanation_banner.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing, ✏️ Editing - Nutrition input

#6344 feat: The user's country is suggested in Edit mode
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_button_with_arrow.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/image/product_image_widget.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/pages/onboarding/v2/onboarding_bottom_hills.dart
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector_provider.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/product/edit_product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/pages/product/product_list_helper.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_settings.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
  packages/smooth_app/lib/widgets/smooth_text.dart
Labels: 🥫 Product page, 🤗 Onboarding, 🌐 l10n, summary card, ✏️ Editing, ranking, 🖼️ Photos - Photo manager, Prices

#6333 ci: nutripatrol-labeler
  .github/labeler.yml
Labels: GitHub

#6346 fix: Nutrition facts: Use nutrition images from other languages
  packages/smooth_app/lib/pages/product/edit_product_image_viewer.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
Labels: ✏️ Editing - Nutrition input

#6343 feat: Add Mastodon, TikTok, and BlueSky social media accounts to links and update assets
  packages/smooth_app/assets/preferences/bluesky-logo.svg
  packages/smooth_app/assets/preferences/mastodon-logo.svg
  packages/smooth_app/assets/preferences/tiktok-logo.svg
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: 🌐 l10n

#6361 fix: 6249 - refresh of the prices of a product after a related price addition
  packages/smooth_app/lib/background/background_task_add_other_price.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_price.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/prices/product_price_refresher.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: Prices, 🔁 Background tasks

#6367 feat: App review in the scan card
  packages/smooth_app/assets/misc/tagline_0.svg
  packages/smooth_app/assets/misc/tagline_1.svg
  packages/smooth_app/assets/misc/tagline_2.svg
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/pages/app_review.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_settings.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/bottom_cards/news/scan_news_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/bottom_cards/news/scan_news_provider.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/bottom_cards/scan_app_review_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/bottom_cards/scan_bottom_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_main_card.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/top_card/scan_search_card.dart
  packages/smooth_app/lib/pages/scan/carousel/scan_carousel.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
Labels: 📈 Analytics, 👥 User management, 🌐 l10n, 🤳🥫 Scan, product scan carousel

#6355 fix: Infinite redraw in the gallery
  packages/smooth_app/lib/generic_lib/widgets/smooth_app_logo.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
Labels: 🥫 Product page, 🖼️ Photos - Photo manager, User lists

#6376 chore: Disable x86 build on Android
  .github/workflows/android-release-to-org-openfoodfacts-scanner.yml
Labels: GitHub

#6375 chore: Disable Impeller for Android devices
  packages/smooth_app/android/app/src/main/AndroidManifest.xml
Labels: Android

#6374 fix: ImageViewer fails with a semi-empty product
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/pages/product/edit_product_image_viewer.dart
Labels: 🥫 Product page

#6364 feat: Edit mode: swipe-back gesture + may exit for OCR pages
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/widgets/will_pop_scope.dart
Labels: 🥫 Product page, ✏️ Editing, ✏️ Editing - Nutrition input, OCR page

#6384 ci: Link to revert the perfect product if needed
  .github/workflows/update-assets.yml
Labels: GitHub

#6386 fix: Only set the product language on addition
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
Labels: 🥫 Product page

#6385 fix: Action bar handle on the edit page with incorrect size
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/edit_product/edit_product_footer.dart
Labels: 🍎 iOS, 🥫 Product page

#6378 fix: 6020 - disable automatic report of failed http connections
  packages/smooth_app/lib/helpers/analytics_helper.dart
Labels: 📈 Analytics

#6388 feat: 6104 - "eraser" feature for new images of "product" products
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/product_crop_helper.dart
  packages/smooth_app/lib/pages/proof_crop_helper.dart
Labels: ✏️ Editing, 📸 Open Products Facts, Prices, 🔁 Background tasks

#6394 feat: 6010 - shortcut to the price contribution assistant
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
Labels: 🌐 l10n

#6398 feat: 5411 - now uses nominatim location search if it looks like OSM type/id
  packages/smooth_app/lib/data_models/location_list_nominatim_supplier.dart
  packages/smooth_app/lib/data_models/location_list_photon_supplier.dart
  packages/smooth_app/lib/data_models/location_list_supplier.dart
  packages/smooth_app/lib/data_models/location_osm_type_extension.dart
  packages/smooth_app/lib/data_models/location_query_model.dart
  packages/smooth_app/lib/pages/locations/location_map_page.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
Labels: Prices

#6395 feat: 6017 - from proof page, show previously added prices
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_existing_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_existing_amount_field.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: Prices

#6304 feat: Added ability to export and import user product lists
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/all_product_list_modal.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_dev_mode.dart
  packages/smooth_app/lib/pages/product/common/product_list_helper.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies, 🌐 l10n, Data export

#6393 fix: corrupted app_en.arb file
  packages/smooth_app/lib/l10n/app_en.arb
Labels: 🌐 l10n
