Repository openfoodfacts/smooth-app, pull requests merged in 2025-03, with the labels that each got.

#6389 feat: Adding Robotoff Questions to product edition
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n, ✏️ Editing

#6406 Revert "feat: Adding Robotoff Questions to product edition"
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n, ✏️ Editing

#6366 feat: Added Robotoff nutrition extraction to nutrition edit page
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_sliver_card.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_container_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_switch.dart
  packages/smooth_app/lib/widgets/smooth_dropdown.dart
Labels: 🍎 iOS, 🥫 Product page, 📈 Analytics, 🌐 l10n, ✏️ Editing - Nutrition input, PR: needs rebase

#6191 feat: A valid product needs to have a photo (otherwise -> new)
  packages/smooth_app/lib/data_models/continuous_scan_model.dart
  packages/smooth_app/lib/data_models/fetched_product.dart
  packages/smooth_app/lib/pages/product/common/product_dialog_helper.dart
  packages/smooth_app/lib/pages/scan/carousel/scan_carousel.dart
  packages/smooth_app/lib/pages/search/search_product_helper.dart
Labels: 🥫 Product page, 🤳🥫 Scan, product scan carousel

#6399 feat: 5963 - store nutrient order and names in database
  packages/smooth_app/lib/pages/product/ordered_nutrients_cache.dart
  packages/smooth_app/pubspec.lock
Labels: 🥫 Product page

#6424 chore: Upgrade to off-dart 3.20
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/common/country_wiki_links.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies, ✏️ Editing - Nutrition input

#6438 fix: Swipe to refresh in ingredients sub-knowledge panel
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
Labels: 📖 Knowledge panels

#6401 feat: 5455 - new "data quality" link in "contribute" page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
Labels: 🌐 l10n

#6434 fix: 6425 - clean usage of nutriscore new icon in guide
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/guides/guide/guide_nutriscore_v2.dart
Labels: 🌐 l10n

#6387 feat: Food icons for the product page
  packages/smooth_app/assets/fonts/FoodIcons.ttf
  packages/smooth_app/assets/fonts/food_icons/additives.svg
  packages/smooth_app/assets/fonts/food_icons/celery.svg
  packages/smooth_app/assets/fonts/food_icons/config.json
  packages/smooth_app/assets/fonts/food_icons/crustaceans.svg
  packages/smooth_app/assets/fonts/food_icons/eggs.svg
  packages/smooth_app/assets/fonts/food_icons/fair_trade.svg
  packages/smooth_app/assets/fonts/food_icons/fat.svg
  packages/smooth_app/assets/fonts/food_icons/fish.svg
  packages/smooth_app/assets/fonts/food_icons/forest_footprint.svg
  packages/smooth_app/assets/fonts/food_icons/gluten.svg
  packages/smooth_app/assets/fonts/food_icons/lupin.svg
  packages/smooth_app/assets/fonts/food_icons/milk.svg
  packages/smooth_app/assets/fonts/food_icons/molluscs.svg
  packages/smooth_app/assets/fonts/food_icons/mustard.svg
  packages/smooth_app/assets/fonts/food_icons/nova_horizontal.svg
  packages/smooth_app/assets/fonts/food_icons/nuts.svg
  packages/smooth_app/assets/fonts/food_icons/organic_farming.svg
  packages/smooth_app/assets/fonts/food_icons/palm_oil.svg
  packages/smooth_app/assets/fonts/food_icons/peanuts.svg
  packages/smooth_app/assets/fonts/food_icons/salt.svg
  packages/smooth_app/assets/fonts/food_icons/saturated_fat.svg
  packages/smooth_app/assets/fonts/food_icons/sesame_seeds.svg
  packages/smooth_app/assets/fonts/food_icons/soybeans.svg
  packages/smooth_app/assets/fonts/food_icons/sugar.svg
  packages/smooth_app/assets/fonts/food_icons/sulphites.svg
  packages/smooth_app/assets/fonts/food_icons/vegan.svg
  packages/smooth_app/assets/fonts/food_icons/vegetarian.svg
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/pages/product/attribute_extensions.dart
  packages/smooth_app/lib/pages/product/attribute_icons.dart
  packages/smooth_app/lib/resources/app_food_icons.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies

#6433 fix: 6426 - remove items in comparisons from scan header
  packages/smooth_app/lib/pages/scan/scan_header.dart
Labels: 🤳🥫 Scan

#6408 feat: added some shortcut links in prices section
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
Labels: dependencies, 🌐 l10n, Prices, 🖥️ MacOS

#6467 fix: Added dynamic padding to reach Sign Up button and Create Account button with the keyboard open
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 👥 User management

#6455 fix: updated new nutri score page labels
  packages/smooth_app/lib/l10n/app_en.arb
Labels: 🌐 l10n, 🚥 Nutri-Score, Nutri-Score v2

#6472 feat: added shortcut link for community calendar (closes #5536)
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_connect.dart
Labels: 🌐 l10n

#6477 fix: Fixed negative amount issue
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
Labels: Prices, 🖥️ MacOS

#6492 docs: Update README.md with sketch link
  README.md
Labels: 📚 Documentation

#6498 fix: language filter to include English names
  packages/smooth_app/lib/pages/preferences/language_selector/language_selector.dart
Labels: languages

#6496 fix: 6494 - removed "experimental" effects from prices card
  packages/smooth_app/lib/pages/prices/prices_card.dart
Labels: Prices
