Repository openfoodfacts/smooth-app, pull requests merged in 2025-06, with the labels that each got.

#6637 chore: allow me to launch internal release
  .github/workflows/internal-release.yml
Labels: GitHub

#6418 feat: Added Matomo event for producers signups from the app
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 📈 Analytics, 👥 User management

#6552 feat: 5553 - add prices for category products
  packages/smooth_app/lib/background/background_task_add_other_price.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_price.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_model.dart
  packages/smooth_app/lib/pages/prices/price_category_input_page.dart
  packages/smooth_app/lib/pages/prices/price_existing_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_existing_amount_field.dart
  packages/smooth_app/lib/pages/prices/price_meta_product.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_per_extension.dart
  packages/smooth_app/lib/pages/prices/price_product_list_tile.dart
  packages/smooth_app/lib/widgets/smooth_dropdown.dart
Labels: 🌐 l10n, ✏️ Editing, Prices, 🔁 Background tasks, autocomplete

#6356 feat: Redesign the product page to integrate tabs - M2
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/product_page/header/product_page_tabs.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n

#6653 feat: 6523 - upgrade to l10n_countries
  packages/smooth_app/lib/pages/preferences/country_selector/country.dart
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector.dart
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector_provider.dart
  packages/smooth_app/lib/pages/preferences/language_selector/language_selector_provider.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_helpers.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, dependencies, blocking flutter upgrade

#6656 fix: 6654 - clean "delete" button for prices
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_product_list_tile.dart
Labels: Prices
