Repository openfoodfacts/smooth-app, pull requests merged in 2025-09, with the labels that each got.

#6880 fix: more verbose failing image background operations
  packages/smooth_app/lib/background/background_crop_result.dart
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/background/background_task_crop.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
Labels: 🖼️ Photos - Cropping, Prices, 🔁 Background tasks

#6951 fix: First wave of preferences fixes to address #6920
  packages/smooth_app/lib/generic_lib/widgets/app_bars/logged_in/all_statistics_button.dart
  packages/smooth_app/lib/pages/preferences_v2/cards/headers/new_nutriscore_header.dart
  packages/smooth_app/lib/pages/preferences_v2/cards/preference_card.dart
  packages/smooth_app/lib/pages/preferences_v2/preferences_page.dart
  packages/smooth_app/lib/pages/preferences_v2/roots/contributions_root.dart
  packages/smooth_app/lib/pages/preferences_v2/roots/faq_root.dart
  packages/smooth_app/lib/pages/preferences_v2/roots/preferences_root.dart
  packages/smooth_app/lib/pages/preferences_v2/roots/prices_root.dart
  packages/smooth_app/lib/pages/preferences_v2/tiles/preference_tile.dart
  packages/smooth_app/lib/pages/preferences_v2/tiles/square_preference_tile.dart
  packages/smooth_app/lib/pages/preferences_v2/tiles/toggle_preference_tile.dart
  packages/smooth_app/lib/pages/preferences_v2/tiles/url_preference_tile.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/top_card/scan_search_card.dart
  packages/smooth_app/lib/pages/search/search_field.dart
  packages/smooth_app/lib/widgets/smooth_switch.dart
Labels: 🤳🥫 Scan

#6985 feat: 6955 - price location is now null by default
  packages/smooth_app/lib/pages/prices/price_add_helper.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/proof_bulk_add_page.dart
Labels: Prices

#6983 fix: 6962 - manual refresh of pages of products instead of all at once
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
Labels: 🥫 Product page, User lists

#6995 fix: 6946 - Fix dark mode icon color in food preferences, update .fvmrc
  .fvmrc
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: ⚙️🥗 Food preferences
