Repository openfoodfacts/smooth-app, pull requests merged in 2025-10, with the labels that each got.

#6999 fix: 6984 - Correct contribution count in products added title
  packages/smooth_app/lib/pages/preferences_v2/roots/contributions_root.dart
Labels: 🌐 l10n

#7001 fix: 6937 - use "Smooth" scaffold for "Hunger Games"
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
Labels: Hunger Games

#6996 chore: package upgrades
  packages/smooth_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/smooth_app/android/settings.gradle.kts
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: Android, dependencies

#7021 feat: 7017 - top products goes to price product page
  packages/smooth_app/lib/pages/prices/prices_products_page.dart
Labels: Prices

#7026 ci: Add reactions to comments in on-demand workflow
  .github/workflows/on-demand.yml
Labels: GitHub
