Repository openfoodfacts/smooth-app, pull requests merged in 2025-05, with the labels that each got.

#6525 fix: Removed the option to add an item through barcode from Add a Price page
  packages/smooth_app/lib/pages/prices/price_model.dart
  packages/smooth_app/lib/pages/prices/price_proof_page.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/prices/proof_bulk_add_page.dart
Labels: 🥫 Product page, Prices

#6576 fix: dark mode issue in feedback page
  packages/smooth_app/lib/pages/scan/carousel/main_card/bottom_cards/scan_app_review_card.dart
Labels: 🤳🥫 Scan

#6509 fix: UI padding for better layout
  packages/smooth_app/lib/pages/preferences/user_preferences_page.dart
Labels: Prices, 🤳🥫 ZXing

#6505 feat: add properties (Folksonomy Engine) button to navbar
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/add_property.svg
  packages/smooth_app/assets/fonts/icons/add_property_alt.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/remove.svg
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_page.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_add_product_properties.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_settings.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page, navigation, folksonomy engine

#6452 feat: add packaging photo access in packaging components screen
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
Labels: 🥫 Product page, ✏️ Editing - 📦 Packaging input

#6579 feat: Improvements for Robotoff questions in Edit mode
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/generic_lib/buttons/smooth_boolean_button.dart
  packages/smooth_app/lib/helpers/haptic_feedback_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/hunger_games/question_image_full_page.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_thumbnail.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
  packages/smooth_app/lib/pages/product/add_simple_input_button.dart
  packages/smooth_app/lib/pages/product/attribute_first_row_helper.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings_component.dart
  packages/smooth_app/lib/pages/product/edit_product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/product_incomplete_card.dart
  packages/smooth_app/lib/pages/product/simple_input/list/simple_input_list.dart
  packages/smooth_app/lib/pages/product/simple_input/list/simple_input_list_item.dart
  packages/smooth_app/lib/pages/product/simple_input/list/simple_input_list_robotoff_suggestions.dart
  packages/smooth_app/lib/pages/product/simple_input/list/simple_input_list_suggestions.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_trace_helper.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_widget.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/resources/app_animations.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, 🥫 Product page, 📖 Knowledge panels, dependencies, 🌐 l10n, 🛣️ Road to scores

#6570 ci: Create one-check.yml
  .github/workflows/one-check.yml
  packages/smooth_app/lib/l10n/app_da.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/l10n/app_he.arb
  packages/smooth_app/lib/l10n/app_pl.arb
  packages/smooth_app/lib/l10n/app_ro.arb
Labels: GitHub, 🌐 l10n

#6573 fix: 6560 - explicit readyForPriceTagValidation parameter for proof upload
  packages/smooth_app/lib/background/background_task_add_price.dart
  packages/smooth_app/lib/pages/prices/prices_stats_page.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, Prices, 🔁 Background tasks

#6585 chore: UI/UX for Robotoff suggestions improved
  packages/smooth_app/assets/animations/off.riv
  packages/smooth_app/lib/helpers/ui_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input/list/simple_input_list.dart
  packages/smooth_app/lib/pages/product/simple_input/list/suggestions/list_suggestions.dart
  packages/smooth_app/lib/pages/product/simple_input/list/suggestions/robotoff/robotoff_suggestion_item_button.dart
  packages/smooth_app/lib/pages/product/simple_input/list/suggestions/robotoff/robotoff_suggestion_item_picture.dart
  packages/smooth_app/lib/pages/product/simple_input/list/suggestions/robotoff/robotoff_suggestions_item.dart
  packages/smooth_app/lib/pages/product/simple_input/list/suggestions/robotoff/robotoff_suggestions_list.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_widget.dart
  packages/smooth_app/lib/widgets/auto_scale_widget.dart
Labels: 🥫 Product page

#6561 feat: Add infinite scrolling to the various Open Prices ListViews.
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/infinite_scroll_list.dart
  packages/smooth_app/lib/pages/prices/infinite_scroll_manager.dart
  packages/smooth_app/lib/pages/prices/prices_locations_page.dart
  packages/smooth_app/lib/pages/prices/prices_products_page.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: 🌐 l10n, Prices

#6594 chore: Update README.md
  README.md
Labels: 📚 Documentation

#6466 fix: New UI for the food preferences
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_attribute_group.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_food.dart
  packages/smooth_app/lib/pages/product/attribute_extensions.dart
  packages/smooth_app/lib/widgets/attribute_button.dart
Labels: 🥫 Product page, ⚙️🥗 Food preferences

#6600 fix: Hotfixes on 4.20.0
  packages/smooth_app/lib/generic_lib/widgets/languages_selector.dart
  packages/smooth_app/lib/pages/guides/helpers/guides_content.dart
  packages/smooth_app/lib/pages/prices/infinite_scroll_manager.dart
  packages/smooth_app/lib/pages/product/attribute_icons.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🥫 Product page, summary card

#6593 chore: Adding fvm support to ease the use of Flutter 3.27
  .fvmrc
  .gitignore
  .vscode/settings.json
  README.md
Labels: 📚 Documentation

#6623 fix: Nutrition extract missing nutrients and traces
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_container_helper.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#6625 fix: 6616 - format robotoff extraction as acceptable numeric value
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#6620 fix: 6587 - fine tuning about prices infinite scrolling
  packages/smooth_app/lib/pages/prices/infinite_scroll_list.dart
  packages/smooth_app/lib/pages/prices/infinite_scroll_manager.dart
  packages/smooth_app/lib/pages/prices/prices_locations_page.dart
  packages/smooth_app/lib/pages/prices/prices_users_page.dart
Labels: Prices
