Repository openfoodfacts/smooth-app, pull requests merged in 2025-04, with the labels that each got.

#6516 fix: adjust padding logic in product image gallery layout
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
Labels: 🖼️ Photos - Photo manager

#6521 feat: Food icons with NOVA groups
  packages/smooth_app/assets/fonts/FoodIcons.ttf
  packages/smooth_app/assets/fonts/food_icons/config.json
  packages/smooth_app/assets/fonts/food_icons/nova_1.svg
  packages/smooth_app/assets/fonts/food_icons/nova_2.svg
  packages/smooth_app/assets/fonts/food_icons/nova_3.svg
  packages/smooth_app/assets/fonts/food_icons/nova_4.svg
  packages/smooth_app/lib/helpers/attributes_card_helper.dart
  packages/smooth_app/lib/pages/product/attribute_icons.dart
  packages/smooth_app/lib/resources/app_food_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page

#6520 chore: Upgrade Sentry to 8.14.1
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, dependencies, 🖥️ MacOS

#6533 fix: issue where very important nutrient does not appear at all in the preview
  packages/smooth_app/lib/pages/product/summary_card.dart
Labels: 🥫 Product page, summary card

#6547 fix: Null check operator used on a null
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
Labels: Prices

#6548 docs: README refresh
  README.md
Labels: 📚 Documentation

#6495 feat: 4679 - added a way to edit traces
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/data_models/up_to_date_changes.dart
  packages/smooth_app/lib/helpers/analytics_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/edit_product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_trace_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/query/product_query.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🥫 Product page, 📈 Analytics, dependencies, 🌐 l10n, ✏️ Editing

#6486 feat: 6289 - faster bulk proof upload without cropping
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_helper.dart
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/crop_parameters.dart
  packages/smooth_app/lib/pages/prices/eraser_model.dart
  packages/smooth_app/lib/pages/prices/price_bulk_proof_card.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/proof_bulk_add_page.dart
Labels: 🌐 l10n, 🖼️ Photos - Cropping, Prices

#6558 feat: add shortcut to GDPR requests Wikipage in Prices screen
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
Labels: 🌐 l10n

#6553 feat: Added stats view to the prices
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
  packages/smooth_app/lib/pages/prices/prices_stats_page.dart
Labels: 🌐 l10n, Prices

#6563 fix: design promo
  README.md
Labels: 📚 Documentation

#6564 fix: Update plural formatting in localization files for Greek and Dutch
  packages/smooth_app/lib/l10n/app_el.arb
  packages/smooth_app/lib/l10n/app_nl.arb
Labels: 🌐 l10n

#6407 feat: Adding Robotoff Questions to product edition
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/generic_lib/buttons/smooth_boolean_button.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_icon_button.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🍎 iOS, 🥫 Product page, 🌐 l10n, ✏️ Editing, 🤖 Robotoff

#5717 ci: dartdoc + mkdocs
  .github/workflows/dartdoc.yml
  packages/smooth_app/README.md
  packages/smooth_app/mkdocs.yml
Labels: 📚 Documentation, GitHub

#6555 fix: Move Hunger Games to a real view instead of overlay (#4681)
  packages/smooth_app/lib/pages/hunger_games/question_card.dart
  packages/smooth_app/lib/pages/hunger_games/question_image_thumbnail.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_contribute.dart
  packages/smooth_app/lib/pages/product/product_questions_widget.dart
Labels: 🥫 Product page, 🤖 Robotoff, Hunger Games
