Repository openfoodfacts/smooth-app, pull requests merged in 2025-01, with the labels that each got.

#6095 chore: Minor UI changes
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/clear.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/scan/scan_header.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: 🤳🥫 Scan, 🖼️ Photos - Cropping, Prices

#6100 chore: 3 Providers lazy loaded
  packages/smooth_app/lib/main.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/test/tests_utils/mocks.dart
Labels: 🤗 Onboarding, performance, 🧪 Tests

#6107 chore: Upgrade project dependencies
  packages/app_store/apple_app_store/pubspec.yaml
  packages/app_store/google_play/pubspec.yaml
  packages/app_store/uri_store/pubspec.yaml
  packages/scanner/shared/pubspec.yaml
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
  packages/smooth_app/windows/flutter/generated_plugin_registrant.cc
  packages/smooth_app/windows/flutter/generated_plugins.cmake
Labels: 🍎 iOS, dependencies, 🖥️ MacOS

#6115 feat: Ingredients edition with tabs
  packages/smooth_app/lib/pages/product/edit_language_tabbar.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_tabbar.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_tabs.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
  packages/smooth_app/lib/widgets/smooth_tabbar.dart
Labels: 🥫 Product page, 🖼️ Photos - Photo manager, OCR page

#6038 fix: 5933 - less greedy language refresh
  packages/smooth_app/lib/background/background_task_language_refresh.dart
  packages/smooth_app/lib/background/operation_type.dart
  packages/smooth_app/lib/database/dao_product.dart
  packages/smooth_app/lib/pages/offline_tasks_page.dart
Labels: database, 🔁 Background tasks

#6113 feat: Better management of selectable texts on the product page
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/smooth_html_widget.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#6118 chore(deps): bump connectivity_plus from 5.0.2 to 6.1.1
  packages/smooth_app/ios/Podfile.lock
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/smooth_app/macos/Podfile.lock
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: 🍎 iOS, 🥫 Product page, dependencies, 🖥️ MacOS

#6127 fix: 5 bugfixes (icons color, better network mgmt / Japanese…)
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/pages/prices/price_button.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: 📖 Knowledge panels, 🤳🥫 Scan, 📖 Knowledge panels - Table widget, Prices

#6132 feat: UI improvements for the edit mode
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/add_other_details_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing, autocomplete

#6126 chore: Minor onboarding improvements
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
  packages/smooth_app/lib/pages/onboarding/next_button.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_bottom_bar.dart
Labels: 🤗 Onboarding

#6133 fix: Disable text selection on the scan card
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/pages/product/summary_card.dart
  packages/smooth_app/lib/pages/scan/scan_product_card.dart
Labels: 🥫 Product page, summary card, 🤳🥫 Scan

#6146 feat: Minor improvements for the KP World Map
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/world_map_page.dart
Labels: 🥫 Product page, 📖 Knowledge panels, 🌐 l10n, 📖 Knowledge panels - Map widget

#6157 feat: Add the upload indicator to the edit page
  packages/smooth_app/lib/helpers/provider_helper.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page_loading_indicator.dart
  packages/smooth_app/lib/widgets/smooth_banner.dart
Labels: 🥫 Product page, ✏️ Editing

#6158 fix: Store locator: Fav icon not being updated immediately
  packages/smooth_app/lib/pages/locations/favorite_location_helper.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/locations/search_location_preloaded_item.dart
Labels: Prices

#6143 feat: Remove the onboarding consent page
  packages/smooth_app/assets/onboarding/analytics.svg
  packages/smooth_app/lib/data_models/onboarding_loader.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/onboarding/consent_analytics_page.dart
  packages/smooth_app/lib/pages/onboarding/onboarding_flow_navigator.dart
  packages/smooth_app/lib/pages/onboarding/permissions_page.dart
  packages/smooth_app/lib/pages/onboarding/reinvention_page.dart
  packages/smooth_app/lib/themes/theme_provider.dart
Labels: 🤗 Onboarding, 📈 Analytics, 🌐 l10n

#6161 feat: New UI for history/search lists
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-not-applicable-new-nl.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-de.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-en.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-fr.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-lb.svg
  packages/smooth_app/assets/cache/nutriscore-unknown-new-nl.svg
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_template.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/widgets/picture_not_found.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_app_logo.dart
  packages/smooth_app/lib/helpers/product_compatibility_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_simple.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/scan/carousel/main_card/scan_tagline.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/widgets/smooth_cliprrect.dart
  packages/smooth_app/lib/widgets/smooth_expandable_floating_action_button.dart
  packages/smooth_app/lib/widgets/smooth_menu_button.dart
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Improving-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Software development-light.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-amoled.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-dark.png
  packages/smooth_app/test/dialogs/generic_lib/goldens/user_preferences_page_dialogs_Translate-light.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-amoled.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-dark.png
  packages/smooth_app/test/pages/goldens/user_preferences_page-light.png
  packages/smooth_app/test/users/goldens/forgot_password_page-amoled.png
  packages/smooth_app/test/users/goldens/forgot_password_page-dark.png
  packages/smooth_app/test/users/goldens/forgot_password_page-light.png
  packages/smooth_app/test/users/goldens/login_page-amoled.png
  packages/smooth_app/test/users/goldens/login_page-dark.png
  packages/smooth_app/test/users/goldens/login_page-light.png
  packages/smooth_app/test/users/goldens/signup_page-amoled.png
  packages/smooth_app/test/users/goldens/signup_page-dark.png
  packages/smooth_app/test/users/goldens/signup_page-light.png
Labels: 🥫 Product page, 🌐 l10n, ranking, 🤳🥫 Scan, asset cache, goldens, User lists, Assets cache

#6170 fix: Language selector + ingredients (text field + outdated)
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/edit_language_tabbar.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_textfield.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/widgets/v2/smooth_buttons_bar.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing

#6171 feat: Add price with the "Edit UI"
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_currency_card.dart
  packages/smooth_app/lib/pages/prices/price_date_card.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: Prices

#6169 refactor: Replace all `Snackbar` by `SmoothFloatingSnackbar`
  packages/smooth_app/lib/generic_lib/widgets/smooth_snackbar.dart
  packages/smooth_app/lib/pages/offline_data_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_rate_us.dart
  packages/smooth_app/lib/pages/product/common/product_list_item_popup_items.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/pages/product/common/product_refresher.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
  packages/smooth_app/lib/pages/search/search_history_view.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, User lists

#6168 fix: Update app_en.arb
  packages/smooth_app/lib/l10n/app_en.arb
Labels: 🌐 l10n

#6167 feat: Brands edition in a list + reorderable items
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing, ✏️ Editing - Basic info input

#6163 feat: 3 variants for the `PictureNotFound` Widget
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/README.md
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/milk_add.svg
  packages/smooth_app/assets/fonts/icons/thumbnail.png
  packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart
  packages/smooth_app/lib/generic_lib/widgets/picture_not_found.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page, OCR page

#6180 feat: Edit page: new UI + clickable barcode + open on website
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_snackbar.dart
  packages/smooth_app/lib/helpers/border_radius_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/edit_product_barcode.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing

#6175 fix: Harmonize owner field icon + bugfixes
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_textfield.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_text_field.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 🥫 Product page, 👥 User management, ✏️ Editing, ✏️ Editing - Basic info input, autocomplete

#6184 feat: KP visual enhancements (titles, chips, text buttons…)
  packages/smooth_app/lib/cards/data_cards/score_card.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_large_button_with_icon.dart
  packages/smooth_app/lib/generic_lib/buttons/smooth_simple_button.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_factory.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_fake_button.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_marker_chip.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_marker_decimal.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_widget.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_back_button.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_list_tile_card.dart
  packages/smooth_app/lib/helpers/extension_on_text_helper.dart
  packages/smooth_app/lib/helpers/image_field_extension.dart
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_action_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_expanded_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_group_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_product_cards.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_title_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/folksonomy/folksonomy_card.dart
  packages/smooth_app/lib/pages/html_page.dart
  packages/smooth_app/lib/pages/hunger_games/question_page.dart
  packages/smooth_app/lib/pages/locations/location_query_page.dart
  packages/smooth_app/lib/pages/navigator/error_page.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/preferences/abstract_user_preferences.dart
  packages/smooth_app/lib/pages/prices/price_add_product_card.dart
  packages/smooth_app/lib/pages/prices/price_currency_selector.dart
  packages/smooth_app/lib/pages/prices/price_date_card.dart
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
  packages/smooth_app/lib/pages/prices/prices_card.dart
  packages/smooth_app/lib/pages/product/add_new_product_helper.dart
  packages/smooth_app/lib/pages/product/common/product_query_page.dart
  packages/smooth_app/lib/pages/product/edit_new_packagings.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_textfield.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
  packages/smooth_app/lib/pages/product/product_loader_page.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/search/search_field.dart
  packages/smooth_app/lib/themes/constant_icons.dart
Labels: 🥫 Product page, 📖 Knowledge panels, 🌐 l10n, ✏️ Editing, 🖼️ Photos - Photo manager, 📖 Knowledge panels - Table widget, ✏️ Editing - 📦 Packaging input, Prices, 📖 Knowledge panels - Map widget

#6185 feat: 4 bugfixes (URLs, language selector icon & unknown lng)
  packages/smooth_app/lib/generic_lib/widgets/language_selector.dart
  packages/smooth_app/lib/pages/product/edit_language_tabbar.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_share.dart
Labels: 🥫 Product page, ✏️ Editing

#6188 chore: Bump Xcode version
  packages/smooth_app/ios/fastlane/Fastfile
Labels: 🍎 iOS

#6187 fix: Share message with OxF support
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer_share.dart
Labels: 🥫 Product page

#6186 feat: Ingredients: Pinch-to-zoom explanations + better error management
  packages/smooth_app/assets/animations/explanations.riv
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/assets/fonts/icons/pinch_to_zoom.svg
  packages/smooth_app/lib/generic_lib/widgets/picture_not_found.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page, 🌐 l10n

#6193 chore: Unblock iOS build by using macos-15
  .github/workflows/ios-release-to-org-openfoodfacts-scanner.yml
Labels: GitHub

#6192 feat: "Quit without saving?" in a modal sheet
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/may_exit_page_helper.dart
Labels: 🥫 Product page, 🌐 l10n

#6190 feat: Less annoying floating spam
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_image.dart
  packages/smooth_app/lib/background/background_task_price.dart
  packages/smooth_app/lib/background/background_task_unselect.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/lib/pages/product/edit_product_page.dart
  packages/smooth_app/lib/widgets/smooth_banner.dart
  packages/smooth_app/lib/widgets/smooth_floating_message.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing, 🔁 Background tasks, router

#6194 feat: Folksonomy Editor (updated UI, modal sheet…)
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/folksonomy/folksonomy_card.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_create_edit_modal.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_page.dart
  packages/smooth_app/lib/pages/folksonomy/folksonomy_provider.dart
  packages/smooth_app/lib/widgets/smooth_menu_button.dart
  packages/smooth_app/lib/widgets/v2/smooth_buttons_bar.dart
  packages/smooth_app/lib/widgets/v2/smooth_topbar2.dart
Labels: 🌐 l10n

#6199 fix: 2 bugfixes (brand not removable + minor issue)
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/may_exit_page_helper.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
Labels: 🥫 Product page, ✏️ Editing, ✏️ Editing - Basic info input

#6200 feat: Add new product page: header from V2 + bugfix
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_new_product/add_new_product_page.dart
  packages/smooth_app/lib/widgets/v2/smooth_topbar2.dart
Labels: 🥫 Product page, 🌐 l10n

#6202 fix: Fix issues with the menu on lists
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_world_map_card.dart
  packages/smooth_app/lib/pages/personalized_ranking_page.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/widgets/smooth_menu_button.dart
Labels: 🥫 Product page, 📖 Knowledge panels, User lists, 📖 Knowledge panels - Map widget

#6210 feat: iOS dark icon with gradient background
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/white_icon-1024.png
Labels: 🍎 iOS

#6212 chore: Bump Flutter version to 3.27.2
  flutter-version.txt
  packages/smooth_app/pubspec.yaml
Labels: dependencies

#6203 feat: Editable brands
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/pages/text_field_helper.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing

#6218 feat: Nutrition page (auto-focus on new fields + owner field)
  packages/smooth_app/lib/pages/product/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page_loaded.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input

#6222 chore: Improve translations
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/l10n/app_he.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_lt.arb
  packages/smooth_app/lib/l10n/app_nl.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_uk.arb
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing

#6217 feat: Use a local cache (storage) for front pictures
  packages/smooth_app/lib/database/transient_file.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: images, dependencies, database, caching

#6228 feat: Allow to retake a picture from the crop page
  packages/smooth_app/assets/fonts/SmoothIcons.ttf
  packages/smooth_app/assets/fonts/icons/camera_restart.svg
  packages/smooth_app/assets/fonts/icons/config.json
  packages/smooth_app/assets/fonts/icons/icons.sketch
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/crop_page.dart
  packages/smooth_app/lib/pages/image_crop_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_details_banner.dart
  packages/smooth_app/lib/resources/app_icons.dart
  packages/smooth_app/lib/resources/app_icons_font.dart
Labels: 🥫 Product page, 🌐 l10n, 🖼️ Photos - Cropping

#6231 feat: Same layout between country/language pickers (settings)
  packages/smooth_app/lib/generic_lib/widgets/languages_selector.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/onboarding/welcome_page.dart
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector.dart
  packages/smooth_app/lib/pages/preferences/country_selector/country_selector_provider.dart
  packages/smooth_app/lib/pages/preferences/language_selector/language_selector.dart
  packages/smooth_app/lib/pages/preferences/language_selector/language_selector_provider.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_country_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_currency_selector.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_language_selector.dart
  packages/smooth_app/lib/pages/product/edit_language_tabbar.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
  packages/smooth_app/lib/pages/product/product_image_viewer.dart
  packages/smooth_app/lib/widgets/selector_screen/smooth_screen_list_choice.dart
  packages/smooth_app/lib/widgets/selector_screen/smooth_screen_selector_provider.dart
Labels: ⚙️ Settings, 🥫 Product page, 🤗 Onboarding, 🌐 l10n

#6233 feat: Snackbar action button with a different background color
  packages/smooth_app/lib/generic_lib/widgets/smooth_snackbar.dart
  packages/smooth_app/lib/pages/product/common/product_list_page.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
Labels: 🥫 Product page, User lists

#6234 fix: Nutrition facts KP: toggle per 100g/serving
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
Labels: 📖 Knowledge panels, 📖 Knowledge panels - Table widget

#6236 feat: Tagline: support "min_launches" attribute
  packages/smooth_app/lib/data_models/news_feed/newsfeed_json.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_model.dart
  packages/smooth_app/lib/data_models/news_feed/newsfeed_provider.dart
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
Labels: tagline

#6238 feat: A modal sheet for price proof selector
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/pages/prices/price_proof_card.dart
Labels: Prices

#6240 feat: Portion calculator detached from nutrition facts
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_table_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/portion_calculator.dart
  packages/smooth_app/lib/widgets/smooth_circle.dart
Labels: 🥫 Product page, 📖 Knowledge panels, 🌐 l10n, 📖 Knowledge panels - Table widget

#6211 feat: Use a WebView for OFF links
  packages/smooth_app/lib/generic_lib/html/smooth_html_factory.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_widget.dart
  packages/smooth_app/lib/helpers/launch_url_helper.dart
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_text_card.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/navigator/app_navigator.dart
  packages/smooth_app/lib/pages/navigator/external_page.dart
  packages/smooth_app/lib/pages/navigator/external_page_webview.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_faq.dart
Labels: 🌐 l10n, router

#6229 feat: Add infos about the photo in the modal sheet (gallery)
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_details_banner.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
Labels: 🥫 Product page, 🌐 l10n, 🖼️ Photos - Cropping, 🖼️ Photos - Photo manager

#6239 feat: Prices: change currency if location has a different one
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/price_location_card.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: 🌐 l10n, Prices

#6253 feat: Alert modal sheet component
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/product/may_exit_page_helper.dart
Labels: 🥫 Product page, Prices

#6250 fix: Save & restore when leaving an edit page
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page.dart
  packages/smooth_app/lib/pages/product/simple_input_page_helpers.dart
Labels: 🥫 Product page, ✏️ Editing, ✏️ Editing - Basic info input

#6251 fix: Hide more interesting photo if nothing is available
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_view.dart
Labels: 🥫 Product page, 🌐 l10n, 🖼️ Photos - Photo manager

#6213 feat: Convert Privacy warning to bottom sheet
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: 🌐 l10n, bottom sheets, Prices

#6268 feat: Knowledge panel page: shortcuts to edit mode
  packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_page.dart
  packages/smooth_app/lib/l10n/app_en.arb
Labels: 📖 Knowledge panels, 🌐 l10n

#6270 feat: Improved nutrition input (part 2)
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_sliver_card.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/helpers/pinch_to_zoom_indicator.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_add_nutrient_button.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_availability_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_facts_editor.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_image_viewer.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_size.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_switch.dart
  packages/smooth_app/lib/themes/smooth_theme.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
  packages/smooth_app/lib/widgets/smooth_dropdown.dart
Labels: 🥫 Product page, ✏️ Editing - Nutrition input, OCR page

#6278 fix: Fix onboarding SafeArea
  packages/smooth_app/lib/pages/onboarding/knowledge_panel_page_template.dart
Labels: 🤗 Onboarding

#6288 fix: Themed icon for iOS
  packages/smooth_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/tinted_icon-1024.png
Labels: 🍎 iOS

#5697 ci: Update release-please.yml
  .github/workflows/release-please.yml
Labels: GitHub

#6287 fix: 6281 LateError: LateInitializationError
  .github/labeler.yml
  packages/smooth_app/lib/generic_lib/widgets/smooth_card.dart
  packages/smooth_app/lib/generic_lib/widgets/smooth_text_form_field.dart
  packages/smooth_app/lib/helpers/paint_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_it.arb
  packages/smooth_app/lib/l10n/app_nl.arb
  packages/smooth_app/lib/l10n/app_pt.arb
  packages/smooth_app/lib/l10n/app_uk.arb
  packages/smooth_app/lib/pages/input/debounced_text_editing_controller.dart
  packages/smooth_app/lib/pages/input/smooth_autocomplete_text_field.dart
  packages/smooth_app/lib/pages/preferences/user_preferences_widgets.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_name.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details_page.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_product_barcode.dart
  packages/smooth_app/lib/pages/product/edit_product_image_viewer.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/owner_field_info.dart
  packages/smooth_app/lib/pages/product/product_field_editor.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
Labels: 🥫 Product page, GitHub, 🌐 l10n, ✏️ Editing, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, autocomplete

#6286 feat: Multi-lingual input for product name + help banner
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_marker_chip.dart
  packages/smooth_app/lib/generic_lib/html/smooth_html_marker_decimal.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_name.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_textfield.dart
  packages/smooth_app/lib/pages/product/nutrition_page/nutrition_page.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_availability_container.dart
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_size.dart
  packages/smooth_app/lib/pages/product/product_page/footer/new_product_footer.dart
  packages/smooth_app/lib/pages/product/simple_input_widget.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
  packages/smooth_app/lib/widgets/smooth_explanation_banner.dart
  packages/smooth_app/pubspec.lock
Labels: 🥫 Product page, GitHub, 🌐 l10n, ✏️ Editing, ✏️ Editing - Nutrition input, ✏️ Editing - Basic info input, Prices, autocomplete

#6291 fix: Per 100g -> Per 100g/100ml
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/l10n/app_fr.arb
  packages/smooth_app/lib/pages/product/nutrition_page/widgets/nutrition_serving_switch.dart
Labels: 🥫 Product page, 🌐 l10n, ✏️ Editing - Nutrition input

#6298 feat: Use the photo banner for all photos + OCR pages
  packages/smooth_app/lib/helpers/product_cards_helper.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/image/product_image_gallery_other_view.dart
  packages/smooth_app/lib/pages/image/product_image_other_page.dart
  packages/smooth_app/lib/pages/product/common/product_picture_banner.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_image.dart
  packages/smooth_app/lib/pages/product/edit_ocr/edit_ocr_page.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
Labels: 🥫 Product page, 🌐 l10n, 🖼️ Photos - Photo manager, OCR page

#6297 feat: When an image is unavailable -> find in another language
  packages/smooth_app/lib/cards/product_cards/product_title_card.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_card_found.dart
  packages/smooth_app/lib/cards/product_cards/smooth_product_image.dart
  packages/smooth_app/lib/pages/product/gallery_view/product_image_gallery_photo_row.dart
Labels: 🥫 Product page

#6299 fix: Autofill: Some fixes for login/signup pages
  packages/smooth_app/lib/pages/user_management/login_page.dart
  packages/smooth_app/lib/pages/user_management/sign_up_page.dart
Labels: 👥 User management

#6316 feat: Languages selector in a modal sheet
  packages/smooth_app/lib/data_models/preferences/user_preferences.dart
  packages/smooth_app/lib/generic_lib/bottom_sheets/smooth_bottom_sheet.dart
  packages/smooth_app/lib/generic_lib/widgets/language_priority.dart
  packages/smooth_app/lib/generic_lib/widgets/languages_selector.dart
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/product/add_basic_details/add_basic_details_name.dart
  packages/smooth_app/lib/pages/product/edit_language_tabbar.dart
  packages/smooth_app/lib/pages/product/multilingual_helper.dart
Labels: 🥫 Product page, 🌐 l10n

#6310 feat: 5988 - new "top price products" page
  packages/smooth_app/lib/l10n/app_en.arb
  packages/smooth_app/lib/pages/preferences/user_preferences_prices.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/prices_products_page.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/pubspec.lock
  packages/smooth_app/pubspec.yaml
Labels: dependencies, 🌐 l10n, Prices
