Repository openfoodfacts/smooth-app, pull requests merged in 2025-07, with the labels that each got.

#6705 fix: 6701 - correct price list from product page
  packages/smooth_app/lib/pages/prices/infinite_scroll_manager.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
Labels: Prices

#6712 fix: Product page status bar color
  packages/smooth_app/lib/pages/product/product_page/new_product_header.dart
  packages/smooth_app/lib/pages/product/product_page/new_product_page.dart
Labels: 🥫 Product page

#6715 feat: Indicator color for Health and Environment tabs
  packages/smooth_app/lib/knowledge_panel/knowledge_panels_builder.dart
  packages/smooth_app/lib/pages/product/product_page/header/product_page_tabs.dart
  packages/smooth_app/lib/themes/smooth_theme_colors.dart
  packages/smooth_app/lib/widgets/smooth_circle.dart
Labels: 🥫 Product page

#6736 ci: Potential fix for code scanning alert no. 18: Workflow does not contain permissions
  .github/workflows/semantic-pr.yml
Labels: GitHub

#6735 ci: Potential fix for code scanning alert no. 5: Workflow does not contain permissions
  .github/workflows/crowdin.yml
Labels: GitHub

#6733 fix: Potential fix for code scanning alert no. 27: Workflow does not contain permissions
  .github/workflows/dartdoc.yml
Labels: GitHub

#6737 ci: Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/github-projects.yml
Labels: GitHub

#6738 ci: Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/github-projects-pr.yml
Labels: GitHub

#6748 ci: Potential fix for code scanning alert no. 19: Workflow does not contain permissions
  .github/workflows/release-please.yml
Labels: GitHub

#6667 feat: 6591 - update OxF data with Prices data
  packages/smooth_app/lib/background/background_task.dart
  packages/smooth_app/lib/background/background_task_details.dart
  packages/smooth_app/lib/background/background_task_price.dart
  packages/smooth_app/lib/pages/prices/price_to_oxf.dart
  packages/smooth_app/lib/pages/product/simple_input/simple_input_page_helpers.dart
Labels: 🥫 Product page, Prices, 🔁 Background tasks, Prices - Locations

#6778 docs: Update CONTRIBUTING.md to remove deprecated design file
  CONTRIBUTING.md
Labels: 📚 Documentation, 🎨 Design

#6773 fix: 6761 - improved number format for discount
  packages/smooth_app/lib/pages/prices/price_data_value.dart
Labels: Prices

#6774 fix: 6732 - price date displayed in local timezone
  packages/smooth_app/lib/pages/prices/price_data_widget.dart
Labels: Prices

#6786 feat: 6700 - display of "no barcode" data
  packages/smooth_app/lib/pages/prices/price_category_repository.dart
  packages/smooth_app/lib/pages/prices/price_category_widget.dart
  packages/smooth_app/lib/pages/prices/price_data_value.dart
  packages/smooth_app/lib/pages/prices/price_existing_amount_card.dart
  packages/smooth_app/lib/pages/prices/price_l10n_helper.dart
  packages/smooth_app/lib/pages/prices/price_label_repository.dart
  packages/smooth_app/lib/pages/prices/price_origin_repository.dart
  packages/smooth_app/lib/pages/prices/price_product_widget.dart
  packages/smooth_app/lib/pages/prices/price_taxonomy_repository.dart
  packages/smooth_app/lib/pages/prices/product_prices_list.dart
  packages/smooth_app/pubspec.lock
Labels: Prices

#6792 feat: Add price: Product's name in the AppBar
  packages/smooth_app/lib/pages/prices/product_price_add_page.dart
Labels: Prices

#6795 feat: 6479 - price count as badge for proof images
  packages/smooth_app/lib/pages/prices/price_proof_page.dart
  packages/smooth_app/lib/pages/prices/prices_proofs_page.dart
Labels: Prices, Prices - Proofs

#6800 chore: Revert mobile_scanner to 6.0.10
  packages/scanner/ml_kit/lib/src/scanner_ml_kit.dart
  packages/scanner/ml_kit/pubspec.yaml
  packages/smooth_app/pubspec.lock
Labels: dependencies, 🤳🥫 Scan
